actualizar-contraseña-gRWLBa0igkgGL9rz.json
{"createdAt":"2025-10-12T21:33:28.866Z","updatedAt":"2025-10-17T04:08:55.000Z","id":"gRWLBa0igkgGL9rz","name":"Registrar/Actualizar Contraseña","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"registrar-password","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-112,0],"id":"26dca36b-93b3-4077-b4c4-0c66d42ed1bf","name":"Webhook","webhookId":"c6f7ad5e-4405-48f6-bdc4-f586dd15d3cf"},{"parameters":{"jsCode":"// Este código simplemente pasa la contraseña al SQL\n// El hashing lo hará PostgreSQL con pgcrypto\nreturn {\n  json: {\n    telefono: $input.item.json.body.telefono,\n    password: $input.item.json.body.password\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,0],"id":"0e09952c-308f-4eec-aed0-ebc9a3d8abd3","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_autorizados \nSET \n  password_hash = crypt('{{ $json.password }}', gen_salt('bf', 10)),\n  ultima_sesion = CURRENT_TIMESTAMP\nWHERE telefono = '{{ $json.telefono }}' \nAND activo = true\nRETURNING id, telefono, nombre;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[336,0],"id":"24b0e842-4e48-4a21-b1da-93a13931e471","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f886ffc-1e81-4e92-92bd-ce45b6f629d7","name":"mensaje","value":"Contraseña registrada correctamente","type":"string"},{"id":"94c730c0-6167-492c-a537-9b63fa821203","name":"usuario_id","value":"={{ $json.id }}","type":"number"},{"id":"9babe323-3e2a-4b8b-a97d-e88cf42a9112","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"eba5fa64-39c1-4f3c-85f4-4418b7c72fb8","name":"activo","value":"={{ $json.activo }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,0],"id":"3c6c8224-9068-4ab0-b327-f6ad9ea30bf1","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3a2b6dd-2002-4051-963a-5bd6d210631c","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:33:28.870Z","updatedAt":"2025-10-12T21:33:28.870Z","role":"workflow:owner","workflowId":"gRWLBa0igkgGL9rz","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}