actualizar-contraseña-gRWLBa0igkgGL9rz.json
{"createdAt":"2025-10-12T21:33:28.866Z","updatedAt":"2025-10-12T23:43:00.000Z","id":"gRWLBa0igkgGL9rz","name":"Registrar/Actualizar Contraseña","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"registrar-password","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"26dca36b-93b3-4077-b4c4-0c66d42ed1bf","name":"Webhook","webhookId":"c6f7ad5e-4405-48f6-bdc4-f586dd15d3cf"},{"parameters":{"jsCode":"const bcrypt = require('bcrypt');\nconst password = $input.item.json.body.password;\nconst telefono = $input.item.json.body.telefono;\n\nconst saltRounds = 10;\nconst passwordHash = await bcrypt.hash(password, saltRounds);\n\nreturn {\n  json: {\n    telefono: telefono,\n    password_hash: passwordHash\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"0e09952c-308f-4eec-aed0-ebc9a3d8abd3","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_autorizados \nSET password_hash = '{{ $json.password_hash }}',\n    ultima_sesion = CURRENT_TIMESTAMP\nWHERE telefono = '{{ $json.telefono }}' \nAND activo = true\nRETURNING id, telefono, nombre\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"24b0e842-4e48-4a21-b1da-93a13931e471","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"23745ffe-0440-47fd-9368-10bc4649b1e2","name":"exito","value":"true","type":"string"},{"id":"0f886ffc-1e81-4e92-92bd-ce45b6f629d7","name":"mensaje","value":"Contraseña registrada correctamente","type":"string"},{"id":"94c730c0-6167-492c-a537-9b63fa821203","name":"usuario_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,0],"id":"3c6c8224-9068-4ab0-b327-f6ad9ea30bf1","name":"Edit Fields"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,0],"id":"3086fbe6-d864-4907-820a-93278e00e496","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7121b804-af61-4ec8-be6a-96c676343f56","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:33:28.870Z","updatedAt":"2025-10-12T21:33:28.870Z","role":"workflow:owner","workflowId":"gRWLBa0igkgGL9rz","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}