actualizar-contraseña-gRWLBa0igkgGL9rz.json
{"createdAt":"2025-10-12T21:33:28.866Z","updatedAt":"2025-10-13T04:24:30.000Z","id":"gRWLBa0igkgGL9rz","name":"Registrar/Actualizar Contrase침a","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"registrar-password","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"26dca36b-93b3-4077-b4c4-0c66d42ed1bf","name":"Webhook","webhookId":"c6f7ad5e-4405-48f6-bdc4-f586dd15d3cf"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// Obtener datos del webhook\nconst password = $input.item.json.body.password;\nconst telefono = $input.item.json.body.telefono;\n\n// Generar salt y hash usando crypto (compatible con bcrypt en la validaci칩n)\n// Usamos pbkdf2 que es m치s seguro y viene incluido\nconst salt = crypto.randomBytes(16).toString('hex');\nconst hash = crypto.pbkdf2Sync(password, salt, 10000, 64, 'sha512').toString('hex');\nconst passwordHash = `${salt}:${hash}`;\n\nreturn {\n  json: {\n    telefono: telefono,\n    password_hash: passwordHash\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,144],"id":"0e09952c-308f-4eec-aed0-ebc9a3d8abd3","name":"Code in JavaScript","disabled":true},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_autorizados \nSET password_hash = crypt('{{ $json.body.password }}', gen_salt('bf', 10))\nWHERE telefono = '{{ $json.body.telefono }}'\nRETURNING id, nombre, telefono, activo;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[256,0],"id":"24b0e842-4e48-4a21-b1da-93a13931e471","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"0f886ffc-1e81-4e92-92bd-ce45b6f629d7","name":"mensaje","value":"Contrase침a registrada correctamente","type":"string"},{"id":"94c730c0-6167-492c-a537-9b63fa821203","name":"usuario_id","value":"={{ $json.id }}","type":"number"},{"id":"9babe323-3e2a-4b8b-a97d-e88cf42a9112","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"eba5fa64-39c1-4f3c-85f4-4418b7c72fb8","name":"activo","value":"={{ $json.activo }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,0],"id":"3c6c8224-9068-4ab0-b327-f6ad9ea30bf1","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Execute a SQL query":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.aa7tej.easypanel.host","user-agent":"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Mobile Safari/537.36","content-length":"48","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-CO,es;q=0.7","content-type":"application/json","origin":"https://preview--bite-biz-hub.lovable.app","priority":"u=1, i","referer":"https://preview--bite-biz-hub.lovable.app/","sec-ch-ua":"\"Brave\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"Android\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","sec-gpc":"1","x-forwarded-for":"191.107.188.232","x-forwarded-host":"n8n-n8n.aa7tej.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4473dde1486f","x-real-ip":"191.107.188.232"},"params":{},"query":{},"body":{"telefono":"+573103015865","password":"123456"},"webhookUrl":"https://n8n-n8n.aa7tej.easypanel.host/webhook/registrar-password","executionMode":"production"}}]},"versionId":"46133c11-4d50-406b-b543-33d8b513ad1e","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:33:28.870Z","updatedAt":"2025-10-12T21:33:28.870Z","role":"workflow:owner","workflowId":"gRWLBa0igkgGL9rz","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}