backupworkflows-5wYy5ShTVVOIy7nQ.json
{"createdAt":"2025-10-07T04:34:24.537Z","updatedAt":"2025-10-08T02:16:07.000Z","id":"5wYy5ShTVVOIy7nQ","name":"backupWORKFLOWS","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,32],"id":"6df2dbf5-72b5-41d0-822f-b572606b3dae","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"due単o_repositorio\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json[\"nombre_repositorio\"] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[336,32],"id":"e526983c-10d9-4c62-96b1-edf94aa14cf3","name":"List files","webhookId":"093b6c29-6f29-4801-8700-d1229663fd54","alwaysOutputData":true,"credentials":{"githubApi":{"id":"SpLnBHj6xV4jsqqD","name":"Guthub_milena"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[544,32],"id":"7e5e406c-c2b7-40bc-bc33-d4540a6f2d2f","name":"Combinar archivos"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[752,32],"id":"e310f0a1-6ef8-42d0-a900-367b517be8f7","name":"Get many workflows","credentials":{"n8nApi":{"id":"KKrNYP3EFV3Fdq4C","name":"n8n aws"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1296,32],"id":"c36c5bad-f621-476f-85f1-8ab1bd2d7396","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,-256],"id":"2c177f8a-290f-4a8f-85f4-220116a20af0","name":"No Operation, do nothing"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('campos').item.json['due単o_repositorio'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('campos').item.json.nombre_repositorio }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('campos').item.json.commitDate }}"},"id":"a6bac16c-3221-43d6-84da-59b55e08d300","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[1744,32],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"SpLnBHj6xV4jsqqD","name":"Guthub_milena"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('campos').item.json['due単o_repositorio'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('campos').item.json.nombre_repositorio }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('campos').item.json.commitDate }}"},"id":"f0b4c9c2-cdc6-44df-a10c-0425d7e396ec","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[1744,224],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"SpLnBHj6xV4jsqqD","name":"Guthub_milena"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"ad6b88ab-1edf-432d-ba97-92f8c51e8e13","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1072,32]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"243acf60-29a6-4396-9f94-54f5df797ed7","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[1520,-48]},{"parameters":{"assignments":{"assignments":[{"id":"5f44baa1-2387-491e-9597-a45b53ae5f41","name":"due単o_repositorio","value":"dev8805","type":"string"},{"id":"e1c2437a-91e6-40b8-83cf-212854dc5a80","name":"nombre_repositorio","value":"backup_n8n","type":"string"},{"id":"823ad5f6-b3c8-43cb-bc46-f19a2fd62ef7","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,32],"id":"d113e00c-7b24-4965-a3f0-79e32fbe2d4a","name":"campos"}],"connections":{"Schedule Trigger":{"main":[[{"node":"campos","type":"main","index":0}]]},"List files":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"campos":{"main":[[{"node":"List files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":60,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a639d79-1d7a-4ba0-8bc1-c534f19e08f3","triggerCount":1,"shared":[{"createdAt":"2025-10-07T04:34:24.542Z","updatedAt":"2025-10-07T04:34:24.542Z","role":"workflow:owner","workflowId":"5wYy5ShTVVOIy7nQ","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}