crear_producto-ubS47RpCUfaTu9C9.json
{"createdAt":"2025-10-06T05:13:20.455Z","updatedAt":"2025-10-11T19:14:53.000Z","id":"ubS47RpCUfaTu9C9","name":"crear_producto","active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"b8ee063b-7291-4ab2-b41f-218cc6291195","name":"PRODUCTO","value":"={{ $json['Nombre original del producto'] }}","type":"string"},{"id":"b7c9558a-95d7-48ef-be15-94d27f976bdd","name":"UNIDAD_MEDIDA","value":"={{ $json['En que presentación viene el producto'][0] }}","type":"string"},{"id":"1110ef4a-d482-42ee-96a8-9c0114ca78bd","name":"STOCK_ACTUAL_UNIDADES","value":"={{ $json['Stock actual en unidades'] }}","type":"number"},{"id":"06b0b81d-9f1b-4334-8991-c27a3b9216e0","name":"FACTOR_UNIDADES","value":"={{ $json['Cuantas unidades vienen en la caja, paca, bolsa etc'] }}","type":"number"},{"id":"44be73a8-bd62-4bf0-9975-129c6ce683eb","name":"APODO","value":"={{ $json['De que otras formas se quiere referir al producto'] }}","type":"string"},{"id":"9bac2c65-433e-41b9-983a-5e33ca838cfb","name":"Precio","value":"={{ $json['Precio por unidad'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,448],"id":"b1e31af9-a332-499e-9d1c-233288ef42dc","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"232329bf-41c0-4fc0-8356-29c5093d10a5","name":"PRODUCTO","value":"={{ $json['Nombre original del producto'] }}","type":"string"},{"id":"9b8362e5-fbfe-424a-a245-6d4d74b53fd7","name":"PRECIO_UNITARIO","value":"={{ $json['Precio por unidad'] }}","type":"number"},{"id":"64dde1ca-ae7c-4940-a0c1-c8ff648b998c","name":"APODO","value":"={{ $json['De que otras formas se quiere referir al producto'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-16,208],"id":"a2972d8f-ec7a-4e07-a614-274ffbc09ed8","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"pepe cadena","remoteJid":"={{ $json['teléfono'] }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[608,448],"id":"eb89d716-4719-40b9-8da5-20bb4999a1f8","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"21191951-ce5b-43c6-a8d0-e9ccd3d361e6","name":"mensaje","value":"=✅ Registro exitoso de nuevo producto a INVENTARIO\n\nPRODUCTO: {{ $json.producto }}\nPRESENTACION: {{ $json.unidad_medida }}\nSTOCK ACTUAL: {{ $json.stock_actual_unidades }} unidades\nPRECIO: {{ $('Edit Fields').item.json.Precio }}\nAPODOS/REFERENCIAS: {{ $('Edit Fields').item.json.APODO }} ","type":"string"},{"id":"3e3158ab-8679-4fdb-b8c9-725586d2c572","name":"teléfono","value":"=57{{ $('On form submission1').item.json['Teléfono para confirmar el ingreso'] }}@s.whatsapp.net","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,448],"id":"27dff774-98d8-48c2-b71a-7e6e2803b9de","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"232329bf-41c0-4fc0-8356-29c5093d10a5","name":"PRODUCTO","value":"={{ $json['Nombre original del producto'] }}","type":"string"},{"id":"64dde1ca-ae7c-4940-a0c1-c8ff648b998c","name":"APODO","value":"={{ $json['De que otras formas se quiere referir al producto'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,-32],"id":"adaf5474-5d2a-4543-b0b3-f9d232354abb","name":"Edit Fields3"},{"parameters":{"formTitle":"Crear Producto Nuevo","formFields":{"values":[{"fieldLabel":"Nombre original del producto","requiredField":true},{"fieldLabel":"En que presentación viene el producto","fieldType":"checkbox","fieldOptions":{"values":[{"option":"CAJAS"},{"option":"PACAS"},{"option":"UNIDADES"},{"option":"PAQUETES"},{"option":"BOLSAS"}]}},{"fieldLabel":"Cuantas unidades vienen en la caja, paca, bolsa etc","fieldType":"number","requiredField":true},{"fieldLabel":"Stock actual en unidades","fieldType":"number","requiredField":true},{"fieldLabel":"De que otras formas se quiere referir al producto","placeholder":"Agua natural, botella de agua, agua 600","requiredField":true},{"fieldLabel":"Precio por unidad","fieldType":"number","requiredField":true},{"fieldLabel":"Teléfono para confirmar el ingreso","fieldType":"number","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Crear Producto","customCss":":root {\n    --font-family: 'Open Sans', sans-serif;\n    --font-weight-normal: 400;\n    --font-weight-bold: 600;\n    --font-size-body: 12px;\n    --font-size-label: 14px;\n    --font-size-test-notice: 12px;\n    --font-size-input: 14px;\n    --font-size-header: 20px;\n    --font-size-paragraph: 14px;\n    --font-size-link: 12px;\n    --font-size-error: 12px;\n    --font-size-html-h1: 28px;\n    --font-size-html-h2: 20px;\n    --font-size-html-h3: 16px;\n    --font-size-html-h4: 14px;\n    --font-size-html-h5: 12px;\n    --font-size-html-h6: 10px;\n    --font-size-subheader: 14px;\n    /* Colors */\n    --color-background: \n#fbfcfe;\n    --color-test-notice-text: \n#e6a23d;\n    --color-test-notice-bg: \n#fefaf6;\n    --color-test-notice-border: \n#f6dcb7;\n    --color-card-bg: \n#ffffff;\n    --color-card-border: \n#dbdfe7;\n    --color-card-shadow: rgba(99, 77, 255, 0.06);\n    --color-link: \n#7e8186;\n    --color-header: \n#525356;\n    --color-label: \n#555555;\n    --color-input-border: \n#dbdfe7;\n    --color-input-text: \n#71747A;\n    --color-focus-border: rgb(90, 76, 194);\n    --color-submit-btn-bg: \n#ff6d5a;\n    --color-submit-btn-text: \n#ffffff;\n    --color-error: \n#ea1f30;\n    --color-required: \n#ff6d5a;\n    --color-clear-button-bg: \n#7e8186;\n    --color-html-text: #555;\n    --color-html-link: \n#ff6d5a;\n    --color-header-subtext: \n#7e8186;\n    /* Border Radii */\n    --border-radius-card: 8px;\n    --border-radius-input: 6px;\n    --border-radius-clear-btn: 50%;\n    --card-border-radius: 8px;\n    /* Spacing */\n    --padding-container-top: 24px;\n    --padding-card: 24px;\n    --padding-test-notice-vertical: 12px;\n    --padding-test-notice-horizontal: 24px;\n    --margin-bottom-card: 16px;\n    --padding-form-input: 12px;\n    --card-padding: 24px;\n    --card-margin-bottom: 16px;\n    /* Dimensions */\n    --container-width: 448px;\n    --submit-btn-height: 48px;\n    --checkbox-size: 18px;\n    /* Others */\n    --box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n    --opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-272,208],"id":"e22ff67d-0af3-483a-9e86-c866bf870b9d","name":"On form submission1","webhookId":"5d478c1f-757d-4152-bc9c-2f9f629e792d"},{"parameters":{"jsCode":"// Obtener todos los items del input\nconst items = $input.all();\n\nconsole.log(`📦 Items recibidos: ${items.length}`);\n\n// Si no hay items, retornar vacío\nif (!items || items.length === 0) {\n  console.log('⚠️ No hay items para procesar');\n  return [];\n}\n\nconst resultado = [];\n\n// Procesar cada item\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const data = item.json;\n  \n  console.log(`\\n🔍 Procesando item ${i + 1}:`, data);\n  \n  // CAMBIO: Usar MAYÚSCULAS\n  const producto = data.PRODUCTO || data.producto;\n  const apodo = data.APODO || data.apodo;\n  const fuente = data.FUENTE || data.fuente;\n  const fechaCreacion = data.FECHA_CREACION || data.fecha_creacion;\n  const activo = data.ACTIVO !== undefined ? data.ACTIVO : (data.activo !== undefined ? data.activo : true);\n  \n  // Verificar que exista el producto\n  if (!producto) {\n    console.log('⚠️ Item sin producto, saltando...');\n    continue;\n  }\n  \n  // Si no hay apodo o está vacío, crear una sola fila\n  if (!apodo || apodo.trim() === '') {\n    console.log(`   → Sin apodos, creando 1 fila para: ${producto}`);\n    resultado.push({\n      json: {\n        producto: producto,\n        apodo: producto,\n        fuente: fuente || null,\n        fecha_creacion: fechaCreacion || new Date().toISOString(),\n        activo: activo\n      }\n    });\n    continue;\n  }\n  \n  // Dividir apodos por coma\n  const apodos = apodo\n    .split(',')\n    .map(a => a.trim())\n    .filter(a => a !== '');\n  \n  console.log(`   → Apodos encontrados: ${apodos.length}`, apodos);\n  \n  // Crear una fila por cada apodo\n  apodos.forEach((apodoIndividual, idx) => {\n    console.log(`   ✅ Creando fila ${idx + 1}: ${apodoIndividual}`);\n    resultado.push({\n      json: {\n        producto: producto,\n        apodo: apodoIndividual,\n        fuente: fuente || null,\n        fecha_creacion: fechaCreacion || new Date().toISOString(),\n        activo: activo\n      }\n    });\n  });\n}\n\nconsole.log(`\\n📊 Total filas generadas: ${resultado.length}`);\n\nreturn resultado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,-32],"id":"21689655-0fbc-49fa-bb5b-ca4c5ebb7d68","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"apodos_productos","mode":"list","cachedResultName":"apodos_productos"},"columns":{"mappingMode":"defineBelow","value":{"producto":"={{ $json.producto }}","fecha_creacion":"2025-10-06T22:13:11","apodo":"={{ $json.apodo }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"apodo","displayName":"apodo","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fuente","displayName":"fuente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fecha_creacion","displayName":"fecha_creacion","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"activo","displayName":"activo","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,-32],"id":"1afe41e2-3564-400d-aeb5-fbf7a1d1d2c4","name":"insertaApodos","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_precios","mode":"list","cachedResultName":"cache_precios"},"columns":{"mappingMode":"defineBelow","value":{"precio_unitario":"={{ $json.PRECIO_UNITARIO }}","producto":"={{ $json.PRODUCTO }}","updated_at":"2025-10-06T22:25:25"},"matchingColumns":[],"schema":[{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"precio_unitario","displayName":"precio_unitario","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"costo","displayName":"costo","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,208],"id":"946f5f9d-845d-4bad-bbc6-ca57e9f4a181","name":"actualiza_precios","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"columns":{"mappingMode":"defineBelow","value":{"factor_unidades":"={{ $json.FACTOR_UNIDADES }}","stock_actual_unidades":"={{ $json.STOCK_ACTUAL_UNIDADES }}","producto":"={{ $json.PRODUCTO }}","unidad_medida":"={{ $json.UNIDAD_MEDIDA }}","updated_at":"2025-10-06T22:36:10"},"matchingColumns":[],"schema":[{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"unidad_medida","displayName":"unidad_medida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"factor_unidades","displayName":"factor_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"stock_actual_unidades","displayName":"stock_actual_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"precio_ultima_compra","displayName":"precio_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_ultima_compra","displayName":"fecha_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[160,448],"id":"dcdfa441-2404-4d5e-a2bf-67856bca0f96","name":"ingresan a Inventario","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"ingresan a Inventario","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"actualiza_precios","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"insertaApodos","type":"main","index":0}]]},"actualiza_precios":{"main":[[]]},"Edit Fields2":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"ingresan a Inventario":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission1":[{"json":{"Nombre original del producto":"Arepa con Queso","En que presentación viene el producto":["UNIDADES"],"Cuantas unidades vienen en la caja, paca, bolsa etc":1,"Stock actual en unidades":0,"De que otras formas se quiere referir al producto":"arepa de queso, arepa","Precio por unidad":3500,"Teléfono para confirmar el ingreso":3103015865,"submittedAt":"2025-10-11T14:08:29.787-05:00","formMode":"production"}}]},"versionId":"bc03b030-a520-42ec-b918-5e59e72078a8","triggerCount":1,"shared":[{"createdAt":"2025-10-06T05:13:20.460Z","updatedAt":"2025-10-06T05:13:20.460Z","role":"workflow:owner","workflowId":"ubS47RpCUfaTu9C9","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}