crear_producto-ubS47RpCUfaTu9C9.json
{"createdAt":"2025-10-06T05:13:20.455Z","updatedAt":"2025-10-19T04:28:59.000Z","id":"ubS47RpCUfaTu9C9","name":"crear_producto","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"pepe cadena","remoteJid":"={{ $json['teléfono'] }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,192],"id":"eb89d716-4719-40b9-8da5-20bb4999a1f8","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  ft.tenant_id,\n  ft.user_id,\n  ft.usos,\n  ft.expires_at,\n  tu.nombre as nombre_usuario,\n  t.nombre_negocio\nFROM form_tokens ft\nJOIN tenant_users tu ON ft.user_id = tu.user_id\nJOIN tenants t ON ft.tenant_id = t.tenant_id\nWHERE ft.token = '{{ $json.query.token || $json.token }}'::uuid\n  AND ft.expires_at > NOW()\nLIMIT 1;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-752,208],"id":"673ebfd9-e547-4405-8c9a-3640915ffb9f","name":"Validar token","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"pepe cadena","remoteJid":"={{ $json['teléfono'] }}","messageText":"=El enlace expiró (24 horas). Solicita uno nuevo escribiendo 'crear producto' por WhatsApp","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-400,352],"id":"8a1e3766-a87f-489a-a425-95c2f5473ead","name":"linkExpirado","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO productos (\n  tenant_id,\n  codigo,\n  producto,\n  precio_unitario,\n  costo,\n  created_by\n) VALUES (\n  '{{ $('Validar token').item.json.tenant_id }}',\n  '{{ $('Generar código').item.json.codigo }}',\n  '{{ $('Webhook').item.json.body.producto }}',\n  {{ $('Webhook').item.json.body.precio }},\n  {{ $('Webhook').item.json.body.costo || 0 }},\n  '{{ $('Validar token').item.json.user_id }}'\n)\nRETURNING producto_id, codigo, producto;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-288,192],"id":"b158b8de-bae8-4a63-b2aa-19a57b05b39e","name":"Insertar producto","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"formTitle":"Crear Producto Nuevo","formFields":{"values":[{"fieldLabel":"Nombre original del producto","requiredField":true},{"fieldLabel":"En que presentación viene el producto","fieldType":"checkbox","fieldOptions":{"values":[{"option":"CAJAS"},{"option":"PACAS"},{"option":"UNIDADES"},{"option":"PAQUETES"},{"option":"BOLSAS"}]}},{"fieldLabel":"Cuantas unidades vienen en la caja, paca, bolsa etc","fieldType":"number","requiredField":true},{"fieldLabel":"Stock actual en unidades","fieldType":"number","requiredField":true},{"fieldLabel":"De que otras formas se quiere referir al producto","placeholder":"Agua natural, botella de agua, agua 600","requiredField":true},{"fieldLabel":"Precio por unidad","fieldType":"number","requiredField":true},{"fieldLabel":"Teléfono para confirmar el ingreso","fieldType":"number","requiredField":true}]},"options":{"appendAttribution":false,"buttonLabel":"Crear Producto","customCss":":root {\n    --font-family: 'Open Sans', sans-serif;\n    --font-weight-normal: 400;\n    --font-weight-bold: 600;\n    --font-size-body: 12px;\n    --font-size-label: 14px;\n    --font-size-test-notice: 12px;\n    --font-size-input: 14px;\n    --font-size-header: 20px;\n    --font-size-paragraph: 14px;\n    --font-size-link: 12px;\n    --font-size-error: 12px;\n    --font-size-html-h1: 28px;\n    --font-size-html-h2: 20px;\n    --font-size-html-h3: 16px;\n    --font-size-html-h4: 14px;\n    --font-size-html-h5: 12px;\n    --font-size-html-h6: 10px;\n    --font-size-subheader: 14px;\n    /* Colors */\n    --color-background: \n#fbfcfe;\n    --color-test-notice-text: \n#e6a23d;\n    --color-test-notice-bg: \n#fefaf6;\n    --color-test-notice-border: \n#f6dcb7;\n    --color-card-bg: \n#ffffff;\n    --color-card-border: \n#dbdfe7;\n    --color-card-shadow: rgba(99, 77, 255, 0.06);\n    --color-link: \n#7e8186;\n    --color-header: \n#525356;\n    --color-label: \n#555555;\n    --color-input-border: \n#dbdfe7;\n    --color-input-text: \n#71747A;\n    --color-focus-border: rgb(90, 76, 194);\n    --color-submit-btn-bg: \n#ff6d5a;\n    --color-submit-btn-text: \n#ffffff;\n    --color-error: \n#ea1f30;\n    --color-required: \n#ff6d5a;\n    --color-clear-button-bg: \n#7e8186;\n    --color-html-text: #555;\n    --color-html-link: \n#ff6d5a;\n    --color-header-subtext: \n#7e8186;\n    /* Border Radii */\n    --border-radius-card: 8px;\n    --border-radius-input: 6px;\n    --border-radius-clear-btn: 50%;\n    --card-border-radius: 8px;\n    /* Spacing */\n    --padding-container-top: 24px;\n    --padding-card: 24px;\n    --padding-test-notice-vertical: 12px;\n    --padding-test-notice-horizontal: 24px;\n    --margin-bottom-card: 16px;\n    --padding-form-input: 12px;\n    --card-padding: 24px;\n    --card-margin-bottom: 16px;\n    /* Dimensions */\n    --container-width: 448px;\n    --submit-btn-height: 48px;\n    --checkbox-size: 18px;\n    /* Others */\n    --box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n    --opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-976,208],"id":"e22ff67d-0af3-483a-9e86-c866bf870b9d","name":"Webhook","webhookId":"5d478c1f-757d-4152-bc9c-2f9f629e792d"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO inventario (\n  tenant_id,\n  producto,\n  cantidad,\n  unidad,\n  created_by\n) VALUES (\n  '{{ $('Validar token').item.json.tenant_id }}',\n  '{{ $('Insertar producto').item.json.producto }}',\n  {{ $('Webhook').item.json.body.stock || 0 }},\n  'unidad',\n  '{{ $('Validar token').item.json.user_id }}'\n)\nRETURNING *;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,192],"id":"708214f8-a52a-4868-9ed2-6bc7e32642c2","name":"Insertar inventario inicial","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"const apodos = ($('Webhook').item.json.body.apodos || '')\n  .split(',')\n  .map(a => a.trim())\n  .filter(a => a.length > 0);\n\nconst producto_id = $('Insertar producto').item.json.producto_id;\nconst tenant_id = $('Validar token').item.json.tenant_id;\n\nreturn apodos.map(apodo => ({\n  tenant_id: tenant_id,\n  producto_id: producto_id,\n  apodo: apodo.toLowerCase()\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,192],"id":"11a84006-a94d-441a-a8f2-ae592358aa5a","name":"Procesar apodos"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO productos_apodos (tenant_id, producto_id, apodo)\nVALUES (\n  '{{ $json.tenant_id }}',\n  '{{ $json.producto_id }}',\n  '{{ $json.apodo }}'\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[384,192],"id":"15ff99ae-87f8-46f8-a631-85f3c9c6ae12","name":"Insertar apodos","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d562c930-56ab-44f9-bf4d-1c71e1ed1ebc","leftValue":"={{ $json.tenant_id }}","rightValue":"","operator":{"type":"boolean","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-544,208],"id":"47e8f0d6-61b5-486e-94d1-a693811e8f73","name":"Token válido?"},{"parameters":{"operation":"executeQuery","query":"UPDATE form_tokens\nSET \n  usos = usos + 1,\n  ultimo_uso_at = NOW()\nWHERE token = '{{ $('Webhook').item.json.query.token }}'::uuid\nRETURNING usos, ultimo_uso_at;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[624,192],"id":"1eae0701-98aa-4b69-bb3d-a800a797d8f5","name":"Incrementar contador","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}}],"connections":{"Validar token":{"main":[[{"node":"Token válido?","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validar token","type":"main","index":0}]]},"Insertar producto":{"main":[[{"node":"Insertar inventario inicial","type":"main","index":0}]]},"Insertar inventario inicial":{"main":[[{"node":"Procesar apodos","type":"main","index":0}]]},"Procesar apodos":{"main":[[{"node":"Insertar apodos","type":"main","index":0}]]},"Insertar apodos":{"main":[[{"node":"Incrementar contador","type":"main","index":0}]]},"Token válido?":{"main":[[{"node":"Insertar producto","type":"main","index":0}],[{"node":"linkExpirado","type":"main","index":0}]]},"Incrementar contador":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"Nombre original del producto":"Arepa con Queso","En que presentación viene el producto":["UNIDADES"],"Cuantas unidades vienen en la caja, paca, bolsa etc":1,"Stock actual en unidades":0,"De que otras formas se quiere referir al producto":"arepa de queso, arepa","Precio por unidad":3500,"Teléfono para confirmar el ingreso":3103015865,"submittedAt":"2025-10-11T14:08:29.787-05:00","formMode":"production"}}]},"versionId":"2af15440-bade-48df-82bb-e25bc1fc6d3c","triggerCount":1,"shared":[{"createdAt":"2025-10-06T05:13:20.460Z","updatedAt":"2025-10-06T05:13:20.460Z","role":"workflow:owner","workflowId":"ubS47RpCUfaTu9C9","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}