envio_link_nuevoproducto-8oU6HQJ27cFnKBQV.json
{"createdAt":"2025-10-06T05:13:56.312Z","updatedAt":"2025-10-18T17:05:37.000Z","id":"8oU6HQJ27cFnKBQV","name":"envio_link_nuevoProducto","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"51fa4f01-1dff-4f22-8690-dbfbdcefb133","name":"linkCrear","value":"\"Para crear un nuevo producto, usa este formulario: https://n8n-n8n.aa7tej.easypanel.host/form/5d478c1f-757d-4152-bc9c-2f9f629e792d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-144,-48],"id":"2cd86bd3-7f93-413d-ab77-c273a462d98e","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').item.json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.telefono }}","messageText":"={{ $json.linkCrear }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[112,-48],"id":"d30d27ce-1a65-42ea-ac97-21e78eac8ee2","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"user_id"},{"name":"permisos"},{"name":"rol"},{"name":"nombre_usuario"},{"name":"mensaje"},{"name":"numero_telefono"},{"name":"date_time"},{"name":"instancia"},{"name":"autorizado"}]}},"id":"2dd3967f-977e-4b04-a8fb-9f0f5ad49723","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1216,-48]},{"parameters":{"jsCode":"// Verificar si viene pre-autorizado desde gerson_ventas\nif ($json.autorizado === true && $json.tenant_id) {\n  // Parsear permisos si vienen como string\n  let permisos = $json.permisos;\n  if (typeof permisos === 'string') {\n    permisos = JSON.parse(permisos);\n  }\n  \n  return {\n    tenant_id: $json.tenant_id,\n    user_id: $json.user_id,\n    rol: $json.rol,\n    permisos: permisos,\n    nombre_usuario: $json.nombre_usuario,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia,\n    pre_validado: true\n  };\n} else {\n  // Llamada directa (testing sin gerson_ventas)\n  return {\n    necesita_validacion: true,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1008,-48],"id":"77a4daa8-5b96-46ff-9795-dccdc40bf472","name":"Verificar Autorización"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.necesita_validacion }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,-48],"id":"3f6697c8-6967-47d5-97d8-ce57a5a23eef","name":"Necesita Validación?"},{"parameters":{"workflowId":{"__rl":true,"value":"niw7nbWmuCLHmO5F","mode":"list","cachedResultUrl":"/workflow/niw7nbWmuCLHmO5F","cachedResultName":"identificar_tenant"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-624,-256],"id":"79d5d1b6-a4ba-4ab4-819e-7170f1e7bb08","name":"Call 'identificar_tenant'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.permisos.productos.crear }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-32],"id":"0d7ce024-14e1-461e-b8c2-31c5dadd9e8d","name":"Permiso Crear Productos"},{"parameters":{"jsCode":"return {\n  mensaje: `❌ ${$json.nombre_usuario || 'Usuario'}, no tienes permiso para crear productos.`\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,112],"id":"1c867db3-7216-483c-b7c5-f50f13685a80","name":"sin permiso"}],"connections":{"Edit Fields":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Verificar Autorización","type":"main","index":0}]]},"Verificar Autorización":{"main":[[{"node":"Necesita Validación?","type":"main","index":0}]]},"Necesita Validación?":{"main":[[{"node":"Call 'identificar_tenant'","type":"main","index":0}],[{"node":"Permiso Crear Productos","type":"main","index":0}]]},"Permiso Crear Productos":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"sin permiso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"1 \"Coca Cola 350ml\"\n","numero_telefono":"573103015865@s.whatsapp.net","date_time":"11/10/2025","instancia":"pepe cadena"}}]},"versionId":"1de0158e-6810-4b4e-be95-c7c5369cb226","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:13:56.317Z","updatedAt":"2025-10-06T05:13:56.317Z","role":"workflow:owner","workflowId":"8oU6HQJ27cFnKBQV","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}