envio_link_nuevoproducto-8oU6HQJ27cFnKBQV.json
{"createdAt":"2025-10-06T05:13:56.312Z","updatedAt":"2025-10-12T03:58:25.000Z","id":"8oU6HQJ27cFnKBQV","name":"envio_link_nuevoProducto","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"instancia"},{"name":"telefono"},{"name":"fecha"}]}},"id":"3b462a3a-ac19-46b3-9200-3d5ea3a1527f","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-304,0]},{"parameters":{"assignments":{"assignments":[{"id":"51fa4f01-1dff-4f22-8690-dbfbdcefb133","name":"linkCrear","value":"\"Para crear un nuevo producto, usa este formulario: https://n8n-n8n.aa7tej.easypanel.host/form/5d478c1f-757d-4152-bc9c-2f9f629e792d","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,0],"id":"2cd86bd3-7f93-413d-ab77-c273a462d98e","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').item.json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.telefono }}","messageText":"={{ $json.linkCrear }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,0],"id":"d30d27ce-1a65-42ea-ac97-21e78eac8ee2","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"crear producto","instancia":"pepe cadena","telefono":"573103015865@s.whatsapp.net","fecha":"06/10/2025"}}]},"versionId":"b58dc013-b4db-4dc2-a072-c370dd8c0fe7","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:13:56.317Z","updatedAt":"2025-10-06T05:13:56.317Z","role":"workflow:owner","workflowId":"8oU6HQJ27cFnKBQV","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}