envio_link_nuevoproducto-8oU6HQJ27cFnKBQV.json
{"createdAt":"2025-10-06T05:13:56.312Z","updatedAt":"2025-10-19T15:10:19.000Z","id":"8oU6HQJ27cFnKBQV","name":"envio_link_nuevoProducto","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').item.json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.numero_telefono }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[624,-32],"id":"d30d27ce-1a65-42ea-ac97-21e78eac8ee2","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"jsCode":"// Referencia directa al nodo trigger\nconst triggerData = $('When Executed by Another Workflow').item.json;\n\nlet necesita_validacion = true;\n\n// Si viene autorizado desde whatsapp_router\nif (triggerData.autorizado === \"true\" || triggerData.autorizado === true) {\n  necesita_validacion = false;  // ⬅️ Ya está autorizado, NO necesita validación\n}\n\nreturn {\n  tenant_id: triggerData.tenant_id,\n  user_id: triggerData.user_id,\n  permisos: triggerData.permisos,  // String JSON\n  rol: triggerData.rol,\n  nombre_usuario: triggerData.nombre_usuario,\n  instancia: triggerData.instancia,\n  numero_telefono: triggerData.numero_telefono,\n  mensaje: triggerData.mensaje,\n  date_time: triggerData.date_time,\n  necesita_validacion: necesita_validacion\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,-48],"id":"77a4daa8-5b96-46ff-9795-dccdc40bf472","name":"Verificar Autorización"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.necesita_validacion }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-336,-48],"id":"3f6697c8-6967-47d5-97d8-ce57a5a23eef","name":"Necesita Validación?"},{"parameters":{"workflowId":{"__rl":true,"value":"niw7nbWmuCLHmO5F","mode":"list","cachedResultUrl":"/workflow/niw7nbWmuCLHmO5F","cachedResultName":"identificar_tenant"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-112,-240],"id":"79d5d1b6-a4ba-4ab4-819e-7170f1e7bb08","name":"Call 'identificar_tenant'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.tiene_permiso_crear }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,-32],"id":"0d7ce024-14e1-461e-b8c2-31c5dadd9e8d","name":"Permiso Crear Productos"},{"parameters":{"jsCode":"return {\n  mensaje: `❌ ${$json.nombre_usuario || 'Usuario'}, no tienes permiso para crear productos.`\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,144],"id":"1c867db3-7216-483c-b7c5-f50f13685a80","name":"sin permiso"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO form_tokens (\n  tenant_id,\n  user_id,\n  tipo_form\n) VALUES (\n  '{{ $json.tenant_id }}',\n  '{{ $json.user_id }}',\n  'crear_producto'\n)\nRETURNING token;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1280,-48],"id":"4e1a39de-40d4-4ee3-8f7b-c80646e4cb20","name":"Generar token","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"const token = $json.token;\n\n// URL de producción del Form Trigger\nconst formUrl = \"https://n8n-n8n.aa7tej.easypanel.host/form/5d478c1f-757d-4152-bc9c-2f9f629e792d\";\n\nreturn {\n  link: `${formUrl}?token=${token}`,\n  token: token,\n  tenant_id: $json.tenant_id,\n  user_id: $json.user_id\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,-48],"id":"75de8fbd-64a1-40bf-a122-c156037e7313","name":"Construir link"},{"parameters":{"jsCode":"return {\n  mensaje: `📝 *Formulario de Creación de Productos*\\n\\n` +\n           `Accede al siguiente enlace para registrar tu nuevo producto:\\n\\n` +\n           `${$('Construir link').item.json.link}\\n\\n` +\n           `ℹ️ *Información importante:*\\n` +\n           `• Este enlace es válido por 24 horas\\n` +\n           `• Solo puede usarse una vez\\n` +\n           `• Puedes solicitar un nuevo enlace cuando lo necesites escribiendo \"crear producto\"\\n\\n`,\n  phone: $json.session_id || $json.telefono\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-48],"id":"4098c25e-9e1c-4a00-9083-2d28d2e9cfd1","name":"creaMensaje"},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"user_id"},{"name":"permisos"},{"name":"rol"},{"name":"nombre_usuario"},{"name":"mensaje"},{"name":"numero_telefono"},{"name":"date_time"},{"name":"instancia"},{"name":"autorizado"}]}},"id":"2dd3967f-977e-4b04-a8fb-9f0f5ad49723","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1488,-48]},{"parameters":{"jsCode":"// Obtener datos del nodo anterior\nconst datos = $input.item.json;\n\n// Parsear permisos de string a objeto\nlet permisosObj = {};\ntry {\n  if (typeof datos.permisos === 'string') {\n    permisosObj = JSON.parse(datos.permisos);\n  } else {\n    permisosObj = datos.permisos;\n  }\n} catch (error) {\n  permisosObj = {};\n}\n\n// Verificar permiso de crear productos\nconst tiene_permiso_crear = permisosObj?.productos?.crear === true;\n\n// Retornar todos los datos + permisos parseados\nreturn [{\n  tenant_id: datos.tenant_id,\n  user_id: datos.user_id,\n  rol: datos.rol,\n  nombre_usuario: datos.nombre_usuario,\n  instancia: datos.instancia,\n  numero_telefono: datos.numero_telefono,\n  mensaje: datos.mensaje,\n  date_time: datos.date_time,\n  necesita_validacion: datos.necesita_validacion,\n  permisos_string: datos.permisos,  // Original como string\n  permisos_obj: permisosObj,  // Parseado como objeto\n  tiene_permiso_crear: tiene_permiso_crear  // Boolean directo\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-32],"id":"206bee50-700f-4c89-8475-85b5795d79b5","name":"Parsear Permisos"}],"connections":{"Verificar Autorización":{"main":[[{"node":"Necesita Validación?","type":"main","index":0}]]},"Necesita Validación?":{"main":[[{"node":"Call 'identificar_tenant'","type":"main","index":0}],[{"node":"Parsear Permisos","type":"main","index":0}]]},"Permiso Crear Productos":{"main":[[{"node":"creaMensaje","type":"main","index":0}],[{"node":"sin permiso","type":"main","index":0}]]},"Generar token":{"main":[[{"node":"Construir link","type":"main","index":0}]]},"Construir link":{"main":[[{"node":"Verificar Autorización","type":"main","index":0}]]},"creaMensaje":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Generar token","type":"main","index":0}]]},"Parsear Permisos":{"main":[[{"node":"Permiso Crear Productos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"tenant_id":"eb4a0fe3-0914-4255-805f-75c06df5c422","user_id":"2e698d4e-74f7-4268-a8e7-17a372a0baa9","permisos":"{\"ventas\":{\"ver\":true,\"crear\":true,\"editar\":true,\"eliminar\":true},\"informes\":{\"ver\":true,\"exportar\":true},\"productos\":{\"ver\":true,\"crear\":true,\"editar\":true,\"eliminar\":true},\"inventario\":{\"ver\":true,\"modificar\":true}}","rol":"dueno","nombre_usuario":"Admin Test","mensaje":"crear producto","numero_telefono":"573103015865@s.whatsapp.net","date_time":"19/10/2025","instancia":"pepe cadena","autorizado":"true"}}]},"versionId":"bf888f60-a520-4894-998f-e62ecfb4441d","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:13:56.317Z","updatedAt":"2025-10-06T05:13:56.317Z","role":"workflow:owner","workflowId":"8oU6HQJ27cFnKBQV","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}