generar_codigo-LBwT3I29jGyo2Z8p.json
{"createdAt":"2025-10-18T07:14:25.454Z","updatedAt":"2025-10-18T14:36:49.000Z","id":"LBwT3I29jGyo2Z8p","name":"generar_codigo","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generar_codigo","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-512,-32],"id":"20f7586f-520e-4719-aee6-3a005c46738d","name":"Webhook","webhookId":"476c9bcd-7569-45c7-8134-e3e9f670b57d"},{"parameters":{"operation":"executeQuery","query":"SELECT generar_codigo(\n  '{{ $json.tenant_id }}'::UUID, \n  '{{ $json.tipo }}', \n  '{{ $json.prefijo }}'\n) as codigo;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,-16],"id":"935ea9c3-f5ba-4647-a8d0-caef9cf88638","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  codigo: $input.item.json.codigo\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-16],"id":"717d016a-9604-46b6-82c2-9cd3afd6a377","name":"Code in JavaScript"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[208,-16],"id":"6545425d-7a09-4a7c-94ee-d06aaea9b062","name":"Respond to Webhook"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-736,224],"id":"e005b28b-a8c2-40fe-ba6e-0752cf5d9ddf","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"return {\n  json: {\n    tenant_id: \"22222222-2222-2222-2222-222222222222\",\n    tipo: \"producto\",\n    prefijo: \"P\"\n  }\n};\n\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,240],"id":"77dd67e4-7334-4a32-ac9e-b071cf891963","name":"Code in JavaScript1"}],"connections":{"Webhook":{"main":[[]]},"Execute a SQL query":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2d245177-237f-4770-a1db-53390c58a726","triggerCount":0,"shared":[{"createdAt":"2025-10-18T07:14:25.456Z","updatedAt":"2025-10-18T07:14:25.456Z","role":"workflow:owner","workflowId":"LBwT3I29jGyo2Z8p","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}