generar_codigo-LBwT3I29jGyo2Z8p.json
{"createdAt":"2025-10-18T07:14:25.454Z","updatedAt":"2025-10-19T01:25:20.000Z","id":"LBwT3I29jGyo2Z8p","name":"generar_codigo","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT generar_codigo(\n  '{{ $json.tenant_id }}'::UUID, \n  '{{ $json.tipo }}', \n  '{{ $json.prefijo }}'\n) as codigo;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-208,-16],"id":"935ea9c3-f5ba-4647-a8d0-caef9cf88638","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  codigo: $input.item.json.codigo\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-16],"id":"717d016a-9604-46b6-82c2-9cd3afd6a377","name":"Code in JavaScript"},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"tipo"},{"name":"prefijo"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-464,-16],"id":"2acd87ce-5718-43ba-8bdb-1778128773e1","name":"When Executed by Another Workflow"}],"connections":{"Execute a SQL query":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d167bafd-49ac-491a-8f72-536316ea94a9","triggerCount":0,"shared":[{"createdAt":"2025-10-18T07:14:25.456Z","updatedAt":"2025-10-18T07:14:25.456Z","role":"workflow:owner","workflowId":"LBwT3I29jGyo2Z8p","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}