gerson_ventas-nXXVsGr895OEIu0Q.json
{"createdAt":"2025-10-06T05:11:25.657Z","updatedAt":"2025-10-09T04:35:37.000Z","id":"nXXVsGr895OEIu0Q","name":"Gerson_VENTAS","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-6816,608],"id":"11a270ca-5c27-4496-9150-26dad1bae86b","name":"Transcribe a recording1","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n  \"cien\": \"100\",\n  \"ciento\": \"100\",\n  \"mil\": \"1000\",\n  \"punto\": \".\"\n};\n\n// Convertir solo las palabras que están en el diccionario\nlet resultado = texto;\n\n// Reemplazar cada palabra del diccionario con su número correspondiente\nfor (let palabra in numeros) {\n  let regex = new RegExp('\\\\b' + palabra + '\\\\b', 'gi');\n  resultado = resultado.replace(regex, numeros[palabra]);\n}\n\n// Eliminar todas las comas\nresultado = resultado.replace(/,/g, '');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6608,608],"id":"99dab97d-4567-4f4c-8efe-483863402f07","name":"Code5"},{"parameters":{"assignments":{"assignments":[{"id":"b65575a3-b476-4c0f-8ce4-a7f93531b7f0","name":"final_message","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"bf8845d4-5e4e-4596-b9d9-ec7940739e0c","name":"sessionid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"d1aea00f-74e0-4acd-bf3d-5984b8eade6c","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6368,608],"id":"bc1d61f5-e73b-439e-a265-e2e2d3f5a54a","name":"Final_message_audio"},{"parameters":{"assignments":{"assignments":[{"id":"aa4f659e-93fd-458f-8cb0-d6b2bd655160","name":"sessionid","value":"={{ $('Switch2').first().json.sessionid }}","type":"string"},{"id":"b355a1d1-f888-4ce4-b12b-03a9644fb07e","name":"estado","value":"={\n  \"mensaje_original\": \"{{ $json.texto_convertido }}\",\n  \"requiere_confirmacion\": false,\n  \"items\": []\n}\n","type":"object"},{"id":"1e088d66-819f-4e4d-ad34-9ca8e437290d","name":"texto_convertido","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"24d4ebcf-1ef4-4bc1-abe8-04419ac1cf23","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6192,816],"id":"3024f129-59b7-4c9c-98bc-a21ece2154f6","name":"FInal_message_text"},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $input.first().json.estado.mensaje_original || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n\n};\n\n// Función para convertir palabras a números o símbolos\nfunction palabraANumero(palabra) {\n  palabra = palabra.toLowerCase().trim();\n  \n  // Conversión de \"punto\" a \".\"\n  if (palabra === \"punto\") {\n    return \".\";\n  }\n  \n  if (numeros.hasOwnProperty(palabra)) {\n    return numeros[palabra];\n  }\n  \n  // Manejo de combinaciones como \"treinta y cinco\"\n  if (palabra.includes(\" y \")) {\n    let partes = palabra.split(\" y \").map(p => p.trim());\n    if (numeros[partes[0]] && numeros[partes[1]]) {\n      return (parseInt(numeros[partes[0]]) + parseInt(numeros[partes[1]])).toString();\n    }\n  }\n  \n  return palabra; // si no se reconoce, se deja igual\n}\n\n// Procesar el texto palabra por palabra\nlet palabras = texto.split(/(\\s+)/); // Mantiene los espacios\nlet resultado = palabras.map(palabra => {\n  // Solo procesar si no es un espacio y contiene letras\n  if (palabra.trim() && /[a-záéíóúñ]/i.test(palabra)) {\n    return palabraANumero(palabra);\n  }\n  return palabra;\n}).join('');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6384,816],"id":"69c60fb0-8c53-46c8-abdc-dac10657ec6d","name":"Code8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cccb067b-4dd7-4efc-8b4f-70a2e8f0fcc3","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"1066c446-0129-4619-8eff-ec1b00093dda"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6592,800],"id":"a432907f-3530-440c-9d31-636406a2472f","name":"Switch2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7216,608],"id":"fbc15e56-dca7-421f-b14e-ac174aaba17d","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-7040,608],"id":"6fcdfcb2-49ef-4f9d-aa62-fdda302681c5","name":"Convert to File1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-624,736],"id":"856ee760-80c9-4122-a2ce-1416c6e8862f","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"workflowId":{"__rl":true,"value":"Ejg0iou6XLtlYPmi","mode":"list","cachedResultUrl":"/workflow/Ejg0iou6XLtlYPmi","cachedResultName":"obtener_inventario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.final_message }}","telefono":"={{ $json.sessionid }}","fecha":"={{ $json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-4096,576],"id":"e4e54fbd-842c-42cb-afbe-4b04bc6907b7","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b8711675-481a-47a5-b7fc-7fb78291914c","leftValue":"={{ $json.final_message }}","rightValue":"=inventario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4240,768],"id":"224adfbd-dd1f-46ba-9098-30d588abd07a","name":"IF1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"venta","operator":{"type":"string","operation":"contains"},"id":"4073be86-ac3d-4341-82e7-b7088b96fa02"}],"combinator":"and"},"renameOutput":true,"outputKey":"venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6189def-f795-4403-8763-be0074e7c569","leftValue":"={{ $json.output }}","rightValue":"actualizarPrecio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Actualizar precios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6643239a-a644-411c-8d18-62571cd67c50","leftValue":"={{ $json.output }}","rightValue":"Registrar consumo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consumoPersonal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eab13bf9-e889-461d-903e-897b9dad78d9","leftValue":"={{ $json.output }}","rightValue":"=informeVentas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"informeVentas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6d4b305-0c05-464e-8bdf-f29027df2858","leftValue":"={{ $json.output }}","rightValue":"ingresarProductosAbodega","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingresoProductos Inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd7c9184-c623-444b-b561-fdfc2a53fcf6","leftValue":"={{ $json.output }}","rightValue":"envio_link","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crear producto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-224,416],"id":"9302cfe4-e91f-42c1-b9ce-3b43229b2ffb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,-32],"id":"cc9b10a8-5431-4234-886f-13bfa2b34473","name":"registroVentas"},{"parameters":{"workflowId":{"__rl":true,"value":"sZKq3XvJBsutWwaT","mode":"list","cachedResultUrl":"/workflow/sZKq3XvJBsutWwaT","cachedResultName":"ingresar_consumo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","fecha":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}","telefono":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,320],"id":"a40bab9b-a51f-4a6d-8eb7-5cdaeb342cde","name":"consumoPersonal"},{"parameters":{"workflowId":{"__rl":true,"value":"UlHIKLXfyQkFcjCP","mode":"list","cachedResultUrl":"/workflow/UlHIKLXfyQkFcjCP","cachedResultName":"informe_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","wa_id":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","fecha":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"wa_id","displayName":"wa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[160,976],"id":"e45784e6-4102-42d7-af5d-39b3620c86d8","name":"informeVentas"},{"parameters":{"workflowId":{"__rl":true,"value":"Wg6zh3EFPjY6VqYI","mode":"list","cachedResultUrl":"/workflow/Wg6zh3EFPjY6VqYI","cachedResultName":"ingresan Productos A Inventario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","wa_id":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","fecha":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"wa_id","displayName":"wa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[384,528],"id":"5ec67cf0-b5e6-41e6-b5dc-066923c340c9","name":"ingresarProductoInventario"},{"parameters":{"promptType":"define","text":"={{ $json.texto_para_administrador }}","hasOutputParser":true,"options":{"systemMessage":"=# SISTEMA DE DETECCIÓN DE INTENCIONES - AGENTE IA\n\nEres un agente especializado en identificar la intención del usuario y devolver el output correspondiente. Analiza cada mensaje y determina qué acción tomar. \n\n## 🚨 REGLA FUNDAMENTAL - OBLIGATORIA:\n\n**CUANDO DEVUELVAS EL OUTPUT:**\n- ❌ NO agregues saludos, comentarios, explicaciones ni texto adicional\n- ❌ NO modifiques, reformules o interpretes la respuesta\n- ❌ NO añadas tu propio estilo de escritura\n- ❌ NO incluyas frases como \"Aquí tienes...\", \"El resultado es...\", etc.\n\n\n---\n\n## 🛒 DETECCIÓN DE VENTAS - PRIORIDAD MÁXIMA\n\n### 💡 EJEMPLOS DE VENTAS:\n\n- \"2 Agua 600ml sin gas y 1 Gaseosas MEGA 2.5\"\n- \"1 Gaseosas 350ml\"\n- \"2 Gaseosas 250ml\" \n- \"50 Arepas de QUESO\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `venta`\n\n---\n\n## 💰 ACTUALIZAR PRECIO DE PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **quedo a/quedó a**\n- **quedo/quedó**\n- **actualizar precio**\n- **cambiar el precio**\n- **modificar precio**\n- **nuevo precio**\n- **precio ahora es**\n- **ahora cuesta**\n- **ahora vale**\n\n### 💡 EJEMPLOS:\n- \"la 350 quedó a 3000\"\n- \"la cerveza ahora cuesta $5000\"\n- \"cambia el precio del combo a $8000\"\n- \"actualiza la gaseosa a $3500\"\n- \"el tinto ahora está a $1000\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `actualizarPrecio`\n\n---\n\n## 🍽️ CONSUMO DE PRODUCTOS POR PARTE DEL DUEÑO\n\n### 📝 PALABRAS CLAVE:\n- **me tomé/me tome**\n- **me comí/me comi**\n- **consumí/consumi**\n\n### 💡 EJEMPLOS:\n- \"me tomé 1 Gaseosas 350ml\"\n- \"me tomé 2 Gaseosas 250ml\"\n- \"me comí 1 chorizo\"\n- \"me comi una arepa\"\n- \"me comí 2 combos\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `Registrar consumo`\n\n---\n\n📊 INFORMES DE VENTAS\n📝 PALABRAS CLAVE:\n\nventa/ventas\ninforme/informes\nreporte de ventas\nventas de hoy/ayer/antier\nventas de esta semana/mes\ncuánto vendimos\ntotal de ventas\n\n🎯 ACCIÓN:\nDevuelve output: informeVentas\n\n---\n\n## 📦 INGRESO DE PRODUCTOS AL INVENTARIO\n\n### 📝 PALABRAS CLAVE:\n-ingresaron\n-llegaron\n-entraron\n-cajas\n-pacas\n-bolsas\n- **cajas de/pacas de**\n- **unidades**\n- **entraron/ingresaron**\n- **llegó mercancía**\n- **recibí/recibimos**\n- **compré/compramos**\n- **me trajeron**\n\n### 💡 EJEMPLOS:\n- \"entraron 5 cajas de Gaseosa 250ml\"\n- \"llegaron 3 pacas de Gaseosas MEGA 2.5\"\n- \"recibí 10 unidades de...\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `ingresarProductosAbodega`\n\n---\n\n## 🆕 CREAR NUEVOS PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **crear/creando**\n- **nuevo/nueva/nuevos**\n- **agregar producto**\n- **registrar producto**\n- **añadir al inventario**\n\n### 💡 EJEMPLOS:\n- \"crear nuevo producto\"\n- \"necesito agregar un producto\"\n- \"registrar nueva cerveza\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `envio_link` \n\n---\n\n## ⚠️ REGLAS IMPORTANTES:\n\n1. **PRIORIDAD:** Las ventas tienen máxima prioridad\n2. **TOLERANCIA:** Ignora mayúsculas, minúsculas y errores ortográficos\n3. **FLEXIBILIDAD:** No importan palabras adicionales en el mensaje\n4. **DECISIÓN RÁPIDA:** Una sola coincidencia = llamar herramienta\n\n## 🚨 RECORDATORIOS CRÍTICOS:\n\n### OBLIGATORIO AL USAR HERRAMIENTAS:\n\n- ❌ **NO INTERPRETES** la respuesta de la herramienta\n- ❌ **NO REFORMULES** el mensaje\n- ❌ **NO AGREGUES** tu propio texto\n- ❌ **NO USES** frases como \"Aquí está...\", \"El resultado es...\", etc.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-576,496],"id":"817d58d0-2a4c-43fa-9424-01da289db318","name":"Administrador1"},{"parameters":{"workflowId":{"__rl":true,"value":"8oU6HQJ27cFnKBQV","mode":"list","cachedResultUrl":"/workflow/8oU6HQJ27cFnKBQV","cachedResultName":"envio_link_nuevoProducto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","instancia":"={{ $('Webhook').first().json.body.instance }}","telefono":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","fecha":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,752],"id":"22503bff-edb2-46c4-a023-d34aba9ef054","name":"crearProducto"},{"parameters":{"jsCode":"// Entrada esperada: puede venir como string o como array\n// Ejemplo 1: \"qrpa\"\n// Ejemplo 2: [\"qrpa\", \"arepa\"]\n\nlet entrada = $json.productos_detectados || $json.final_message || \"\";\n\n// Si es string, lo convertimos en array de una sola palabra\nif (typeof entrada === \"string\") {\n  entrada = [entrada.trim()];\n}\n\n// Si no es array, lo forzamos a array\nif (!Array.isArray(entrada)) {\n  entrada = [String(entrada)];\n}\n\n// Normalizamos: quitamos vacíos\nentrada = entrada.filter(p => p && p.trim() !== \"\");\n\n// Ahora devolvemos un array de objetos, uno por producto\nreturn entrada.map(p => ({\n  json: { producto_detectado: p }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2976,768],"id":"62f05eb8-8c38-4255-8c85-387267d0557d","name":"producto_detectado"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2480,784],"id":"18d15189-982d-42b8-90f5-5c09ba6ccbfd","name":"Merge"},{"parameters":{"jsCode":"function normalizar(s) {\n  if (s === undefined || s === null) return \"\";\n  return String(s)\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \");\n}\n\nfunction levenshtein(a, b) {\n  const m = a.length, n = b.length;\n  if (m === 0) return n;\n  if (n === 0) return m;\n  const dp = Array.from({ length: m + 1 }, () => new Array(n + 1).fill(0));\n  for (let i = 0; i <= m; i++) dp[i][0] = i;\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      const cost = a[i - 1] === b[j - 1] ? 0 : 1;\n      dp[i][j] = Math.min(\n        dp[i - 1][j] + 1,\n        dp[i][j - 1] + 1,\n        dp[i - 1][j - 1] + cost\n      );\n    }\n  }\n  return dp[m][n];\n}\n\nfunction similitud(a, b) {\n  if (!a && !b) return 1;\n  if (!a || !b) return 0;\n  const dist = levenshtein(a, b);\n  return 1 - dist / Math.max(a.length, b.length);\n}\n\nfunction extraerMarcados(texto) {\n  if (!texto) return [];\n  const matches = String(texto).match(/\"([^\"]+)\"/g);\n  if (!matches) return [];\n  return matches.map(m => m.replace(/\"/g, \"\"));\n}\n\nconst UMBRAL_ACEPTAR = 0.80;\nconst UMBRAL_SUGERIR = 0.60;\n\nconst itemProducto = $input.first();\nconst mensajeOriginal = itemProducto.json.producto_detectado || \"\";\nconst apodos = $input.all().filter(item => item.json.APODO !== undefined);\nconst detectados = extraerMarcados(mensajeOriginal);\n\nif (detectados.length === 0) {\n  return [{\n    json: {\n      mensaje_original: mensajeOriginal,\n      estado: {\n        requiere_confirmacion: false,\n        mensaje_procesado: mensajeOriginal,\n        productos_resueltos: [],\n        reemplazos_realizados: [],\n        sugerencias: [],\n        productos_no_encontrados: []\n      },\n      mensaje_final: mensajeOriginal,\n      sin_productos: true\n    }\n  }];\n}\n\nlet mensajeProcesado = mensajeOriginal;\nlet todosLosReemplazos = [];\nlet productosNoEncontrados = [];\nlet sugerenciasAcumuladas = [];\nlet productosResueltos = [];\n\n// 🔥 PROCESAR CADA PRODUCTO DETECTADO\nfor (const detectado of detectados) {\n  const entrada = normalizar(detectado);\n\n  if (!entrada) continue;\n\n  // 1) Coincidencia exacta\n  let exacto = apodos.find(f => normalizar(f.json.APODO) === entrada);\n  if (exacto) {\n    const regex = new RegExp(`\"${detectado}\"`, 'g');\n    mensajeProcesado = mensajeProcesado.replace(regex, `\"${exacto.json.PRODUCTO}\"`);\n    todosLosReemplazos.push({\n      original: detectado,\n      reemplazado: exacto.json.PRODUCTO,\n      tipo: \"exacto\"\n    });\n    \n    const parteResuelta = mensajeOriginal.match(new RegExp(`\\\\d+\\\\s+\"${detectado}\"`, 'g'));\n    if (parteResuelta) {\n      const cantidadYProducto = parteResuelta[0].replace(`\"${detectado}\"`, `\"${exacto.json.PRODUCTO}\"`);\n      productosResueltos.push(cantidadYProducto);\n    }\n    \n    continue;\n  }\n\n  // 2) Calcular similitud\n  let comparaciones = [];\n  for (const fila of apodos) {\n    const apodo = normalizar(fila.json.APODO);\n    const score = similitud(entrada, apodo);\n    comparaciones.push({\n      producto: fila.json.PRODUCTO,\n      apodo,\n      score\n    });\n  }\n\n  comparaciones.sort((a, b) => b.score - a.score);\n  const top3 = comparaciones.slice(0, 3);\n\n  // 3) Decisión por producto\n  if (top3[0] && top3[0].score >= UMBRAL_ACEPTAR) {\n    const regex = new RegExp(`\"${detectado}\"`, 'g');\n    mensajeProcesado = mensajeProcesado.replace(regex, `\"${top3[0].producto}\"`);\n    todosLosReemplazos.push({\n      original: detectado,\n      reemplazado: top3[0].producto,\n      tipo: \"similitud_alta\",\n      confianza: top3[0].score\n    });\n    \n    const parteResuelta = mensajeOriginal.match(new RegExp(`\\\\d+\\\\s+\"${detectado}\"`, 'g'));\n    if (parteResuelta) {\n      const cantidadYProducto = parteResuelta[0].replace(`\"${detectado}\"`, `\"${top3[0].producto}\"`);\n      productosResueltos.push(cantidadYProducto);\n    }\n    \n  } else if (top3[0] && top3[0].score >= UMBRAL_SUGERIR) {\n    const productosUnicos = [];\n    const productosVistos = new Set();\n    \n    for (const comparacion of top3) {\n      if (!productosVistos.has(comparacion.producto)) {\n        productosVistos.add(comparacion.producto);\n        productosUnicos.push(comparacion);\n      }\n    }\n    \n    sugerenciasAcumuladas.push({\n      apodo_usado: detectado,\n      opciones: productosUnicos.map((r, i) => ({\n        opcion: i + 1,\n        producto: r.producto,\n        apodo: r.apodo,\n        confianza: Number(r.score.toFixed(3))\n      }))\n    });\n  } else {\n    productosNoEncontrados.push(detectado);\n  }\n}\n\n// 🎯 DECIDIR QUE RESPUESTA DAR\n\n// 1) Si hay productos no encontrados\nif (productosNoEncontrados.length > 0) {\n  const listaNoEncontrados = productosNoEncontrados.map(p => `\"${p}\"`).join(\", \");\n  return [{\n    json: {\n      mensaje_original: mensajeOriginal,\n      estado: {\n        requiere_confirmacion: false,\n        mensaje_procesado: mensajeOriginal,\n        productos_resueltos: productosResueltos,\n        reemplazos_realizados: todosLosReemplazos,\n        sugerencias: [],\n        productos_no_encontrados: productosNoEncontrados\n      },\n      mensaje_final: `❌ No encontré ${listaNoEncontrados} en la base de datos.\\n¿Podrías verificar el nombre de estos productos?`,\n      sin_coincidencia: true\n    }\n  }];\n}\n\n// 2) Si hay sugerencias pendientes\nif (sugerenciasAcumuladas.length > 0) {\n  const primeraSugerencia = sugerenciasAcumuladas[0];\n  \n  let opciones = primeraSugerencia.opciones.map(s => {\n    let numEmoji = [\"1️⃣\",\"2️⃣\",\"3️⃣\",\"4️⃣\",\"5️⃣\"][s.opcion - 1] || `${s.opcion})`;\n    return `${numEmoji} ${s.producto}`;\n  }).join(\"\\n\");\n  \n  let mensajeConContexto = \"\";\n  if (productosResueltos.length > 0) {\n    mensajeConContexto = `✅ Ya confirmé: ${productosResueltos.join(\", \")}\\n\\n`;\n  }\n  mensajeConContexto += `🤔 No estuve 100% seguro con \"${primeraSugerencia.apodo_usado}\".\\n\\n¿Te refieres a alguna de estas opciones?\\n\\n${opciones}\\n\\n💬 Responde con el número`;\n  \n  return [{\n    json: {\n      mensaje_original: mensajeOriginal,\n      estado: {\n        requiere_confirmacion: true,\n        mensaje_procesado: mensajeProcesado,\n        productos_resueltos: productosResueltos,\n        reemplazos_realizados: todosLosReemplazos,\n        sugerencias: primeraSugerencia.opciones,\n        productos_no_encontrados: [],\n        apodo_usado: primeraSugerencia.apodo_usado\n      },\n      mensaje_final: mensajeConContexto,\n      requiere_confirmacion: true,\n      apodo_usado: primeraSugerencia.apodo_usado,\n      productos_restantes: sugerenciasAcumuladas.slice(1)\n    }\n  }];\n}\n\n// 3) Todos los productos fueron procesados exitosamente\nreturn [{\n  json: {\n    mensaje_original: mensajeOriginal,\n    estado: {\n      requiere_confirmacion: false,\n      mensaje_procesado: mensajeProcesado,\n      productos_resueltos: productosResueltos,\n      reemplazos_realizados: todosLosReemplazos,\n      sugerencias: [],\n      productos_no_encontrados: []\n    },\n    mensaje_final: mensajeProcesado,\n    productos_reemplazados: todosLosReemplazos.length > 0,\n    total_productos_procesados: detectados.length\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2272,784],"id":"58873436-e39c-438d-8bc6-d6f12d4d1de5","name":"calcularSimilitud1"},{"parameters":{"jsCode":"const mensaje = String($json.texto_convertido || \"\").trim();\nconst sessionid = $json.sessionid;\nconst esNumero = /^[1-9]\\d*$/.test(mensaje);\n\n// Si hay estado en Postgres, lo obtenemos del Merge\nconst estadoItems = $items(\"Verificar estado pendiente\");\nconst tieneEstadoPendiente = estadoItems.length > 0 && estadoItems[0].json.estado;\n\nif (esNumero && tieneEstadoPendiente) {\n  const estado = estadoItems[0].json.estado;\n  \n  if (estado.requiere_confirmacion && estado.sugerencias) {\n    const indice = parseInt(mensaje, 10) - 1;\n    const sugerencia = estado.sugerencias[indice];\n    \n    if (!sugerencia) {\n      return [{\n        json: {\n          mensaje_final: \"❌ Opción inválida. Responde con un número de la lista.\",\n          enviar_directo: true,\n          mantener_estado: true,\n          sessionid: sessionid,\n          accion: \"error_opcion\"\n        }\n      }];\n    }\n    \n    // NUEVO: Reconstruir mensaje completo\n    let mensajeFinal = \"\";\n    \n    // 1. Agregar productos ya resueltos\n    if (estado.productos_resueltos && estado.productos_resueltos.length > 0) {\n      mensajeFinal = estado.productos_resueltos.join(\" y \");\n    }\n    \n    // 2. Agregar producto confirmado\n    const mensajeOriginal = estado.mensaje_procesado || \"\";\n    const regex = new RegExp(`\"${estado.apodo_usado}\"`, 'g');\n    const parteConfirmada = mensajeOriginal.match(new RegExp(`\\\\d+\\\\s+\"${estado.apodo_usado}\"`, 'g'));\n    \n    if (parteConfirmada) {\n      const cantidadYProducto = parteConfirmada[0].replace(`\"${estado.apodo_usado}\"`, sugerencia.producto);\n      if (mensajeFinal) {\n        mensajeFinal += \" y \" + cantidadYProducto;\n      } else {\n        mensajeFinal = cantidadYProducto;\n      }\n    }\n    \n    return [{\n      json: {\n        final_message: mensajeFinal,\n        sessionid: sessionid,\n        datetime: $json.datetime,\n        es_respuesta_sugerencia: true,\n        producto_confirmado: true,\n        eliminar_estado: true,\n        accion: \"confirmar_sugerencia\",\n        // NUEVOS CAMPOS PARA SHEETS:\n        apodo_confirmado: estado.apodo_usado,        // \"qrepa\"\n        producto_seleccionado: sugerencia.producto  // \"Arepas de QUESO\"\n      }\n    }];\n  }\n}\n\n// Si el usuario envía algo diferente mientras tiene sugerencias pendientes\nif (tieneEstadoPendiente) {\n  return [{\n    json: {\n      final_message: $json.texto_convertido,\n      sessionid: sessionid,\n      datetime: $json.datetime,\n      es_respuesta_sugerencia: false,\n      eliminar_estado: true,\n      procesar_nuevo_mensaje: true,\n      accion: \"limpiar_y_procesar\"\n    }\n  }];\n}\n\n// Flujo normal - no hay estado pendiente\nreturn [{\n  json: {\n    final_message: $json.texto_convertido,\n    sessionid: sessionid,\n    datetime: $json.datetime,\n    es_respuesta_sugerencia: false,\n    accion: \"flujo_normal\"\n  }\n}];"},"id":"478df667-3ec9-4c67-ac5b-185029c46e39","name":"¿Es respuesta a sugerencia?","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5152,752]},{"parameters":{"assignments":{"assignments":[{"id":"b312d7b6-e979-4e5a-a0a1-bef82730196e","name":"sessionid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"d0338f07-19d6-4a5c-a1fc-da38909ba858","name":"estado","value":"={\n  \"mensaje_original\": \"{{$json.body.data.message.conversation}}\",\n  \"requiere_confirmacion\": false,\n  \"items\": []\n}\n","type":"object"},{"id":"86953061-57dd-4c4a-958f-cf6d1151a0ed","name":"texto","value":"={{ $json.body.data.messageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6832,800],"id":"33929f87-ae7c-4773-889c-180050a48a65","name":"prepararEstado"},{"parameters":{"assignments":{"assignments":[{"id":"ed4a047a-26b3-444d-9f46-129708b6c95c","name":"final_message","value":"={{ $json.content.parts[0].text }}","type":"string"},{"id":"e54889f0-01ca-4a0d-a8e5-3beb8d152d81","name":"sessionid","value":"={{ $('IF1').item.json.sessionid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3184,768],"id":"d5923c4b-3741-44e6-a255-a126875fc2b6","name":"campos"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"conversaciones_pendientes","mode":"list","cachedResultName":"conversaciones_pendientes"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5696,864],"id":"b1134b4f-8d66-4a62-a813-900d26132ff3","name":"Verificar estado pendiente","alwaysOutputData":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"04b937d7-cccc-4b3a-947b-9e9ac4b73517","leftValue":"={{ $json.accion }}","rightValue":"confirmar_sugerencia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"confirmar_sugerencia"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c8e025-9b71-4083-a021-4400931830da","leftValue":"={{ $json.accion }}","rightValue":"limpiar_y_procesar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"limpiar_y_procesar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"229c9958-6639-4c19-8634-3f7d93de7623","leftValue":"={{ $json.accion }}","rightValue":"flujo_normal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"flujo_normal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"=error_opcion","operator":{"type":"string","operation":"equals"},"id":"6d7e1e82-029d-49f2-a57b-9c6c85677a0e"}],"combinator":"and"},"renameOutput":true,"outputKey":"error_opcion"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4928,720],"id":"3bd7a4b4-3452-4029-8b34-11976f47dfad","name":"Switch Router de acciones"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9d48364-8878-4fd8-92af-6eea5758a905","leftValue":"={{ $json.estado.requiere_confirmacion === false && $json.productos_reemplazados === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Productos encontrados"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"081fc36a-bd9a-429b-958b-f6000c3dd8c2","leftValue":"={{ $json.sin_productos }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"sin productos"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a1a6b49-c172-43dc-8e62-71895aa81f67","leftValue":"={{ $json.sin_coincidencia }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Productos no encontrados"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.estado.requiere_confirmacion }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"668c1461-783b-4b99-b507-37c98115ff20"}],"combinator":"and"},"renameOutput":true,"outputKey":"requiere_sugerencias"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2000,768],"id":"124fa33a-0a76-4d39-9116-a2eaa89feac6","name":"Switch Requiere confirmación"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO conversaciones_pendientes (sessionid, estado)\nVALUES (\n  '{{ $(\"¿Es respuesta a sugerencia?\").first().json.sessionid }}',\n  '{{ JSON.stringify($json.estado) }}'::jsonb\n)\nON CONFLICT (sessionid) DO UPDATE\nSET estado = EXCLUDED.estado,\n    expires_at = now() + interval '10 minutes';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1792,1248],"id":"eadfbd2d-634e-4b41-aa90-487f412f0089","name":"Guardar sugerencias en Postgres","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').first().json.body.instance }}","remoteJid":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","messageText":"={{ $('calcularSimilitud1').item.json.mensaje_final }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1600,1248],"id":"e846f698-123b-4928-b615-df7c977fc6c9","name":"Enviar sugerencias WhatsApp","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"executeQuery","query":"DELETE FROM conversaciones_pendientes \nWHERE sessionid = '{{ $json.sessionid }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4528,416],"id":"9660469a-6340-4cb6-b9c0-df0a39166b7e","name":"Eliminar estado confirmado","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"options_Create_instance":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-4624,928],"id":"f2b3a657-7228-4c34-bec3-044637a717d7","name":"Enviar sugerencias WhatsApp2","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5904,736],"id":"e69680c6-b089-46f9-b583-257754340c73","name":"Merge Audio/Texto"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5344,752],"id":"86e10993-b0c6-4fa2-b112-9572b36f02d5","name":"Merge final"},{"parameters":{"operation":"executeQuery","query":"DELETE FROM conversaciones_pendientes \nWHERE sessionid = '{{ $json.sessionid }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4592,640],"id":"37ac5771-5cde-4528-8b2f-344dd9f9c3a3","name":"Eliminar estado confirmado1","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"// En lugar de referenciar otros nodos, usar el input directo\nreturn [{\n  json: {\n    texto_para_administrador: $json.mensaje_final || $json.final_message || \"Error\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1024,480],"id":"a285d00c-b2f0-44e5-ac86-5a393938e213","name":"mensajeListo"},{"parameters":{"assignments":{"assignments":[{"id":"5b107e9d-1bce-43c0-8423-f1bd63235a3f","name":"final_message","value":"={{ $('¿Es respuesta a sugerencia?').item.json.final_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4160,416],"id":"3e9f2c86-5a85-4604-9bde-3027794f7273","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"DsmGHHn7nCIHEQYU","mode":"list","cachedResultUrl":"/workflow/DsmGHHn7nCIHEQYU","cachedResultName":"actualizar_precio"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","telefono":"={{ $('¿Es respuesta a sugerencia?').first().json.sessionid }}","fecha":"={{ $('¿Es respuesta a sugerencia?').first().json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,144],"id":"c53ae533-5b35-4354-a993-6f33a2bc7f84","name":"actualizarPrecios"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    producto AS \"PRODUCTO\",\n    apodo AS \"APODO\"\nFROM apodos_productos\nWHERE activo = true\nORDER BY producto, apodo","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-2768,928],"id":"702ecc33-2d2d-4c9b-8c43-f3810e58ff15","name":"obtenerApodos1","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO apodos_productos (producto, apodo, fuente)\nVALUES (\n    '{{ $(\"¿Es respuesta a sugerencia?\").item.json.producto_seleccionado }}',\n    '{{ $(\"¿Es respuesta a sugerencia?\").item.json.apodo_confirmado }}',\n    'confirmacion_usuario'\n)\nON CONFLICT (producto, apodo) \nDO UPDATE SET \n    fecha_creacion = CURRENT_TIMESTAMP,\n    activo = true\nRETURNING *;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3920,288],"id":"75389b50-ad95-4a32-a508-a2cbe49da2ae","name":"Guardar apodo aprendido","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"httpMethod":"POST","path":"mensajes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7104,800],"id":"31789281-730e-4980-9707-77f72d97c5d4","name":"Webhook","webhookId":"60397f41-3005-47aa-92f0-545e2dae408f"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').first().json.body.instance }}","remoteJid":"={{ $('Webhook').first().json.body.data.key.remoteJid }}","messageText":"={{ $('calcularSimilitud1').item.json.mensaje_final }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1504,912],"id":"7c612ffd-b7da-4a74-8f6e-3a2ad26d3252","name":"Productos no encontrados","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $('¿Es respuesta a sugerencia?').item.json.final_message }} {{ $('Merge final').first().json.final_message }}"}]},"options":{"systemMessage":"=Eres un asistente especializado en identificar productos de un negocio de comidas rápidas y bebidas.\n\nPASO 1 - CONSULTA OBLIGATORIA:\nDebes consultar SIEMPRE la tool \"REFERENCIAS\" antes de analizar el mensaje. Esta tool te proporciona dos campos:\n- \"producto\": nombre original del producto\n- \"apodo\": forma coloquial como el dueño se refiere al producto\n\nCONTEXTO DEL NEGOCIO:\nEl negocio vende comidas rápidas y bebidas. Las bebidas siempre incluyen números de referencia en su nombre.\n\nPresentaciones comunes de bebidas (EJEMPLOS - NO son productos reales):\n- bebida 350\n- bebida 250\n- bebida 2.5\n- bebida 1.5\n\nIMPORTANTE: La palabra \"bebida\" es solo un EJEMPLO y NUNCA debe tomarse como un producto real. Solo consulta los productos que existen en la tool \"REFERENCIAS\".\n\nIMPORTANTE: \"manzana\" SIEMPRE se refiere a una bebida, nunca a la fruta.\n\nREGLA DE CANTIDADES:\nLa cantidad máxima de un producto es 120. Si encuentras un número mayor a 120, indica que es parte de la referencia de una bebida, NO es una cantidad.\n\nREGLA ESPECIAL - COMBO:\nCuando encuentres \"combo\" o \"combos\":\nReemplázalo por: cantidad \"arepa con queso\" cantidad \"chorizo\"\nEjemplos:\n- \"2 combo\" → 2 \"arepa con queso\" 2 \"chorizo\"\n- \"1 combo\" → 1 \"arepa con queso\" 1 \"chorizo\"\n\nPRIORIDAD DE BÚSQUEDA:\n- SIEMPRE busca primero el apodo más largo que coincida completamente\n- Una vez encontrado un apodo para una cantidad, NO busques más para esa misma cantidad\n- Si un apodo contiene palabras que también son apodos más cortos, usa el más largo\n\nFUNCIONES OBLIGATORIAS:\n1. Consultar SIEMPRE la tool \"REFERENCIAS\"\n2. Identificar los apodos en el mensaje que coincidan con los productos de \"REFERENCIAS\"\n3. Aplicar las siguientes reglas de coincidencia:\n   - Si el apodo coincide al 85% o más con el producto: REEMPLAZA el apodo por el nombre del producto\n   - Si el apodo coincide menos del 85%: MARCA el apodo entre comillas dobles (\"\")\n4. Si NO encuentras productos que coincidan con \"REFERENCIAS\", devuelve el mensaje original sin cambios\n\nREGLA CRÍTICA - SIN COINCIDENCIAS:\nSi NO hay coincidencias, devuelve el mensaje sin cambios. NO expliques por qué no encontraste productos. NO sugieras nada. Solo devuelve el mensaje original exactamente como lo recibiste.\n\nEJEMPLOS DE ESTRUCTURA:\n\nEjemplo 1: Mensaje con productos válidos\nInput: \"2 X 3 Y\"\nSi X e Y están en REFERENCIAS:\nOutput: 2 \"X\" 3 \"Y\"\n\nEjemplo 2: Mensaje sin productos válidos\nInput: \"hola como estas\"\nOutput: hola como estas\n\nEjemplo 3: Combo\nInput: \"1 combo\"\nOutput: 1 \"arepa con queso\" 1 \"chorizo\"\n\nEjemplo 4: Con palabras contextuales\nInput: \"entraron 2 cajas de X\"\nSi X está en REFERENCIAS:\nOutput: entraron 2 cajas de \"X\"\n\nEjemplo 5: Apodo largo vs corto\nSi REFERENCIAS tiene: \"X\", \"X premium\"\nInput: \"1 X premium\"\nOutput: 1 \"X premium\"\n\nEjemplo 6: Productos repetidos\nInput: \"1 X 2 X\"\nSi X está en REFERENCIAS:\nOutput: 1 \"X\" 2 \"X\"\n\nMENSAJE A ANALIZAR:\n{{ $('Merge final').first().json.final_message }}\n\nFORMATO DE RESPUESTA:\nDevuelve únicamente el mensaje procesado, sin explicaciones adicionales."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3488,1232],"id":"eb50d8de-9e5a-4209-bf8e-e4c33d3ea9ac","name":"Message a model","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}},"disabled":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"apodos_productos","mode":"list","cachedResultName":"apodos_productos"},"returnAll":"=Consulta todos los apodos disponibles en la columna 'apodo' de la tabla apodos_productos. Ejecuta esta tool al inicio de cada mensaje para obtener la lista completa de apodos válidos.","options":{"outputColumns":["producto","apodo"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-3424,1024],"id":"e29a2e4e-f003-4600-a0ec-2ec63c94bd8a","name":"REFERENCIAS","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.content.parts[0].text }}"}]},"options":{"systemMessage":"=Eres un asistente especializado en identificar productos de un negocio de comidas rápidas y bebidas.\n\nPASO 1 - CONSULTA OBLIGATORIA:\nDebes consultar SIEMPRE la tool \"REFERENCIAS\" antes de analizar el mensaje. Esta tool te proporciona dos campos:\n- \"producto\": nombre original del producto\n- \"apodo\": forma coloquial como el dueño se refiere al producto\n\nCONTEXTO DEL NEGOCIO:\nEl negocio vende comidas rápidas y bebidas. Las bebidas siempre incluyen números de referencia en su nombre.\n\nPresentaciones comunes de bebidas (EJEMPLOS - NO son productos reales):\n- bebida 350\n- bebida 250\n- bebida 2.5\n- bebida 1.5\n\nIMPORTANTE: La palabra \"bebida\" es solo un EJEMPLO y NUNCA debe tomarse como un producto real. Solo consulta los productos que existen en la tool \"REFERENCIAS\".\n\nIMPORTANTE: \"manzana\" SIEMPRE se refiere a una bebida, nunca a la fruta.\n\nREGLA DE CANTIDADES:\nLa cantidad máxima de un producto es 120. Si encuentras un número mayor a 120, indica que es parte de la referencia de una bebida, NO es una cantidad.\n\nPRIORIDAD DE BÚSQUEDA:\n- SIEMPRE busca primero el apodo más largo que coincida completamente\n- Una vez encontrado un apodo para una cantidad, NO busques más para esa misma cantidad\n- Si un apodo contiene palabras que también son apodos más cortos, usa el más largo\n\nFUNCIONES OBLIGATORIAS:\n1. Consultar SIEMPRE la tool \"REFERENCIAS\"\n2. Identificar los apodos en el mensaje que coincidan con los productos de \"REFERENCIAS\"\n3. Aplicar las siguientes reglas de coincidencia:\n   - Si el apodo coincide al 85% o más con el producto: REEMPLAZA el apodo por el nombre del producto y  MARCA el apodo entre comillas dobles (\"\")\n   - Si el apodo coincide menos del 85%: MARCA el apodo entre comillas dobles (\"\")\n4. Si NO encuentras productos que coincidan con \"REFERENCIAS\", devuelve el mensaje original sin cambios\n\nREGLA CRÍTICA - SIN COINCIDENCIAS:\nSi NO hay coincidencias, devuelve el mensaje sin cambios. NO expliques por qué no encontraste productos. NO sugieras nada. Solo devuelve el mensaje original exactamente como lo recibiste.\n\nEJEMPLOS DE ESTRUCTURA:\n\nEjemplo 1: Mensaje con productos válidos\nInput: \"2 X 3 Y\"\nSi X e Y están en REFERENCIAS:\nOutput: 2 \"X\" 3 \"Y\"\n\nEjemplo 2: Mensaje sin productos válidos\nInput: \"hola como estas\"\nOutput: hola como estas\n\nEjemplo 3: Con palabras contextuales\nInput: \"entraron 2 cajas de X\"\nSi X está en REFERENCIAS:\nOutput: entraron 2 cajas de \"X\"\n\nEjemplo 4: Apodo largo vs corto\nSi REFERENCIAS tiene: \"X\", \"X premium\"\nInput: \"1 X premium\"\nOutput: 1 \"X premium\"\n\nEjemplo 5: Productos repetidos\nInput: \"1 X 2 X\"\nSi X está en REFERENCIAS:\nOutput: 1 \"X\" 2 \"X\"\n\nMENSAJE A ANALIZAR: {{ $json.content.parts[0].text }}\n\n\nFORMATO DE RESPUESTA:\nDevuelve únicamente el mensaje procesado, sin explicaciones adicionales."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3536,784],"id":"464ccbf1-b517-483d-80c2-3c8808088709","name":"Message a model1","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $('Merge final').first().json.final_message }}{{ $('¿Es respuesta a sugerencia?').item.json.final_message }}"}]},"options":{"systemMessage":"=REGLA ESPECIAL - COMBO:\nCuando encuentres \"combo\" o \"combos\":\nReemplázalo por: cantidad \"arepa con queso\" cantidad \"chorizo\"\nEjemplos:\n- \"2 combo\" → 2 \"arepa con queso\" 2 \"chorizo\"\n- \"1 combo\" → 1 \"arepa con queso\" 1 \"chorizo\"\n\nSi no encuentras la palabra \"combo\" o \"combos\" deja el mensaje original sin cambios ni explicaciones.\n\nEjemplos:\n- \"hola como estas\" → \"hola como estas\"\n- \"ventas de hoy\" → \"ventas de hoy\"\n"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-3936,784],"id":"9dd7f1ef-7217-47db-9959-06095a0e7b94","name":"convierte combo","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}}],"connections":{"Transcribe a recording1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Final_message_audio","type":"main","index":0}]]},"Final_message_audio":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":0}]]},"FInal_message_text":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":1}]]},"Code8":{"main":[[{"node":"FInal_message_text","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Code8","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Administrador1","type":"ai_languageModel","index":0}]]},"IF1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"convierte combo","type":"main","index":0}]]},"Switch":{"main":[[{"node":"registroVentas","type":"main","index":0}],[{"node":"actualizarPrecios","type":"main","index":0}],[{"node":"consumoPersonal","type":"main","index":0}],[{"node":"informeVentas","type":"main","index":0}],[{"node":"ingresarProductoInventario","type":"main","index":0}],[{"node":"crearProducto","type":"main","index":0}]]},"Administrador1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"producto_detectado":{"main":[[{"node":"obtenerApodos1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"calcularSimilitud1","type":"main","index":0}]]},"calcularSimilitud1":{"main":[[{"node":"Switch Requiere confirmación","type":"main","index":0}]]},"¿Es respuesta a sugerencia?":{"main":[[{"node":"Switch Router de acciones","type":"main","index":0}]]},"prepararEstado":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"campos":{"main":[[{"node":"producto_detectado","type":"main","index":0}]]},"Verificar estado pendiente":{"main":[[{"node":"Merge final","type":"main","index":1}]]},"Switch Router de acciones":{"main":[[{"node":"Eliminar estado confirmado","type":"main","index":0}],[{"node":"Eliminar estado confirmado1","type":"main","index":0}],[{"node":"IF1","type":"main","index":0}],[{"node":"Enviar sugerencias WhatsApp2","type":"main","index":0}]]},"Switch Requiere confirmación":{"main":[[{"node":"mensajeListo","type":"main","index":0}],[{"node":"mensajeListo","type":"main","index":0}],[{"node":"Productos no encontrados","type":"main","index":0}],[{"node":"Guardar sugerencias en Postgres","type":"main","index":0}]]},"Eliminar estado confirmado":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Merge Audio/Texto":{"main":[[{"node":"Merge final","type":"main","index":0},{"node":"Verificar estado pendiente","type":"main","index":0}]]},"Merge final":{"main":[[{"node":"¿Es respuesta a sugerencia?","type":"main","index":0}]]},"Eliminar estado confirmado1":{"main":[[{"node":"IF1","type":"main","index":0}]]},"mensajeListo":{"main":[[{"node":"Administrador1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"mensajeListo","type":"main","index":0},{"node":"Guardar apodo aprendido","type":"main","index":0}]]},"obtenerApodos1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Guardar sugerencias en Postgres":{"main":[[{"node":"Enviar sugerencias WhatsApp","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"prepararEstado","type":"main","index":0}]]},"Message a model":{"main":[[]]},"REFERENCIAS":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]},"Message a model1":{"main":[[{"node":"campos","type":"main","index":0}]]},"convierte combo":{"main":[[{"node":"Message a model1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"timezone":"America/Bogota","availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.aa7tej.easypanel.host","user-agent":"axios/1.10.0","content-length":"19158","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"52.15.92.133","x-forwarded-host":"n8n-n8n.aa7tej.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4473dde1486f","x-real-ip":"52.15.92.133"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"pepe cadena","data":{"key":{"remoteJid":"573103015865@s.whatsapp.net","fromMe":false,"id":"AC10566C317DCDC364ADB448A65D9E9D","senderLid":"14942191255771@lid"},"pushName":"Alejandro","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/561719480_808947778165900_8376371940454652798_n.enc?ccb=11-4&oh=01_Q5Aa2wFBFqx3poC_yYvIslJLNEz74PZHqnQ0JmecpYnxcJMEzw&oe=690E92E2&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"JTj8VU1TTg4yzTB37PDbg/eyY2sQ11Kc5XeqquiDT6c=","fileLength":"13075","seconds":6,"ptt":true,"mediaKey":"6wv5bOFZlssNMd/2kxjIkd1QjXDwxtzSjMu4b7UFEp0=","fileEncSha256":"R60wGpY4RWZxytYo34ARUvrScw19/36R1mAy5BS9JIg=","directPath":"/v/t62.7117-24/561719480_808947778165900_8376371940454652798_n.enc?ccb=11-4&oh=01_Q5Aa2wFBFqx3poC_yYvIslJLNEz74PZHqnQ0JmecpYnxcJMEzw&oe=690E92E2&_nc_sid=5e03e0","mediaKeyTimestamp":"1759982750","waveform":"AAAAAAAAAQgBAkJENks8LgIAAAAAAAAAAD1APz8/QUQ8NyQCAwAAAQEAAio+QUEoQUw3TUxEKjg8RSUCAAAAAQ=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"e3GnwCc3oAo36g==","senderTimestamp":"1759729980","recipientKeyHash":"YccVFyADqLRqkw==","recipientTimestamp":"1759724192"},"deviceListMetadataVersion":2,"messageSecret":"uFdIZwAKcd/io2FjONOFHrUeoZUkcIuLvd1KnBDp674="},"base64":"T2dnUwACAAAAAAAAAAAAAAAAAAAAACqCBoIBE09wdXNIZWFkAQFoAIA+AAAAAABPZ2dTAAAAAAAAAAAAAAAAAAABAAAAjzLsvAEYT3B1c1RhZ3MIAAAAV2hhdHNBcHAAAAAAT2dnUwAA6NgBAAAAAAAAAAAAAgAAACKlb6kcaf8E9PDn8fH/D/8+/w7/Lf8n/xHV5+QCAgIsZkuGBwgHBxsL5ME27MWAB8lyJ+FE6lAHyXnIyVfAB8l5yMlXwIACzjqQW1Ugbm4byOB3webIKhjYaQD6PNiuMorjwf4NWFs1BqWATBX7oM9VUGPpIvcekqtMX/cS4YXPycCn+ZKsFMhwbEuGKSkpKiiK19ow7uJKWYptkF2LmUB2i9iKc4KHMDq1kyA1p39xdPczO793Dwp7gIrX14KaojVv5ra7OsTvux0LMqLkEYLkoKwKy6errsSTiK01IZ0mBRMUirG3ArB5kvzggN5x4IGZeqK0eKWw4rGxZ/XFd51B+mew8NZsMz4FTECKYdU6ww3VZ6eUEAHheAEEboRTkOmYz8rvlyz3LtxMr3H52HxcXZitggiKXWGU+XD1UjzO7ZmuTC3LusPmG959QUwUectAwamaEhsRkKA5kgigifmuFMx8B3KmysozJPnqRB8hOftgzF7eReYXKonFiJsqV6JHW/LjsRDnZ+z2Q4BLhionKSQmifn2st9vbrVA5O2BOrkoMftrplQUoVxn8TBAZJL3L0TxkO/+HHMLP1RAifm0Jo32I8hhWxoHmft9ggvu4jKhjKzm/7zDsX+ToELdiyoc9c2Aid2U6YmRSq56giNNFCPJ5u+kEz+hu/sZi7Bn3TfU/p7oqnkG9pJ65CAxKHlLzAU5zgKhLFmd9d06I8YkCojtb2WOPMQ2b7S3jSBd59CJkaQn7KVo3i8lk+FYAr9FHqGcSJJOc5ON6TdNTcbCYtoKS42ikImRr+7R7Fltdph5+KvFLEtUEq2tm1NvoW09cc6UYoIlk3IWwdLNFmpES4YpJicoKImRo/Iq2LLNKiTOW5JFTqYN8HP3VraZrBu593pNZ1sRyPmYBkIUYtOGMSh2rRMmUK9jYmGK5+bmGr8yhg5W8gr21/t0WArMR4JtKtuEkDqJkafkDnhzqMV2hq4JpYI31EVWW+g0rMej8om48iDLx34nJKLDGwSJkaPrLh9OzYm8hjoQgC+ecbYliWSXrEdqZYBcLVj9qFI5J/uJj2B4ibY+PEgWoDXpqa4Y2Z0KvJlTXEauoApYDAYkhr/LLN8rkWfDdC0f4jMQ9acjVYhxfcnkiNtcg8EXB5jJ1WMc2rhiZ98YcItql/XAS4YnKCQhJ4n5tBI4O6uUKggKyIff0XsJPWhkaGAbIjVVCaTKBoxct5mpeyGY3In5tBQbJZne246JwTNJ1QAI4zE1a4tFtDqReBfZT4xLGzSW7nRMW4CBTmEccOe3GnmiC4nPzkKWBd6NC1qaCEyal4yLXGDW+uI1tEAFOcfkQPSv6nWKafpyEKC5hfWEhjpTdi53UH5TmK83xIAzJCumuUhNquQDCiXmBjsVMh3FxL+FhvSEd+mzIeCDKPYWFpKWHcAzEQW7yt3PPibiOGWLx2VRJvfz/kFCGzM0aFZ04FlJSwD25eiUS4YkLSklJoFKEOIyjxsnswv4qdf59U9zNvF/0jXYcb+5G1lD+lSn2F0KwIFRpQR4JnnFUP98FmD8AFRG3Yybu+xGtRM6JLwUo2+ksprcQjss5jnqJE9BFopb0krlbsTn7WL0pqBuKiF/r+ruP/rUoRvnMruSNNJVuE4gnUaEjzSAMxEGhGioNbZin2T91hHniAJrGIzPsh+DVF0TXQC1B90+wQAjpDMRBimAcbuTE3IYbUCO2L39LO5BRWfKs3Cn90LZRegOQBU2+o8aMxHcQ0nf3p7AKW6dDvAcqvrg/9y4fQ5yTaMpHG4Oe3SZDvlz4EuGJicqKCIzEQVe6zFVpom3y/03LiUvsyh26VTdF1kYcbsKXAxTH74Km5YPJTEoNU0Gugg8PhoxJcJItBAbZ9z3Bh8AocciawDs4qWxjK/YCahLYDEoNJD25Xir13FtQx/GYkFFJbunrqYYiVcwJQMXYXeYkAZ2IRMV8lZwgDEm8nsd+NtRXqDb2rY+ypnT71bTHUoTgCMDa6rYNs3gbkMIhNgAvkAxKDWlOYJIz7MgPNs3LJJLeGf3NKc8mSeHg5Hjm7uLe/cQMV2XkZkDDWS8C61ZroQmsWa7XMPIhfbtp92mCnVeWuhghWGFZfNjadhLhiQmKSk4MtGn28GWEdm0X1ZlUY+73S27A7dPtl1wTnOyyXLP3VdjxJxwMSgv2jX605Z4k+ufKHy8ddggoKOJ0+p3/sfNfMSJnD/sXAUAcD4xKDVVB+kn7FRe15k+KTOY5Uxesgm8i5wokZDwChV9QxRqdOl2om2BwImdAfUKc3md62yGtLPbGpEdrSpeqCQbQtCMT5HjKbi2pW7RYPlPjNC6gXjRUkBc0kBN8UEomsHEN2pcudWrCC8sgTnBosDeKhgTD7LckyoJWvCmgZ4D4f/wyFoboCPv7tCgAFtyMmPu4Sg369cky1DMooFue7WLXEIQHs5cKS4hjTwxp2lpNKpawWJ32E9lEOVkddZLhjM4Mi43n/m2ugfHeflmCGU/jDhLQRQ399x5omlvH4rRwlB/K5sIUwdmhITgAti4YbkDPfZKzZZin/LIusa9mpANBkmSgXPCVKVeXSyQ0lRIdRsjNG8Nen1s5OeBRA5yNnoWdFN4tCtyVtUM2Hrfts6gA1PlTOLlI7kT6hEPuu4DhJeP6SsScqJ85vl8tc3rLZH9W+b40D1MRZEVSky+u48UjZ/9a/PhGMdNUCf/E0nB6mFtz3zJV1klCgXJ9W+erKsuC73snXmvN1PWCZP+LnCf+bYc5jVaoZLzJ7tAT6LiTpc6byub8je6E9IhwpSpEmPncj0MDxyz9U7SEw7oyyTEq+az1EPAn/m63oG8qeNSbnZ7b+6ulUReoMfT86b1YLC1pYNy0o6uyIFJygPCHzy+GAMdLynqcxHhS0uGJysmLTCfxQex4O3ZhBLLIxLmJ79CQ0x3Sq4fmu5QeloCO2h2qqFuSUvmukOdK7dnffnHtq/0Jk8450FDpgKy50LaacmkZpc3s4ygHxb3chlK7aM7U0sgilQshFm/ZvpCUgqaZCQHkMrXZS47Wic8zWpUkHPpmJiDJPORP4CJ+WOIb3ijh0zUUL1h8SoO9SC7/l5MKHKZ2NZC5nO0SNcQfdKbJwEEcq9Al0CBWJNjJiA3hBK291577vMbilDHeUFdoVwLsxNu7A9AadpW2PO56Knu18fRPuqortCPwhlM/t1Nt/tqKVLW0EcJvFOoolBIA72LzvrM87sfHYZot4woinEAnlgtP1iM5XgUS4Y3MTIuMaX9RxBaimkssCJRvVrksAf3Ihyiy9jKJnTjq1ox/faWd937E1sCX8jAW0e10yiuqnGKfLLu2VOiffNXbtzrzydFJ1Ec7GnfsCeBhLknBI/uu8ZWtc0eEZb5JhjF8JRYyvwXjC23rlCIo8IhxZnqCTkOSmLzX7t6MydDQpf9MdkTaluAyaQ2zKf/ztyaiqlzG8zodv+QXyajkbCjsnIG0HiMLZv8u8DdWjRUSBDQ2l1ToB3j4DkL3blqbOa60DWswYspulGl5hWAoN9YdMAuI6bMxbHT66/oP8vNToYPUhoAwnzXJhxEPaXnutTd135E/74ZTDiYEW3iIJ/FBjk31zF/CWzJPL7dLtqvzyPLriVJoq1mX0F9orLh1hfeayK246YhIg4iS4YzLisxMp6xVjhAKK1USO76Tzzvr3kVYzhkEbH1IXEouXetbyUSrDIiMCQOsJfqE71x2yrLtXQ+cp669dGtTNpeuTqVmFPr/tqwHqplm8cNEvYgv//r75GYzSiZeOZxdBaYs7Tv+1CelGtD3Q4w5MBpFbf4Linm31T+M4szzXC1nJcnMFxvLzEU4vTPN0JnOIHgnaVDl2W2sJJm3nUOHQpQWln0844Iz5uG55OOkMa+hlyHqo/DrzyigE5FwDqbLhfmr6AAUgAj8uljTnt5qbp2CpsYxg3AJQSQE3Mif5gcKQxFy5Zo9ZpYnmZSBrBhOsGhJjmQn/DfYTHIXW9AiWngEwerswq4n+V2y9ok3QcNPxVrvNbEOvO8IL+5P1lfehiFNoNwS4YyNi8uJZ/FKRqd5lTGIYYzpWiBSxVan+C5V92QcKQxVyTCvp5zzfUEO6p2ZXCfuEMLGdFrJi2AnnyslUfK/AYCw8IHzkhtswjuOSkoJIKNoUiSPo3grE6FR/LfyVHZ2vLzoIZctUJI7eAYJ2N3nW+SYFaHCp3TNVcsntBI0wJnTSmEWL1x7mG17mbwjsRwtcmkDxOiGeN92vh9XQi9xoI08nSn36zFIqy1E9hm1KnjRB/7jQECrKi0UagKlPRthCtPx3jwwOwZ5hESNntm+cH9JzbU3lZ7aJPC5T6qTPlh0qopV6VzyRwcq0KySmne6DR1UxSL0Lk+1INWbhaHclZCmUjbRmIuPGc9Vy/XTkBLhiEkIiIhMyPgolrmXMoeHpCrffSvO/pkd/JXu3cMp2D5oxwzL/c8MSg0+wuJHkvwgLjsguTYMKLkU7FUzjnQMPD61rd+y8d7SgTIMSg0fxB48NoVmeoTY49119rNiP58a+ahyrfXDDfMGgs27jEoM7RRjNBzckqrQuLC1qj9W6lZRqJO0GF7VfWH+uaApsAxQJuuzCuRNVvgwOf2dia2WiGwyPmcSFUHTuAl9xaIMZAxKC/X9kiR1UPTDBR9L2oFHKEDWlVrXfVj/Y+/x1cZrGDnJcBLhiQkJyojMShGdbjx/pbY5uxfuWEmffee9US7xZbhrPbleZtkwD/AQ8zgMUhPAAoFhtU0FmlUNSZMUOBrKYLP093MCETLw7gEDzUuA1Z4Lz+Fvy8PTfyvthKcE4+pixndng3m40Vdutwcyy/6e4aWZMYI3Qj+Lz+C2qNoXkylJF+ldU2BhCa8/za5Kvla/DZLtedy75eWzg2K0cDtFr7IL50pNwXqGhdxEq4OkW1DiDsyOMz14KU5VyT+aCS23/+ruTAvP61Lrbw6THduNW6u4c8sRIp3VGoAdXcJiU28xD2Z92XXwkhLhiYoJCMlL0EqVS42lqPUfr1IvVM+YezAhpLZcXajKCRIuu852f2GtXTFeFwvP3VUpbTSX6Q1qjUwz+NxKou5PohjKeZ38PZNseOSVgg7i1Muee+wL50ruOY2XouGlk2zd4Po2XrGAke3+EALdwGl5jYGfvds8i1AMSg03IoiwZtIIxRxNt914xsOj9TsDl43pkY3uVGsS0nRU2gxKDTbWQLxpe4VVmHb5vlKXSR3+4DHjvk6A23x4kuKfZR/+8JAMSg07etKZM3ez7I9jNby8Mb6Hobu65DyNTQKtT+lsj44gVpLBksGSwZLhgAAJQAAMOiTJGHqKHlCJP97WA0dnTh6TOZq6v69YUNVRESassFoDE1uKEuGAAAAAC2JuDbN0f81yxrFt62B97j3HRC7/K+d/M4fUULBwU3Uo7V5gx8TkUZu6bSjy8CBeOlKBPOIZpck3s/1QKdPY0gkK0vtYAF171WJaoyyuoSYHoPd37JskYhjKnBnhjjpQE9nZ1MAAOhAAwAAAAAAAAAAAAMAAACJcKJ8Gf84/xz/Kf8s/zL/Mv8n/xbL5+7d6dzh/w1LhjEzMzE1oF3S7yePH6ZuMfDCj0IhoVmDq2UmZ4wfbWaqDBx38S7lzC2ZghY1ud7zP6xfK891/KEzIKJL7GGRrfvq3PslhLideKSCeq1eovxGXShjCJPU2TBuCte3Y6mefNbQOnb9S2JkzKEzBRTRSSllZFqa4HdjVlhdyd7PLzCx3PVMXmT9DCtzPSD0hG68hGIn6qFxdewNBIRAoKE7Mru0cSP773l4TwuA2GDh9OtANoxa2ueeNhV0ynQ2SP6azT1ttft4EfjP0QZEXbChVos11biTl2Yig0rppC6gtwGxU7RRcoz/1Wdtyi3M9HHMo9qheQ10R/4ujy4EOCLl2t/V2aJ1XK7EngwsZa3CSmoeF/Vzk/1g6rRsHoD2jA14pLwVdoK5cLAM23SFAjAaYH9LgRdaIEuGLTMsLyiie4Cd9S1Y72FzYVo+7sitfA7uytOcTbnn+JcwBeFsSYNq83xRXBfqtFH6GcyhMwURK4do5Esc4VegH1DDfy2H5BzAqMvtc+GXeUAdAnjbXsE7Erz6fuOgf2i5sj3vrWChMFpHoXqDsLv6CIVIEUFeG6er0K6JvNIKN70pWfeO13KBUWe6AxuyDRR5oaEwsbeL0AhUnqrtP8vlsUmp1137KCl3ZwjyUqSfvdb7DmugSoBLhDgYqQRaF41AoTCuH7UXHISvlpNptFG63pl5+Q1hx+bYQNOx64QJHiKZoUeV7PfhUJ/oUbhhAxYe+EO+vYQvl1jpYsY9CVWK6kvAxF7jpWtrw0kVpQBzWQ67VUOElApRUkBLhjIxLy0xn+gm1xxttDslP5Fu08Tok2CFpIPvUIDAA6JXuNaAqOtTfFbI/8rSxmd8jn1iRvuOJECf6sCjTUwIsuH53OauaIAM+EZxTLuTNZ/smHwSlNQMvEa3Ap/ulsm8Tdc52+7wmPfAoANbqTRdV8jUL7kqgTYQKBzFENndWoTWXSOlrqIjpSfT3qeyIxUMYHy0JBuoxUCf/90mjiQ8OW2sjx+j3avTbMNh6qmjwgFansD8UIV22pV5SyS9f/+k7G8c7s2f6EPjB04SVc7sGjR/OCklpnm3qvccNZCIkVgi1hUA8DEkjgDUEpZWZ+oUmxS5Nr3gn/LSsCa1IVCV45pc3bUBt4WTphH1YL6cqAI5d/UmzhO83JdsifJm3IVpi7NT0gkdxEuGMDIvKjef6qURwmrOx/N0ToNoGQ7iNvbh4kVI/uTxhjaf8JaDDqKdtq/hJYlK+zw+J2jRvuCf8sQG+kHwP+nFLgdFNFdE3dCx7nU3b1mtfCId7uur9en7XXb1QECBHwnoMrOqyqIPPp/qtHwubqpHYJvv+IdreJGlw1FyZbIl2es3ZcP0gh1l6wj2lJgLLmuffNTDtoYon+hAp/5m4PDrwonppd6TubU7FOPXPNrTrP7WUPpUDpz/exLpFTQo4j7wn+qk8lSTZAME+EaZMAQkOZofcRy7Iej58fmbUUGofEX5LBNefRSjQSqnxLyQiWBfc0e1ZNhF/J/5vL6gyhjoopNDg0MYkEV9VTOIYVDnYJEs1AAadb+QJQtjmHxhvgzrrRpGFU5B1CbyS4Y3MjMzMKADW6F3z2nqEJM+xTLwPUeTT1wUkKmZVhYTMTlDuvc+gEWTDbXO0WU71BWeZywGLWkeUyJaSZCf/XIOmm88ipjgBLISOvjMn6xJlvjF9HRTvuMiz9YrP8hb0tdbCecrL2uDiLR5Q2I5VJ/5ry15gLMt6z8bj3LlQNGlpQFycmCw5lVIXzZakCPX7oGt47D2eMk+D/cB7OFAPifjgJ/qllAyqKTLmoAVNPhtrmL1NrA+NZI2b7OQgarfBwGPDSbuYjqSCSzZyKoV52M+EFs6BKADWBkLXU4jEZm9+YXA560YxWNLpgnD/nhVw/XvkV5PapF/1sQfKQNHtzNw/AuxUp//3Pu0BvkRoykIGx6peVKqg201sR5SBRLQDxgPG8WobQ0iVQhxQfv6bXJLhjA0Mi8vn+gkU0VqOHXOBQd4O2eCKMAIKKLFUd0zvfoZjudaBHdJG5Vad6GQws/gGfbt1qXAn+goDw9pYuWrZKE28Q7/SvvybF37vSqo2DbSWuDqhD8CH/7CfHvgX8VPjDmvVOMnwSDNUKEhqB5k1aT8PZKZWzQdJIhXyS5j1ZMy0Lpb7CqCorAPDcgofxO2Qyx/akN/RKCIjoGeoAOLwPwADx24v/c5qCU0pvou7+QpxD0r3FW7YRybRMrMgi2dDW4CAApu7H4ato6f6CgPHOq/ZNwzezfvWu8AZscf7GOgFROPadzvxRywEAxHAuP4Q7kGe0AvVM1I4J/oKA8c6rmJy4X5kYfs/z9CHfLSE8uafQbzmLJfve0kA2EWf33BznuPLk1AmH1Hoi33EguIQEuGMzUxMCugXdL1MDw/DL5kCGA2yAtnlFbSfY9wyP955tR8qgydSpIdrBy5z9NsSOlkj9TW42XFGmChB9lNinh7b/efz5HT47T4+aZ3r7Ki7zrjKX/n0IXnUrygYPK7/8NQzH2X5UoICu7smEVx7J/oKA8M0iEJuhf0g1anmcuoEEXVZqrFdCUjQGio41RKSgSTVUMah8LJ8HbUwuYiSOCf6CRTP4mYexWk+sHibNdM2EV4tnKUNtSrK4ird8F2uPcFGRjyZDF/dpYh/ZfNNvCf21utL7X8EvSNZ43hDazOR+3mgLQgsNZnjU/PyoWdxj95m97kjDmsLc0mnpPbxSKZKOIqhv5qxlBm4do03Xd72lzb1s0RQFxvO2ESPCxaGAMBsevfgEuGKy8tLS6daNqQDzY6y/Ydw1t4f5cGFgQmDChPgC6u1hqawlk8Ax0uaVTmByQ0Wrj1nW7c5AOqC01MRQGKZ5a+QkllLJOVu2UV2jGysYRti79+BI2439Z9aDwKdYxIzYC91VQekzQnfdHfV7rHzin3IMo+ABE1Pnnx2PKbTbydISByq54rTjbBIxRWxMCdMtM7rvJdbqhtx1+fFZtrG1BPo3gTk7iLjY6b68eu9qtMGdB7gpMcFPP7CUCcuT5wo/P9WTPu791A+XPAdbEucR3jx2Q5NlmVWuv80dYefn96lEXNExFdIB6Qvc5BFKA79y15j8lGoG1Uprd325oqUkh9SYXImfMrReTk20VCh9yRHLe1rGhLhh8eHyEkit4kOXEPyVri2iMIo4wonpW+gQtdrKLHIpH3qG3FcDZ4hm8iYJhZ95cHPHpRFgGwX7MFMha/TXzswgh1KDY7uaRt8vH8T1OAFjXUcfUPtbItIVYkfTLPbFVGHaA0v+eTAgomLJmO1P81IMttRfmgL1wjwKJxtUxZjhepxuszJIINsm5Vyce9UantWibz09ifkBYRAE8gz20LBRaJtFiRtzAzIti/lK6frPoWyOtWL7re6JxKW+BBBWw3leFVr++ba4+uEEuGLh8iISaBWNr+Tg8JeBeQ38DQHpcM7HEVwci+s6K/KXnHsqm8AsGju4puSi3GdSd7NDUgNla3dnFGug5h697EFWuyIWxxMP20mj6BVDNj5QwmQDS+ZwoXrf4Y1IwMpHDhJWDocNB9tRomHomLNXu7aD0qSfoy+oXSmcyIWsqCfJvOebs+6pPfuLEnAt4hnjNRcaL76cAE0lDmlqQ4oF1RZz42l7SNpVWEp6aC1ws9PlbPugWCW7N0eYL4vDE7whqn69gDgsgMgbI91uwqaK3ktwp6tNFw8WZCUSD6LlNB2CKUl53MgEuGJScnJicxQHDYkJhhEivihN1d15aqz6Wu9tH/xaPaaTVnsRwLaMwDOYJgMcs0uDUxn3uNEJzb3tacXn//VXeP2RrRGjrah6BZ/hosrB18xFgIBNJ1VbwVMhPy3Pb24AaEAbaMasunGgPM8h1ALFMaBHYHZmUe+kLOMSb9ixcvrrLochX6Risvzk/Fa1kg4ihmIviLGygNILixjkuGYsAw6LqG/z7M1PqVsoLa2VqzZcqhmSpxajguJdK8dsimKRqAkC1aytYxKDTxpVF5b5eBhQBILenev66ajsETFEx81rqLF/ArD++EViEvxlBLhikgIR4mMShGG0LlPJRYUqjYtvk4zE1HVro1Xmw/wnRL5+b2kIUyNslF9yxLsoAxKFGNmmatocFVPjrmfpRVr3gy6A/F2o8glcF9QQGbcATSUneXrUe2PXgHkCFXlR65756RhITqwiPX90K+MRpVwDEoM/Z4EBlUgNkkbZHl+iIOqp4aujEpIlMpOejLpjEoc5yI1wlbyqAHsm847HiTsBHda/j+kMd8ev4R+byBd7MzmJ9gMSg1sALUk15WDbgFkocU8zWyRBFhh9Gzakwj4jV94UnaSHDHrZJx+EuGKCUoIyYxOgO7r8JrCTN0/oL7n5gnD8L2DX24ZxtVyWjGjgJ/ic8AjokBYIUgMSg087DSxQ3S4jUU7L6cBze0uozYrWPHvJyHkOzq8JY77uMk/DFITzCEyzx2ND09/ToSF0+B/JF4AL2hGBQS4pXHCWtwfcPqiqHn8MQxKDTqzVO1XaZCarW7MupCVj9S+eBEJnM/YkmIa/jw9kelyDEoRnt0auz8lIps78+ACX71cxdkMYUYBpdK4mSNPXrFemM81LNQMShFWvNc5d5t4ESwovDTqAbwc4W2N/MJrvBEBrpSUffz16HoS4YhJiUhJTEoRngzHSMjP704wrDK17zeHB9N1TMDiIE5+5iqljGrDDEoNIzsVVjQmcHBzcYKEbYxYvxVVO42uYG08VrtuNmyYijsBtIOMSgz1kP7mpI7+x7Lxwtb5jSal0+GTjfl+DmtPE6V6thcZzGE5jEoNaf5MhMyywDSD3tEzdE1/fB5LhKu6Bna+/LlIZcwijEoRMUyJakhrDxOpXqmLFOatdCJtcs8xNbpIuuRwcuy+WsOjIAxJy5DnDNmN1HJah1HTsOTjTwy1Yzi8dt/LP4nXViv4iPalUuGJSYlJSIxKqlATCMoh+M6PYYixqtkdWQ8nGjfFuS0d2IMFhS7wM8acimAMSgz3ank5J60ENGrZgnoHt1taWtV0Y35EhNpTG8XB75nCdpzH0AxKDVNoQk5R8WnUN8z/4Mzxy32Btg8xf/87LKucKgYV7MWDuEaMSg1UeIb3jJO8U1uPGIlldr5sR9kuTeCSCGPljItTPuNckLtOjEm8uanYIn5F2jbfuTdv14AAoROY+FwIeMV6hZbtImfQeYxKDHsOp9FZJx1xhz/6b2hQigTZ6vlQi6fy3+CWRYzzANB2EuGIScsLDIxKBM3M7xHCmucBBVTHvCmwp7JBSjELFuz4VS3LCeD10AxKDQ/9DM8i6Q0n+uJYyg7974Z+cBOY+BFc+Cc67m4tY/y+HQ3TeQxKEZ7smStzsokCaOAwAn8GZXgmqk74kbd3lwiDepF4ZnOCCOvRQCrcgqm5YmfVM5ooueco7WW0dWxkMbz/VMP7A6Bi2Ac0x0EG+j8QedTNy8BjZpsJDAwgXhTwN5RKCwbuuxzbExHePyr986D3ggGeRoJp1rGYWqb6I5T8z7Y98neMkKkXgReQ0CesVbIygFSHTTwn2J265BrygWpGoR8NK3JvYZ+h+H52IXnkJhkv40WiMGyK7uUG/pk0oxPZ2dTAABokgQAAAAAAAAAAAAEAAAAKVAg5hv/NP8C9P8X/yD/Ff8h/xb/IP8z/xz/Iv8m2O9LhiwyMDIxnxbPTD+i6Qq2Tojw/YYFD9BCx5zeEq13JuKjYEKylihoVup4tEuo9WXHsFif+ewSKWA9ZhgBaMcAS5AJikCKBM+PNRKit5AcfZQScWKPORGbr4kcSRqk3yPmD5Z515/5opDA3fPBIz+BgUtTp1uB0fTB4YGIqYzjh1mMGVBjYaJcWzVE1kfEeMf1t9Hfip6xQpDo9CYyRKcjtc5YEtOcOjZReEiSwR5Z5xL4MEEUSs0R0JiU8ic2jOFihFtNPmbAnrFC275ZMR+MRJbLQmkQwMSF9+rNB1gl8vhkDzf3l1qqsr/hgfy6SufbIev5igemDKB28OoSxc7LUGxrowreow3b4hFBEkC4c7G7UQWEPMrOr5vFTY+3fFkKs2tk2OGTYNezuvKJxdNyad6US4YrJicuK6OyX+Cl/HxhyNF5nbZ9q4gLmVNjXJWA1+wrin2w8z1mYEyEBpstYlRvp1CiiqQnfux5K4Qt6P0J5EFdLAQG3TmToXOv670F81wG3halQ7us4KEjt5US3XPIuDoPhBLPqg7tY3p0kcedVg9JcnWw+BTVbeieoRvUYKAsFP3K+KgIpg86jpxghEf6G9GJlDQ7imf9sfP711ST+vjF5xS3s0E9mbGw0KCf+koJBxUwcSvMUm4U5rWGv5IG0qRFLX6QIyKkOYMxjZQ+wNdtsUMRnfign/nuv2LWtUTlcchSKCn6WjV8vLe5V0ZWFvagK2WGzzL3Sz890+o/fyBLhikoJCUooUJE1UOMfXQBYvmCQOBOiJtNdQdZVD6FmJtqPJeyjxmcP5agYQ+9pSChQkGw66RytxJ/JSxqNv6bVqT1/T6GBgHLhk4XtFnou5RuLkqvV/PwoUKm7nEsCRsDkgBVbzAV/x9TkpnvTNQ0UscJygR3eGwidvy2oUKm7nL3ZhQSrucamg7mi5oNF2tTbkm1E6kR7IBzN3TmONjdiKDd72jxcK8ajvjvpK4NPZCG/tJ1cZoq0QH0NUzUncnqwbs1tka20LSeTSR65zqlwPq8yO5Zi0ULHAhzn0clpvXksC1sZrHeMURle2ypdi6sj4J9S4YsKi4wL51KlgrKIlUcPYgF7DulybVYvggNjX4vvf3PeTaigwBDYL6ow25Vw2ylO5xsikZxiVE5aTZiq1ox8W9D7nYVeunfex1nmHSSHGNij8I/DRxrZNw+3VcugViRDIl+ipmG2lbKHlekjjzgKKNfiUh20Om1OG6GJiTVWZIYuaIPyz1wiwBtUIKUYz78OT467TWB9HnlWUgKMqIolp2os2PYZQ8umnMhIdnRf3YCJuywXtq7ij/88KFIb887P+gFYfarWGXCmDjEylmuD8An2xr6qP0G5aHrSUjNwVTuvTh3pvbbYBFAn9zUDaQIrrwOG+mcfxIrpdn9mdcCLEzCeHdd7q+zz8IB8ERvMiBhm/DvOmBLhjAuLTUwnpDbQxP5HXt6gIFKQR01y80BQfxAEmW0ygLM2ZLMubjarEeTyyCaznM5U+KZuDnQgYzA/yALKvXDABuEbK9QR4U5FTe0a4q8RpBY8z2+KbE/BqLhJdFqbrFVo0C6gIroX6shSTU474BRuHLlYIOYKwXFqM1SEal9ynzcWLv5F4giAQn90yZaBwgkQIHPv/1Dv6dW0JPrC24vISX4gmEo3QWLwWjhM1NhbmL98Xs4Bp/i7XlMsQ7Vwz6vh4RnlLh+orvGflA/A4dfgeGqpFYi8OOxzRN3TeHzVCmRpvC5btppJzXHhKYAZy6ZmvSb2SVAooPloUyKMrzoGqiouClxuTCeQWuL3YT4jflamgAYtF7XY5N1Tu8S/UuGLTMpJyuiTL1tpr3Hq9RsMv62aqf7QbpWfjs+5DJk5m8G8QA7qaOeNVLxIksh7xGfUICf07Gowyq5UdLWNqA5vwHFWugrs04J0GYSJLRTnyoX54NfZnpH2OQAARj8N2ipk6kacECKYZwqSnmYHGeX8n75c5OqB80VbHzlrmwIEt+gN/6lbHAmzWPokaLF0Ipt9BFVP0w8zbRcTRn/oKSmvgychMIxx/DqE4eF/cxaSP89ZLYoDoHhahedk8YEsV3y1ZiP3OJh6bB/26geaDl383YzarqJgfOF4/ZmT0kXL+eCkAgzwV2QP2c6WHh2gYKnakmc65WYXyvU0W1is4K2V+eTh2ULzHM063sCu8KEFa4MbEuGNC4vMS2Bz7SKA6S3GeD6mcdpz4Qw2PB9nJQuDKsesJ/PSfXW+Ma4CMoxWfHx38JAe56crviDeCuAoQ2Kp4u+2YhmT9ujhILciFmuGSBAOobkw437Hy1Rs7kbUpOY9C6yGIrQcvijgKAt+XUaUeer69T2dbMWYzHCzLkUiT6TjxtzTarlWCtaRJH3iRgjXAWMU6FLP968ooPloqeg4oEB4ytw62xPhGnd/kwDqnDSpX3kt+x4RgBSUdVS6D1PJ47NeHRj0D4s8qObGvvHg1qzt/p96O2w/Ew9jgfhQGvC2UgvYuvxG3ZBmjyJm1O0MtXuKuZhwKDd5dvQtxsKkV47VT0sWEG0QlnGsyENbpAbk8UBjizbqlZK0bvC4VXvSUuGMDExJSef8Op/gvYa6dykAoEsrv4uPUpVJT0chnMgF7G5UnlgT45E5x9Soh5osYZdlRQkgqKgFK8F3cmUITQhaxdbrbjof9rRNsmxipXX9MhfUZpJ0+5D80sIMIBBi9UvmZaNrMpoooT4Z+BbGZ0rCz9Fk4M4bhlk07e7o+wB+tktLBJP08ORLgWsuDRaAusyUSo5qpaVN6KED1dySMgjZAFfKYLp0mX9A4haPor4bzkktUbYrO/awyS/MWCigeF61IvZ540UFZ7Fpm1IRnJOxb6AuLbpLNZURNJ25ngmK9sS6PWigbcpQ6X/6KebbMdF59yDxBtPKmErn1bMMOdx+yT60EajWWTiJwvvA7weJkG7gKhLhistNDMvoU3+i5DCqTRmV42+K0hwH+PWtCbZ6I2tg92Me58cutxD0LVuBmxZ4LaNWJ/51SkyKy7uldbkriQq4ssfjfvQBA5DWCeRmWEf/J3X77EZA5yTQCERuBsi9J/xIJx77fCNPDmQs9HHJHadYSbsvo1/KLm5QiEIRWvWEwB2Ou//fySb1aaZbPqc7H0x1Gyf07GnFiT4tO0QHu/iL/ka41nLyMxkVKrlNJdQtPlDJjryDsCZvXTMqZsTcbxBJlEM0jSBlCec76FxHFPOvOFwikwRnFCqEbrxUc0iGWRf9p8ifNS+UeUVTFOTd6uBeeQEgIphnCrcEgLlGXKS1MmlfZe1795aujkgV2qiOLzx+rKPkvFr+P1T1t9SM0uGJSo4LTw1O7pC49jjOb22kfORCLCTQvzYkRSzCuGOYELSGK0VsWcW0Otgi91KwPFZW56DGngMK4lltGgvx+19k8OmnBt00ENBH/Ks5r7rR2rJCU5sobEBXo3MxolJS6tPdCKVAXjsmMsX5b9CDRzjd/txYsdlKd5Bg850MktSeGKxw1qDeCRa3zpPprCig+bZYZwIKYDx5ipATUzOZ+Xya418imGUE/V8fKsApCWhnLaglIyfnNt+lrSiyYFg/AFbJOpc+SQBDYnrACYezlTbO3rC4l/iXZtjD96frGbEcU9/UHOi4y24Z3rL9s03i7i2s79x6GiDDquCFLeuaxiqEIzfK5jqPvlfp/zlJfUZTXnalaBOZXLaTeTLzEc/ElYD/MrYJavBt8wRE3/YMWAwx0uGLC81LiqEo6ii/WMX5opFj8e0fZ7y69HbOgztfwsDcDs3QSMrsw052VqX/ea17RBtrZM7Q/EabAD52pyhn2OlXiGmDqzxSN41xx2dOPdakxxOzaJBjHvk+f9SJ4hrdyCAhBD83DqNG+HHyxnhmwfVpKKjfqxyVZQvV8+LTAu8zrRSS6hf9JcY0bNEeIi5yfvHxvwvVYCD0q3FvZ5VznOCJh9oPIv/t2jlg7Ufb3wMybLU/u0/wpicI036JmEjXCNHZ4bDpJhupPhv4pzGK0OAo6yy9wq79tdk3iJF8sd2cR4c9lcMEIojaYA9W5/noN3fhqHNgobwouWTOvA6a3RIvj7+oULEx8kUgb7OGGTpA1nFBkcD8rPHG6xLhiosMTIsn9tdFB97hxG4ImryIX1+8fvnDZ4S5HzaGWMEeDambJaeqhpW4UQ4Iq+AnrFYPn7Iz3DBr+tx6zkBjVlMPAnDHHY02r9f995TApx3AKXDfJkaWms1RICe4pyxIL+hzEn7n82HnGgLk2ZEdxmP+MaCiJwkeMU9QOCot/vu4g+2sO0y3QQPk0agoF+HQPDgQuzZLAZ2vZ104ypeRyTEcnBmJBId5cTqAG2V+o+Jw/bHt+mOStM9j+jcM0yhcxzLsJL6XnejA8RGJ6gvTx1EODFwrVrytcXalhgY020G1UInvX2sN0YbOaPMbTz2jCvFNyhKDVXJg0WO7RYQyHwDsWF+QLgLfZ80JSX1w7mRUPmpmZl6WrlORtXeTXBgS4YvNTQwMKPBacNykS26XbyKXKs6q6cBiMSMC03LRpM4TdZ07pnviFIwCoQAgz4Z3jsOM99cojV8ZJNxMUc7KY03wd3nDfQeybOImbZsRwWVnR6kqu/K1zOaXLAKBUrz26UO0vA7oFzSZqCjZwaddzRh7BJb6JSUNOiWCcgIq7MEyswJRQY5zvJfrYmSXCb/35RDFdqF5vSHRA54bMGAn5NisQP4nhsgxXX9rptxU18CkJyduyQ3SSJEG99aTi8wVm7JX1Okc4JxX7criQ02vdO3N3XEAoyfhiI51nj3fSC3zegMgIIoxCTkl+N7tE3gl+4C81YI6TmWxNF8nipRNnEnF809BycDQsl2NlXm+qRDX+sqL6VH1Ots7BfV+vvMKOIcnUBLhiMiIiUlNoiQLK0tjXQbowDV6cBgpjx5JYa1NMc6Qx1oJD1WebUPJ4A29bltwAie90lkt4N/RjRvyP5pjV9aRlwZI074C381N3lYBX8i3IGdPhtryDXkhIdic8+Q4ucvne3fB6HrRAP7GI6MYDL1IvVZKjUK7OKbPQiVi2Mw7KIO360ygK3n+sBvD1Qy6On+XoAxKDWuVDwQElt6pKiVXSQIWHvlzsJLPS/8QfPRYdnAuwIS69ZtMShFTKRNNvDMSPbJE0sFVACqUcvJvGHLXqwZKlk+8tBLhiYpKiYmMSkUZEKuAJzh3qm/iTeSyQzPi8vBi9uLl4WhDBe5Ew5UgK1pq2oxKEVdJJJyxVIhJGVYDLBmOLT7gYKAYD0Um+2RKcqCaKDmWerkVtxjYDEpFvKU/rwUom/cNW/f71XVC+bSi12ttHhAmr0SFLa0vMx4jLHtstnYgDEoRiB5LBzksnDAbrZY2kvZ+caZKbUbTtJT371VlLF5Ea4VAhgwMSg09YgF3PaHKmjroHkfuK8QSwpHwqaZWC++nI1pAoUaxvp2W9gE3Q0DFkQjkFy1dTt+gY9NHR/2tiZKEKYSGCe60lalJzXRwE9nZ1MAAOjkBAAAAAAAAAAAAAUAAAB/qt5sBN10AgJLhiMnJCAiMozkHwG566qkDa3nfi/lDGuih7u78MNFsn7rm6TgeK5PkQwxKDSVklZLw36vo9AROZlJHLMUXlK5DHPuZvE1auofmlq35EolkIAxKDMuOZmR9vC64Od9+t6RUuJ3kgMKFbncUVUXJTDzmt1e8lwxKHEUo/hgPR3UeoFIfCOGH8r2U30/K6TbZr47BeP00TEoNILix0uUUn0Im2bdt6im6/omQsp2cqUrpPJRI5XUuloxKHRRKD5u5+2XInNkBjWxHIpsledetJjxneNqTAnR/eZB9SrWGEuGIyUlAAAxKEZv08+UYvXt4i6YdRA8UGbtvnZ4QiU0+FaMy0xqQppcWjEoNVNDOg7PFF46E+q7arq2mCXfQMqf3JBSwZ+dgVqMNDeP8TYxKEVjYup8xG7m0zd4qk8PH5UxY7NrU0VbGsC/1lg0Xtfwx9EQSwZLBA=="},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1759982755,"instanceId":"e2641f01-672d-413c-9caa-65edc2407abb","source":"android"},"destination":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","date_time":"2025-10-09T01:05:56.007Z","sender":"573102304801@s.whatsapp.net","server_url":"http://52.15.92.133:8080","apikey":"05D47DF5AC05-4085-B0A2-FB7E4510CE36"},"webhookUrl":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","executionMode":"production"}}]},"versionId":"018a82fa-c179-40b6-a640-1f42507176f8","triggerCount":1,"shared":[{"createdAt":"2025-10-06T05:11:25.667Z","updatedAt":"2025-10-06T05:11:25.667Z","role":"workflow:owner","workflowId":"nXXVsGr895OEIu0Q","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}