gerson_ventas-nXXVsGr895OEIu0Q.json
{"createdAt":"2025-10-06T05:11:25.657Z","updatedAt":"2025-10-10T23:48:18.000Z","id":"nXXVsGr895OEIu0Q","name":"Gerson_VENTAS","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-6816,608],"id":"11a270ca-5c27-4496-9150-26dad1bae86b","name":"Transcribe a recording1","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n  \"cien\": \"100\",\n  \"ciento\": \"100\",\n  \"mil\": \"1000\",\n  \"punto\": \".\"\n};\n\n// Convertir solo las palabras que están en el diccionario\nlet resultado = texto;\n\n// Reemplazar cada palabra del diccionario con su número correspondiente\nfor (let palabra in numeros) {\n  let regex = new RegExp('\\\\b' + palabra + '\\\\b', 'gi');\n  resultado = resultado.replace(regex, numeros[palabra]);\n}\n\n// Eliminar todas las comas\nresultado = resultado.replace(/,/g, '');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6608,608],"id":"99dab97d-4567-4f4c-8efe-483863402f07","name":"Code5"},{"parameters":{"assignments":{"assignments":[{"id":"b65575a3-b476-4c0f-8ce4-a7f93531b7f0","name":"final_message","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"bf8845d4-5e4e-4596-b9d9-ec7940739e0c","name":"sessionid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"d1aea00f-74e0-4acd-bf3d-5984b8eade6c","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6368,608],"id":"bc1d61f5-e73b-439e-a265-e2e2d3f5a54a","name":"Final_message_audio"},{"parameters":{"assignments":{"assignments":[{"id":"aa4f659e-93fd-458f-8cb0-d6b2bd655160","name":"sessionid","value":"={{ $('Switch2').first().json.sessionid }}","type":"string"},{"id":"949a3645-b12e-4e5d-829d-d1584f34f507","name":"final_message","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"24d4ebcf-1ef4-4bc1-abe8-04419ac1cf23","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6192,816],"id":"3024f129-59b7-4c9c-98bc-a21ece2154f6","name":"FInal_message_text"},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $input.first().json.estado.mensaje_original || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n\n};\n\n// Función para convertir palabras a números o símbolos\nfunction palabraANumero(palabra) {\n  palabra = palabra.toLowerCase().trim();\n  \n  // Conversión de \"punto\" a \".\"\n  if (palabra === \"punto\") {\n    return \".\";\n  }\n  \n  if (numeros.hasOwnProperty(palabra)) {\n    return numeros[palabra];\n  }\n  \n  // Manejo de combinaciones como \"treinta y cinco\"\n  if (palabra.includes(\" y \")) {\n    let partes = palabra.split(\" y \").map(p => p.trim());\n    if (numeros[partes[0]] && numeros[partes[1]]) {\n      return (parseInt(numeros[partes[0]]) + parseInt(numeros[partes[1]])).toString();\n    }\n  }\n  \n  return palabra; // si no se reconoce, se deja igual\n}\n\n// Procesar el texto palabra por palabra\nlet palabras = texto.split(/(\\s+)/); // Mantiene los espacios\nlet resultado = palabras.map(palabra => {\n  // Solo procesar si no es un espacio y contiene letras\n  if (palabra.trim() && /[a-záéíóúñ]/i.test(palabra)) {\n    return palabraANumero(palabra);\n  }\n  return palabra;\n}).join('');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6384,816],"id":"69c60fb0-8c53-46c8-abdc-dac10657ec6d","name":"Code8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cccb067b-4dd7-4efc-8b4f-70a2e8f0fcc3","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"1066c446-0129-4619-8eff-ec1b00093dda"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6592,800],"id":"a432907f-3530-440c-9d31-636406a2472f","name":"Switch2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7216,608],"id":"fbc15e56-dca7-421f-b14e-ac174aaba17d","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-7040,608],"id":"6fcdfcb2-49ef-4f9d-aa62-fdda302681c5","name":"Convert to File1"},{"parameters":{"workflowId":{"__rl":true,"value":"Ejg0iou6XLtlYPmi","mode":"list","cachedResultUrl":"/workflow/Ejg0iou6XLtlYPmi","cachedResultName":"obtener_inventario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.final_message }}","telefono":"={{ $json.sessionid }}","fecha":"={{ $json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-5392,720],"id":"e4e54fbd-842c-42cb-afbe-4b04bc6907b7","name":"Execute Workflow1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"venta","operator":{"type":"string","operation":"contains"},"id":"4073be86-ac3d-4341-82e7-b7088b96fa02"}],"combinator":"and"},"renameOutput":true,"outputKey":"venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6189def-f795-4403-8763-be0074e7c569","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"actualizarPrecio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Actualizar precios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6643239a-a644-411c-8d18-62571cd67c50","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"Registrar consumo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consumoPersonal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eab13bf9-e889-461d-903e-897b9dad78d9","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"=informeVentas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"informeVentas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6d4b305-0c05-464e-8bdf-f29027df2858","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"ingresarProductosAbodega","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingresoProductos Inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd7c9184-c623-444b-b561-fdfc2a53fcf6","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"envio_link","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crear producto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"179fab3f-a9a7-4859-94be-cff6e3dde419","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"eliminarTransaccion","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"eliminaTransaccion"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-4192,880],"id":"9302cfe4-e91f-42c1-b9ce-3b43229b2ffb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,448],"id":"cc9b10a8-5431-4234-886f-13bfa2b34473","name":"registroVentas"},{"parameters":{"workflowId":{"__rl":true,"value":"sZKq3XvJBsutWwaT","mode":"list","cachedResultUrl":"/workflow/sZKq3XvJBsutWwaT","cachedResultName":"ingresar_consumo"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","fecha":"={{ $('IF1').item.json.datetime }}","telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,800],"id":"a40bab9b-a51f-4a6d-8eb7-5cdaeb342cde","name":"consumoPersonal"},{"parameters":{"workflowId":{"__rl":true,"value":"UlHIKLXfyQkFcjCP","mode":"list","cachedResultUrl":"/workflow/UlHIKLXfyQkFcjCP","cachedResultName":"informe_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","wa_id":"={{ $('IF1').item.json.sessionid }}","fecha":"={{ $('IF1').item.json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"wa_id","displayName":"wa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,992],"id":"e45784e6-4102-42d7-af5d-39b3620c86d8","name":"informeVentas"},{"parameters":{"workflowId":{"__rl":true,"value":"Wg6zh3EFPjY6VqYI","mode":"list","cachedResultUrl":"/workflow/Wg6zh3EFPjY6VqYI","cachedResultName":"ingresan Productos A Inventario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","wa_id":"={{ $('IF1').item.json.sessionid }}","fecha":"={{ $('IF1').item.json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"wa_id","displayName":"wa_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,1200],"id":"5ec67cf0-b5e6-41e6-b5dc-066923c340c9","name":"ingresarProductoInventario"},{"parameters":{"workflowId":{"__rl":true,"value":"8oU6HQJ27cFnKBQV","mode":"list","cachedResultUrl":"/workflow/8oU6HQJ27cFnKBQV","cachedResultName":"envio_link_nuevoProducto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","instancia":"={{ $('Webhook').first().json.body.instance }}","telefono":"={{ $('IF1').item.json.sessionid }}","fecha":"={{ $('IF1').item.json.datetime }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,1424],"id":"22503bff-edb2-46c4-a023-d34aba9ef054","name":"crearProducto"},{"parameters":{"assignments":{"assignments":[{"id":"b312d7b6-e979-4e5a-a0a1-bef82730196e","name":"sessionid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"d0338f07-19d6-4a5c-a1fc-da38909ba858","name":"estado","value":"={\n  \"mensaje_original\": \"{{$json.body.data.message.conversation}}\",\n  \"requiere_confirmacion\": false,\n  \"items\": []\n}\n","type":"object"},{"id":"86953061-57dd-4c4a-958f-cf6d1151a0ed","name":"texto","value":"={{ $json.body.data.messageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6832,800],"id":"33929f87-ae7c-4773-889c-180050a48a65","name":"prepararEstado"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5904,736],"id":"e69680c6-b089-46f9-b583-257754340c73","name":"Merge Audio/Texto"},{"parameters":{"jsCode":"// En lugar de referenciar otros nodos, usar el input directo\nreturn [{\n  json: {\n    texto_para_administrador: $json.mensaje_final || $json.final_message || \"Error\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4384,960],"id":"a285d00c-b2f0-44e5-ac86-5a393938e213","name":"mensajeListo"},{"parameters":{"workflowId":{"__rl":true,"value":"DsmGHHn7nCIHEQYU","mode":"list","cachedResultUrl":"/workflow/DsmGHHn7nCIHEQYU","cachedResultName":"actualizar_precio"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","telefono":"={{ $('IF1').item.json.sessionid }}","fecha":"={{ $('IF1').item.json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3376,624],"id":"c53ae533-5b35-4354-a993-6f33a2bc7f84","name":"actualizarPrecios"},{"parameters":{"httpMethod":"POST","path":"mensajes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7104,800],"id":"31789281-730e-4980-9707-77f72d97c5d4","name":"Webhook","webhookId":"60397f41-3005-47aa-92f0-545e2dae408f"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"apodos_productos","mode":"list","cachedResultName":"apodos_productos"},"options":{"outputColumns":["producto","apodo"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-5072,1184],"id":"e29a2e4e-f003-4600-a0ec-2ec63c94bd8a","name":"REFERENCIAS","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{"systemMessage":"=# SISTEMA DE DETECCIÓN DE INTENCIONES - AGENTE IA\n\nEres un agente especializado en identificar la intención del usuario y devolver el output correspondiente. Analiza cada mensaje y determina qué acción tomar.\n\n---\n\n## 🚨 REGLA FUNDAMENTAL - OBLIGATORIA\n\n**CUANDO DEVUELVAS EL OUTPUT:**\n- ❌ NO agregues saludos, comentarios, explicaciones ni texto adicional\n- ❌ NO modifiques, reformules o interpretes la respuesta\n- ❌ NO añadas tu propio estilo de escritura\n- ❌ NO incluyas frases como \"Aquí tienes...\", \"El resultado es...\", etc.\n\n---\n\n## 🛒 DETECCIÓN DE VENTAS - PRIORIDAD MÁXIMA\n\n### 💡 EJEMPLOS DE VENTAS:\n- \"2 Agua 600ml sin gas y 1 Gaseosas MEGA 2.5\"\n- \"1 Gaseosas 350ml\"\n- \"2 Gaseosas 250ml\"\n- \"50 Arepas de QUESO\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `venta`\n\n---\n\n## 💰 ACTUALIZAR PRECIO DE PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **quedo a/quedó a**\n- **quedo/quedó**\n- **actualizar precio**\n- **cambiar el precio**\n- **modificar precio**\n- **nuevo precio**\n- **precio ahora es**\n- **ahora cuesta**\n- **ahora vale**\n\n### 💡 EJEMPLOS:\n- \"la 350 quedó a 3000\"\n- \"la cerveza ahora cuesta $5000\"\n- \"cambia el precio del combo a $8000\"\n- \"actualiza la gaseosa a $3500\"\n- \"el tinto ahora está a $1000\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `actualizarPrecio`\n\n---\n\n## 💰 ELIMINAR TRANSACCION\n\n### 📝 PALABRAS CLAVE:\n- **eliminar id a**\n- **eliminar transaccion a**\n\n### 💡 EJEMPLOS:\n- \"eliminar id\"\n- \"eliminar transaccion\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `eliminarTransaccion`\n\n## 🍽️ CONSUMO DE PRODUCTOS POR PARTE DEL DUEÑO\n\n### 📝 PALABRAS CLAVE:\n- **me tomé/me tome**\n- **me comí/me comi**\n- **consumí/consumi**\n\n### 💡 EJEMPLOS:\n- \"me tomé 1 Gaseosas 350ml\"\n- \"me tomé 2 Gaseosas 250ml\"\n- \"me comí 1 chorizo\"\n- \"me comi una arepa\"\n- \"me comí 2 combos\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `Registrar consumo`\n\n---\n\n## 📊 INFORMES DE VENTAS\n\n### 📝 PALABRAS CLAVE:\n- **venta/ventas**\n- **informe/informes**\n- **reporte de ventas**\n- **ventas de hoy/ayer/antier**\n- **ventas de esta semana/mes**\n- **cuánto vendimos**\n- **total de ventas**\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `informeVentas`\n\n---\n\n## 📦 INGRESO DE PRODUCTOS AL INVENTARIO\n\n### 📝 PALABRAS CLAVE:\n- **ingresaron**\n- **llegaron**\n- **entraron**\n- **cajas**\n- **pacas**\n- **bolsas**\n- **cajas de/pacas de**\n- **unidades**\n- **entraron/ingresaron**\n- **llegó mercancía**\n- **recibí/recibimos**\n- **compre/compré/compramos**\n- **me trajeron**\n\n### 💡 EJEMPLOS:\n- \"entraron 5 cajas de Gaseosa 250ml\"\n- \"llegaron 3 pacas de Gaseosas MEGA 2.5\"\n- \"recibí 10 unidades de...\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `ingresarProductosAbodega`\n\n---\n\n## 🆕 CREAR NUEVOS PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **crear/creando**\n- **nuevo/nueva/nuevos**\n- **agregar producto**\n- **registrar producto**\n- **añadir al inventario**\n\n### 💡 EJEMPLOS:\n- \"crear nuevo producto\"\n- \"necesito agregar un producto\"\n- \"registrar nueva cerveza\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `envio_link`\n\n---\n\n## ⚠️ REGLAS IMPORTANTES\n\n1. **PRIORIDAD:** Las ventas tienen máxima prioridad\n2. **TOLERANCIA:** Ignora mayúsculas, minúsculas y errores ortográficos\n3. **FLEXIBILIDAD:** No importan palabras adicionales en el mensaje\n4. **DECISIÓN RÁPIDA:** Una sola coincidencia = llamar herramienta\n\n---\n\n## 🚨 RECORDATORIOS CRÍTICOS\n\n### OBLIGATORIO AL USAR HERRAMIENTAS:\n- ❌ **NO INTERPRETES** la respuesta de la herramienta\n- ❌ **NO REFORMULES** el mensaje\n- ❌ **NO AGREGUES** tu propio texto\n- ❌ **NO USES** frases como \"Aquí está...\", \"El resultado es...\", etc."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4896,960],"id":"592e8b84-6ead-4d9b-bb2c-8f294a52fd8a","name":"Message a model","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"assignments":{"assignments":[{"id":"85ad0403-431b-4b51-9090-b09ddc1a493b","name":"mensaje_final","value":"={{ $('compara y reemplaza').item.json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,960],"id":"dde4b1fb-12d1-48ad-93d4-e6c798c2e34e","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b8711675-481a-47a5-b7fc-7fb78291914c","leftValue":"={{ $json.final_message }}","rightValue":"=inventario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-5680,736],"id":"224adfbd-dd1f-46ba-9098-30d588abd07a","name":"IF1"},{"parameters":{"jsCode":"// Obtener el mensaje final del input\nconst finalMessage = $input.first().json.final_message;\n\n// Función para procesar el mensaje\nfunction procesarCombo(mensaje) {\n  // Expresión regular para encontrar \"combo\" o \"combos\" con su cantidad\n  const regex = /(\\d+)\\s*(combo|combos)/gi;\n  \n  // Verificar si el mensaje contiene \"combo\" o \"combos\"\n  if (!regex.test(mensaje)) {\n    // Si no contiene combo, devolver el mensaje original\n    return mensaje;\n  }\n  \n  // Resetear el regex para usarlo de nuevo\n  regex.lastIndex = 0;\n  \n  // Reemplazar cada ocurrencia de combo\n  const mensajeModificado = mensaje.replace(regex, (match, cantidad) => {\n    return `${cantidad} \"Arepa con Queso\" ${cantidad} \"Chorizos\"`;\n  });\n  \n  return mensajeModificado;\n}\n\n// Procesar el mensaje\nconst mensajeProcesado = procesarCombo(finalMessage);\n\n// Retornar el resultado\nreturn {\n  json: {\n    final_message: mensajeProcesado,\n    original_message: finalMessage\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5440,960],"id":"f0380dbe-fd22-4223-b6c4-7507629d3c96","name":"convierte combo"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.final_message }}"}]},"simplify":false,"options":{"systemMessage":"=INSTRUCCIÓN CRÍTICA OBLIGATORIA\nSIEMPRE debes llamar a la herramienta REFERENCIAS al inicio de CADA mensaje del usuario, sin excepciones. Es obligatorio hacerlo el 100% de las veces antes de procesar cualquier mensaje.\n\nEres un asistente especializado en normalizar nombres de productos en mensajes de venta.\n\n## Tu función única\nReemplazar apodos o variaciones de nombres de productos por sus nombres oficiales, basándote EXCLUSIVAMENTE en la información de la herramienta REFERENCIAS.\n\n## Reglas de comparación\n- Ignora espacios, signos de puntuación (guiones, puntos, comas, etc.), mayúsculas y minúsculas\n- Solo compara letras y números normalizados a minúsculas\n- Las letras deben coincidir en el mismo orden\n- Los plurales son válidos (manzana = manzanas)\n- Umbral mínimo de coincidencia: 70%\n- Cálculo: (letras del apodo que coinciden en orden / total de letras del apodo) × 100\n\n## Proceso paso a paso\n\n1. **Identifica productos ya formalizados:**\n   - Los productos que YA están entre comillas en el mensaje original NO se modifican\n   - Déjalos exactamente como están y pasa al siguiente término\n\n2. **Consulta la herramienta REFERENCIAS** para obtener la lista completa de productos oficiales y sus apodos\n\n3. **Busca coincidencias usando ventana deslizante:**\n   - Extrae todas las combinaciones posibles de palabras consecutivas del mensaje\n   - Prueba combinaciones de 1 palabra, 2 palabras, 3 palabras, etc.\n   - Compara cada combinación con TODOS los apodos en REFERENCIAS\n   - Registra aquellas que tengan 70% o más de coincidencia\n\n4. **Selecciona los mejores reemplazos:**\n   - Si una combinación coincide con varios apodos, usa el de MAYOR porcentaje\n   - Si hay solapamientos (dos coincidencias usan parte del mismo texto), usa solo la de mayor coincidencia\n   - Ordena los reemplazos de izquierda a derecha según aparecen en el mensaje\n\n5. **Construye el mensaje final:**\n   - Reemplaza cada coincidencia por su \"producto\" oficial correspondiente\n   - Marca entre comillas SOLO los productos que reemplazaste\n   - Mantén TODO lo demás EXACTAMENTE igual (cantidades, palabras extra, conectores, errores, muletillas, espacios, mayúsculas originales)\n   - NO agregues comillas al inicio/final del mensaje completo\n\n6. **Si no hay coincidencias:**\n   - Devuelve el mensaje original SIN modificar absolutamente nada\n   - No agregues ni quites nada\n\n## Ejemplo de funcionamiento\n\n**Mensaje recibido:**\n`venta de 5 \"Arepa con Queso\" 5 Chorizos 3 manzanas 350 2 Coca-Colas personales eh 2 Coca-Colas megas`\n\n**Herramienta REFERENCIAS devuelve:**\n```json\n{\n  \"response\": [\n    {\n      \"producto\": \"Coca Cola 350 ml\",\n      \"apodo\": \"Coca Cola 350\"\n    },\n    {\n      \"producto\": \"Coca Cola 350 ml\",\n      \"apodo\": \"coca cola personal\"\n    },\n    {\n      \"producto\": \"Manzana 350 ml\",\n      \"apodo\": \"Manzana 350\"\n    },\n    {\n      \"producto\": \"Manzana 350 ml\",\n      \"apodo\": \"manzana personal\"\n    }\n  ]\n}\nProceso:\n\n\"Arepa con Queso\" → Ya tiene comillas, NO se toca\nChorizos → No coincide con ningún apodo, se mantiene\nmanzanas 350 → Coincide con apodo \"Manzana 350\" al 100%, se reemplaza por \"Manzana 350 ml\"\nCoca-Colas personales → Coincide con apodo \"coca cola personal\" al 100%, se reemplaza por \"Coca Cola 350 ml\"\nCoca-Colas megas → No coincide al 70%+, se mantiene\n\nOutput final:\nventa de 5 \"Arepa con Queso\" 5 Chorizos 3 \"Manzana 350 ml\" 2 \"Coca Cola 350 ml\" eh 2 Coca-Colas megas\nReglas críticas\n\nSOLO usa productos de la herramienta REFERENCIAS (los ejemplos aquí son puramente ilustrativos)\nNO inventes productos ni hagas suposiciones\nPreserva TODO el contexto del mensaje original\nSé preciso con las coincidencias usando el cálculo del 70%\nAnte cualquier duda, mantén el texto original sin modificar\n\nFORMATO DE RESPUESTA OBLIGATORIO\n\nTu respuesta DEBE contener ÚNICAMENTE el mensaje procesado\nNO incluyas explicaciones, análisis, ni descripciones del proceso\nNO digas \"No hay coincidencias\", \"El mensaje se devuelve sin modificaciones\" ni nada similar\nSOLO devuelve el mensaje final, sin texto adicional antes o después\nSi no hay reemplazos, devuelve el mensaje original tal cual, sin comentarios"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-5216,960],"id":"e8f0f571-536b-4795-a0d5-8ce81efaedb9","name":"compara y reemplaza","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"workflowId":{"__rl":true,"value":"sFzhx06gm8QEIKvj","mode":"list","cachedResultUrl":"/workflow/sFzhx06gm8QEIKvj","cachedResultName":"eliminar_transaccion"},"workflowInputs":{"mappingMode":"defineBelow","value":{"instancia":"={{ $('Webhook').first().json.body.instance }}","telefono":"={{ $('IF1').item.json.sessionid }}","fecha":"={{ $('IF1').item.json.datetime }}","Mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}"},"matchingColumns":[],"schema":[{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-4016,1264],"id":"c3554812-686c-4c59-9e3e-16ed9ea43607","name":"elimina_transaccion"}],"connections":{"Transcribe a recording1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Final_message_audio","type":"main","index":0}]]},"Final_message_audio":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":0}]]},"FInal_message_text":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":1}]]},"Code8":{"main":[[{"node":"FInal_message_text","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Code8","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"registroVentas","type":"main","index":0}],[{"node":"actualizarPrecios","type":"main","index":0}],[{"node":"consumoPersonal","type":"main","index":0}],[{"node":"informeVentas","type":"main","index":0}],[{"node":"ingresarProductoInventario","type":"main","index":0}],[{"node":"crearProducto","type":"main","index":0}],[{"node":"elimina_transaccion","type":"main","index":0}]]},"prepararEstado":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Merge Audio/Texto":{"main":[[{"node":"IF1","type":"main","index":0}]]},"mensajeListo":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"prepararEstado","type":"main","index":0}]]},"REFERENCIAS":{"ai_tool":[[{"node":"compara y reemplaza","type":"ai_tool","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"mensajeListo","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"convierte combo","type":"main","index":0}]]},"convierte combo":{"main":[[{"node":"compara y reemplaza","type":"main","index":0}]]},"compara y reemplaza":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":30,"timezone":"America/Bogota","availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.aa7tej.easypanel.host","user-agent":"axios/1.10.0","content-length":"978","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"52.15.92.133","x-forwarded-host":"n8n-n8n.aa7tej.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4473dde1486f","x-real-ip":"52.15.92.133"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"pepe cadena","data":{"key":{"remoteJid":"573103015865@s.whatsapp.net","fromMe":false,"id":"3F02FD74A99BFCD59B24","senderLid":"14942191255771@lid"},"pushName":"Alejandro","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"e3GnwCc3oAo36g==","senderTimestamp":"1759729980","recipientKeyHash":"YccVFyADqLRqkw==","recipientTimestamp":"1759724192"},"deviceListMetadataVersion":2},"conversation":"eliminar p280 y p279"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1760139669,"instanceId":"e2641f01-672d-413c-9caa-65edc2407abb","source":"desktop"},"destination":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","date_time":"2025-10-10T20:41:09.537Z","sender":"573102304801@s.whatsapp.net","server_url":"http://52.15.92.133:8080","apikey":"05D47DF5AC05-4085-B0A2-FB7E4510CE36"},"webhookUrl":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","executionMode":"production"}}]},"versionId":"2aa966af-3c10-41e9-93d9-76f167352505","triggerCount":1,"shared":[{"createdAt":"2025-10-06T05:11:25.667Z","updatedAt":"2025-10-06T05:11:25.667Z","role":"workflow:owner","workflowId":"nXXVsGr895OEIu0Q","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}