identificar_tenant-niw7nbWmuCLHmO5F.json
{"createdAt":"2025-10-18T06:37:38.170Z","updatedAt":"2025-10-19T06:13:23.000Z","id":"niw7nbWmuCLHmO5F","name":"identificar_tenant","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"SELECT \n  tu.user_id,\n  tu.tenant_id,\n  tu.nombre,\n  tu.rol,\n  tu.permisos,\n  tu.activo,\n  t.nombre_negocio\nFROM tenant_users tu\nJOIN tenants t ON tu.tenant_id = t.tenant_id\nWHERE tu.telefono_whatsapp = $1\n  AND tu.activo = true\nLIMIT 1;\n","options":{"queryReplacement":"={{ $json.numero_telefono }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"03da7a61-6910-4b6c-b196-0fc219a20b85","name":"Buscar Usuario","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1d9aaad-c31c-4e5d-9c4d-1891b28c8990","leftValue":"={{ $json.user_id }}","rightValue":0,"operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"3c3dd805-0c59-4cca-8e2d-b0e96e5d5530","name":"Usuario Encontrado"},{"parameters":{"jsCode":"const user = $input.item.json;\n\nreturn {\n  autorizado: true,\n  user_id: user.user_id,\n  tenant_id: user.tenant_id,\n  nombre: user.nombre,\n  rol: user.rol,\n  permisos: user.permisos,\n  nombre_negocio: user.nombre_negocio\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-96],"id":"f201ca2e-2b3c-435d-b7e8-475689d756db","name":"Formatear Respuesta"},{"parameters":{"jsCode":"return {\n  autorizado: false,\n  mensaje: \"❌ No estás registrado en el sistema\"\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[608,144],"id":"05077c54-ada5-44fd-810f-7a8ab13776bf","name":"No Autorizado"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[1184,-16],"typeVersion":1,"id":"445097c3-1f8f-4a64-b6bd-b5d2d8d8ec79","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[1184,-16],"typeVersion":1,"id":"e946ac0a-92a4-4d30-87b5-b1f5f1521e1c","name":"Sticky Note1"},{"parameters":{"workflowInputs":{"values":[{"name":"numero_telefono"},{"name":"instancia"}]}},"id":"fa2bdea9-f68a-4097-b02b-8b5026706507","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-16,0]}],"connections":{"Buscar Usuario":{"main":[[{"node":"Usuario Encontrado","type":"main","index":0}]]},"Usuario Encontrado":{"main":[[{"node":"Formatear Respuesta","type":"main","index":0}],[{"node":"No Autorizado","type":"main","index":0}]]},"Formatear Respuesta":{"main":[[]]},"No Autorizado":{"main":[[]]},"When Executed by Another Workflow":{"main":[[{"node":"Buscar Usuario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"numero_telefono":"573103015865@s.whatsapp.net","instancia":"pepe cadena"}}]},"versionId":"5c80bda9-7e3f-4d70-8c08-5a98bf68552c","triggerCount":1,"shared":[{"createdAt":"2025-10-18T06:37:38.173Z","updatedAt":"2025-10-18T06:37:38.173Z","role":"workflow:owner","workflowId":"niw7nbWmuCLHmO5F","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}