ingresar_consumo-sZKq3XvJBsutWwaT.json
{"createdAt":"2025-10-06T05:18:32.200Z","updatedAt":"2025-10-18T17:19:46.000Z","id":"sZKq3XvJBsutWwaT","name":"ingresar_consumo","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","hasOutputParser":true,"options":{"systemMessage":"=### 🎯 FORMATO DE SALIDA\nTransforma {{ $json.mensaje }} al formato: \"Producto\" cantidad, \"Producto\" cantidad\n\n## VALIDACIÓN INICIAL\n- Los productos en el mensaje YA vienen marcados entre comillas dobles\n- Si el mensaje NO contiene ningún texto entre comillas, devuélvelo EXACTAMENTE como llegó sin realizar ningún cambio\n- Solo procesa mensajes que contengan al menos un producto entre comillas\n\n## EJEMPLOS DE FORMATO (usa los productos del mensaje real, NO estos):\n**Ejemplo de entrada:** 4 \"ProductoA\" y 1 \"ProductoB\"\n**Ejemplo de salida:** \"ProductoA\" 4, \"ProductoB\" 1\n\n**Ejemplo de entrada:** 1 \"Gaseosa 350 ml.\" y 2 \"Chorizos.\"\n**Ejemplo de salida:** \"Gaseosa 350 ml\" 1, \"Chorizos\" 2\n\n## REGLAS ESTRICTAS:\n1. Comillas dobles obligatorias: \"Chorizos\"\n2. Espacio tras comillas: \"Chorizos\" 3\n3. Coma+espacio entre productos: , \"\n4. Sin saltos de línea (\\n)\n5. Mantener mayúsculas/minúsculas exactas de los nombres\n6. **ELIMINAR puntos (.) que estén ÚNICAMENTE al FINAL de los nombres de productos**\n7. NO eliminar puntos que estén en medio del nombre (ejemplo: \"Dr. Pepper\" mantiene el punto)\n\n## FORMATO DE RESPUESTA OBLIGATORIO\n- Tu respuesta DEBE contener ÚNICAMENTE el mensaje procesado en el formato especificado\n- NO incluyas explicaciones, análisis, ni descripciones\n- SOLO devuelve el resultado final, sin texto adicional\n- Si no hay productos entre comillas, devuelve el mensaje original exactamente como llegó"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[752,16],"id":"45d33c1f-9e3b-4ca4-b555-1070c05f15ae","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[720,208],"id":"5e99b6ed-b5f0-486e-b456-cb0496792530","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Capturamos el texto desde la propiedad correcta\nconst texto = String($input.first().json.output || '').trim();\n\n// Regex para extraer \"producto\" cantidad\nconst regex = /\"([^\"]+)\"\\s+(\\d+(?:\\.\\d+)?)/g;\nconst filas = [];\nlet match;\n\nwhile ((match = regex.exec(texto)) !== null) {\n  filas.push({\n    PRODUCTO: match[1].replace(/_/g, ' '),\n    CANTIDAD: parseFloat(match[2]),\n    FECHA: new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' })\n  });\n}\n\n// Si no se encontraron productos, devolver el texto original\nif (filas.length === 0) {\n  return [{ mensaje: texto }];\n}\n\nreturn filas;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,0],"id":"7a9aef12-872c-4ae3-b26d-ef66976ab25f","name":"Code_ventas1"},{"parameters":{"jsCode":"// Acceder a TODOS los items del nodo de consumos\nlet consumosPersonales = [];\n// Usar $items para obtener todos los items del nodo específico\ntry {\n  const todosLosConsumos = $items(\"ingresa_consumos_personales\");\n  if (todosLosConsumos && Array.isArray(todosLosConsumos)) {\n    consumosPersonales = todosLosConsumos.map(item => item.json);\n  }\n} catch (error) {\n  // Método fallback si $items no funciona\n  const consumosDirectos = $node[\"ingresa_consumos_personales\"];\n  if (consumosDirectos && consumosDirectos.json) {\n    consumosPersonales = [consumosDirectos.json];\n  }\n}\n\n// Procesar inventario (extraer datos json)\nconst inventarioData = $input.all();\nconst inventarioItems = [];\ninventarioData.forEach(item => {\n  if (item.json && item.json.stock_actual_unidades !== undefined) {\n    inventarioItems.push(item.json);\n  }\n});\n\n// Verificar que tenemos datos válidos - mejorar el manejo de errores\nif (consumosPersonales.length === 0) {\n  // Si no hay consumos, no hacer nada y retornar vacío (no error)\n  return [];\n}\n\nif (inventarioItems.length === 0) {\n  // Si no hay inventario aún, no hacer nada y retornar vacío (no error)\n  return [];\n}\n\n// Eliminar duplicados del inventario basándose en producto y row_number\nconst inventarioSinDuplicados = inventarioItems.filter((item, index, self) => \n  index === self.findIndex(i => i.producto === item.producto && i.row_number === item.row_number)\n);\n\n// Crear un mapa de consumos por producto\nconst consumosPorProducto = {};\nconsumosPersonales.forEach(consumo => {\n  const producto = consumo.producto;\n  const cantidad = consumo.cantidad;\n  \n  if (consumosPorProducto[producto]) {\n    consumosPorProducto[producto] += cantidad;\n  } else {\n    consumosPorProducto[producto] = cantidad;\n  }\n});\n\n// Procesar el inventario y descontar los consumos\nconst inventarioActualizado = inventarioSinDuplicados.map(item => {\n  const producto = item.producto;\n  const stockActual = item.stock_actual_unidades;\n  \n  // Verificar si este producto fue consumido\n  if (consumosPorProducto[producto]) {\n    const cantidadConsumida = consumosPorProducto[producto];\n    const nuevoStock = Math.max(0, stockActual - cantidadConsumida);\n    \n    return {\n      ...item,\n      stock_actual_unidades: nuevoStock\n    };\n  }\n  \n  // Si no fue consumido, mantener el stock actual\n  return item;\n});\n\n// Retornar solo el inventario actualizado\nreturn inventarioActualizado;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,16],"id":"5fd67017-d8ad-42e6-8968-b25f6cc8f964","name":"Procesar_actualizacion_inventario1"},{"parameters":{"jsCode":"// Obtener los datos de los consumos con sus códigos L\nconst consumosData = $items(\"ingresa_consumos_personales\");\nconst inventarioActualizado = $input.all();\n\n// Obtener precios desde cache_precios\nconst preciosData = $items(\"Obtener_precios_consumos\");\n\n// Crear mapa de precios por producto\nconst preciosPorProducto = {};\npreciosData.forEach(item => {\n  if (item.json) {\n    preciosPorProducto[item.json.producto] = item.json.precio_unitario;\n  }\n});\n\n// Obtener fecha y hora actual en zona horaria de Bogotá\nconst fechaHora = new Date().toLocaleString('es-CO', {\n  timeZone: 'America/Bogota',\n  day: '2-digit',\n  month: '2-digit', \n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: true\n});\n\n// Crear mapa del inventario actualizado por producto\nconst inventarioPorProducto = {};\ninventarioActualizado.forEach(item => {\n  if (item.json) {\n    inventarioPorProducto[item.json.producto] = {\n      stock_actual_unidades: item.json.stock_actual_unidades\n    };\n  }\n});\n\n// Lista de productos que NO deben mostrar nuevoStock\nconst productosSinNuevoStock = [\"Arepa con Queso\", \"Arepa BURGUER\", \"Chorizos\"];\n\n// Agrupar consumos por producto\nconst consumosAgrupados = {};\n\nconsumosData.forEach(consumo => {\n  const producto = consumo.json.producto;\n  const cantidad = consumo.json.cantidad;\n  const codigoConsumo = consumo.json.codigo_consumo;\n  \n  if (!consumosAgrupados[producto]) {\n    consumosAgrupados[producto] = {\n      cantidad_total: 0,\n      codigos: [],\n      producto: producto\n    };\n  }\n  \n  consumosAgrupados[producto].cantidad_total += cantidad;\n  consumosAgrupados[producto].codigos.push(codigoConsumo);\n});\n\n// Función para formatear moneda\nconst formatCurrency = (value) => {\n  return Number(value).toLocaleString('es-CO');\n};\n\n// Generar líneas de confirmación agrupadas\nlet totalGeneral = 0;\nconst lineasConfirmacion = Object.values(consumosAgrupados).map(grupo => {\n  const producto = grupo.producto;\n  const cantidadTotal = grupo.cantidad_total;\n  const codigos = grupo.codigos;\n  const infoInventario = inventarioPorProducto[producto];\n  const precioUnitario = preciosPorProducto[producto] || 0;\n  \n  // Calcular valor total del grupo\n  const valorTotal = cantidadTotal * precioUnitario;\n  totalGeneral += valorTotal;\n  \n  // Formatear códigos (si hay varios, mostrar rango)\n  let codigosFormateados;\n  if (codigos.length === 1) {\n    codigosFormateados = codigos[0];\n  } else {\n    codigosFormateados = `${codigos[0]}-${codigos[codigos.length - 1]}`;\n  }\n  \n  // Construir línea según si debe mostrar stock o no\n  if (productosSinNuevoStock.includes(producto)) {\n    return `[${codigosFormateados}] ${cantidadTotal} ${producto} - $${formatCurrency(valorTotal)}`;\n  } else {\n    if (infoInventario) {\n      const nuevoStock = infoInventario.stock_actual_unidades;\n      return `[${codigosFormateados}] ${cantidadTotal} ${producto} - $${formatCurrency(valorTotal)} / nuevoStock: ${nuevoStock}`;\n    } else {\n      return `[${codigosFormateados}] ${cantidadTotal} ${producto} - $${formatCurrency(valorTotal)}`;\n    }\n  }\n});\n\n// Construir el mensaje completo\nconst mensaje = [\n  \"✅ Registro de consumo personal\",\n  fechaHora,\n  \"\",  // Línea vacía para agregar espacio\n  ...lineasConfirmacion,\n  \"\",  // Línea vacía antes del total\n  `💰 Total consumido: $${formatCurrency(totalGeneral)}`\n].join('\\n');\n\n// Retornar el mensaje\nreturn [{ \n  mensaje: mensaje,\n  timestamp: fechaHora,\n  consumosRegistrados: lineasConfirmacion.length,\n  total_consumido: totalGeneral\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,16],"id":"8cb5543a-9eb2-4dae-88ec-9e141b4d0d4b","name":"Code6"},{"parameters":{"assignments":{"assignments":[{"id":"a3ccdf74-ab37-47af-aab9-b14e38808cd7","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,16],"id":"7cd42ba3-5673-47bf-be08-af8dda2153d9","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"19979410-c550-49a0-b457-6fd77e30b791","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2960,16],"id":"20dec4b1-b71a-4205-8363-4b8d15874ddd","name":"Edit Fields1"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').first().json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').first().json.telefono }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3200,16],"id":"45e41d75-232a-4202-a6e9-dc3a5edda8ea","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"returnAll":true,"options":{"outputColumns":["codigo_producto","producto","unidad_medida","factor_unidades","stock_actual_unidades"]}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2048,352],"id":"7e098fc7-b8a6-4f63-b658-d1d941e5dbed","name":"obtener_inventario1","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"consumos_personales","mode":"list","cachedResultName":"consumos_personales"},"columns":{"mappingMode":"defineBelow","value":{"cantidad":"={{ $json.CANTIDAD }}","producto":"={{ $json.PRODUCTO }}","fecha":"={{ new Date().toLocaleString('en-CA', {timeZone: 'America/Bogota'}).split(',')[0] }}\n"},"matchingColumns":["id"],"schema":[{"id":"codigo_consumo","displayName":"codigo_consumo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"cantidad","displayName":"cantidad","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha","displayName":"fecha","required":true,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false},{"id":"precio","displayName":"precio","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1760,16],"id":"b98e0ce7-4844-4783-b2ce-f5ce09592197","name":"ingresa_consumos_personales","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8549a9e-b1a8-451b-839f-2db694d5f9bc","leftValue":"={{ $json.output }}","rightValue":"\"","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1104,16],"id":"4e368df6-aad1-48b2-8f24-78097bd1295f","name":"If"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').item.json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').item.json.telefono }}","messageText":"=No se encontro un producto valido en este mensaje \"{{ $json.output }}\"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1360,192],"id":"e02b5733-5198-4bd0-af01-f079319bc48b","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_precios","mode":"list","cachedResultName":"cache_precios"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2048,128],"id":"f41a4a0b-5895-4796-86e1-520da4ba96d4","name":"Obtener_precios_consumos","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"columns":{"mappingMode":"defineBelow","value":{"stock_actual_unidades":"={{ $json.stock_actual_unidades }}","producto":"={{ $json.producto }}","updated_at":"2025-10-06T20:22:17"},"matchingColumns":["producto"],"schema":[{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unidad_medida","displayName":"unidad_medida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"factor_unidades","displayName":"factor_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"stock_actual_unidades","displayName":"stock_actual_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"precio_ultima_compra","displayName":"precio_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_ultima_compra","displayName":"fecha_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2544,16],"id":"ec61bdeb-d85d-4f49-97ab-c4b291dc4e36","name":"actualiza_inventario","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"user_id"},{"name":"permisos"},{"name":"rol"},{"name":"nombre_usuario"},{"name":"mensaje"},{"name":"numero_telefono"},{"name":"date_time"},{"name":"instancia"},{"name":"autorizado"}]}},"id":"5e8b2195-6fbc-4071-be1a-7b98c2ed7ef8","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-640,32]},{"parameters":{"jsCode":"// Verificar si viene pre-autorizado desde gerson_ventas\nif ($json.autorizado === true && $json.tenant_id) {\n  // Parsear permisos si vienen como string\n  let permisos = $json.permisos;\n  if (typeof permisos === 'string') {\n    permisos = JSON.parse(permisos);\n  }\n  \n  return {\n    tenant_id: $json.tenant_id,\n    user_id: $json.user_id,\n    rol: $json.rol,\n    permisos: permisos,\n    nombre_usuario: $json.nombre_usuario,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia,\n    pre_validado: true\n  };\n} else {\n  // Llamada directa (testing sin gerson_ventas)\n  return {\n    necesita_validacion: true,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,32],"id":"a66806bc-f73b-4f2a-b244-970e2996b554","name":"Verificar Autorización"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.necesita_validacion }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,32],"id":"e50aa91e-f304-49a1-b4fd-552c40dc0dd3","name":"Necesita Validación?"},{"parameters":{"workflowId":{"__rl":true,"value":"niw7nbWmuCLHmO5F","mode":"list","cachedResultUrl":"/workflow/niw7nbWmuCLHmO5F","cachedResultName":"identificar_tenant"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-48,-176],"id":"fe520569-8d9d-457c-a1cd-f2d9157d3661","name":"Call 'identificar_tenant'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"940d13a5-4dcf-4eac-9587-0bfe0cdf16ec","leftValue":"={{ $json.permisos.consumo.registrar }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,64],"id":"9ae16069-24d0-4298-9455-63b23651a772","name":"Permiso Registrar Consumo"},{"parameters":{"jsCode":"return {\n  mensaje: `❌ ${$json.nombre_usuario || 'Usuario'}, no tienes permiso para registrar consumo personal.`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,272],"id":"af135024-63de-48ba-a280-e24b35d8cc89","name":"sin permiso"}],"connections":{"AI Agent2":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Code_ventas1":{"main":[[{"node":"ingresa_consumos_personales","type":"main","index":0}]]},"Procesar_actualizacion_inventario1":{"main":[[{"node":"actualiza_inventario","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"obtener_inventario1":{"main":[[{"node":"Procesar_actualizacion_inventario1","type":"main","index":0}]]},"ingresa_consumos_personales":{"main":[[{"node":"obtener_inventario1","type":"main","index":0},{"node":"Procesar_actualizacion_inventario1","type":"main","index":0},{"node":"Obtener_precios_consumos","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"If":{"main":[[{"node":"Code_ventas1","type":"main","index":0}],[{"node":"Enviar texto1","type":"main","index":0}]]},"Obtener_precios_consumos":{"main":[[{"node":"Procesar_actualizacion_inventario1","type":"main","index":0}]]},"actualiza_inventario":{"main":[[{"node":"Code6","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Verificar Autorización","type":"main","index":0}]]},"Verificar Autorización":{"main":[[{"node":"Necesita Validación?","type":"main","index":0}]]},"Necesita Validación?":{"main":[[{"node":"Call 'identificar_tenant'","type":"main","index":0}],[{"node":"Permiso Registrar Consumo","type":"main","index":0}]]},"Permiso Registrar Consumo":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"sin permiso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"1 \"Coca Cola 350ml\"\n","numero_telefono":"573103015865@s.whatsapp.net","date_time":"11/10/2025","instancia":"pepe cadena"}}]},"versionId":"be15a241-e199-471e-a2b8-d1314618462d","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:18:32.205Z","updatedAt":"2025-10-06T05:18:32.205Z","role":"workflow:owner","workflowId":"sZKq3XvJBsutWwaT","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}