ingresan-productos-a-inventario-Wg6zh3EFPjY6VqYI.json
{"createdAt":"2025-10-06T05:18:58.473Z","updatedAt":"2025-10-08T03:30:18.000Z","id":"Wg6zh3EFPjY6VqYI","name":"ingresan Productos A Inventario","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.final_message }}","options":{"systemMessage":"=# Prompt Mejorado para Extracción de Inventario\n\n## Instrucciones Principales\nAnaliza el siguiente mensaje de compra para inventario y extrae la información en formato JSON. Usa tu comprensión contextual para interpretar mensajes informales o con errores tipográficos.\n\n## Formato de Respuesta OBLIGATORIO\n```json\n{\n  \"CANTIDAD\": [número],\n  \"PRODUCTO\": \"[nombre normalizado del producto]\",\n  \"UNIDAD_MEDIDA\": \"[cajas|pacas|unidades|botellas|litros]\",\n  \"PRECIO\": [número total]\n}\nReglas de Extracción\n1. Cantidad\n\nExtrae el número de unidades compradas\nSi no se especifica, asume 1\nConvierte palabras a números (ej: \"cinco\" → 5)\n\n2. Producto\n\nUsa SOLO el nombre normalizado del catálogo (ver sección TÉRMINOS Y CONVERSIONES)\nNO incluyas \"cajas de\", \"pacas de\", etc.\nNormaliza variaciones y errores tipográficos\nIMPORTANTE: Para combos, genera DOS entradas separadas: una para \"Chorizos\" y otra para \"Arepas de queso\"\n\n3. Unidad de Medida\n\nIdentifica cómo se vende: cajas, pacas, unidades, botellas, litros\nSi no está claro, infiere del contexto del producto\nValores permitidos: \"cajas\", \"pacas\", \"unidades\", \"botellas\", \"litros\"\n\n4. Precio\n\nExtrae el valor total pagado por toda la compra\nSi hay múltiples formatos de precio, usa el más específico\nConvierte a número (sin símbolos de moneda)\n\nIMPORTANTE: Sobre los Ejemplos\nLOS PRODUCTOS MENCIONADOS EN LOS EJEMPLOS SOLO SIRVEN PARA MOSTRAR LA ESTRUCTURA DEL JSON.\nNUNCA uses los nombres de productos de los ejemplos en tu respuesta final.\nÚNICAMENTE son válidos los productos que aparecen en el mensaje del usuario ({{ $json.final_message }}).\nLos ejemplos utilizan productos ficticios como \"Gaseosas 350ml\" o \"Gaseosas 250ml\" SOLO para ilustrar cómo debe verse el formato de salida. Estos NO son productos reales del inventario.\nEjemplos de Estructura (NO usar estos productos)\nEjemplo de estructura para UN producto:\njson{\n  \"CANTIDAD\": 5,\n  \"PRODUCTO\": \"[NOMBRE_DEL_PRODUCTO_REAL_DEL_MENSAJE]\",\n  \"UNIDAD_MEDIDA\": \"cajas\",\n  \"PRECIO\": 180000\n}\nEjemplo de estructura para MÚLTIPLES productos:\njson[\n  {\n    \"CANTIDAD\": 3,\n    \"PRODUCTO\": \"[PRIMER_PRODUCTO_REAL_DEL_MENSAJE]\",\n    \"UNIDAD_MEDIDA\": \"cajas\",\n    \"PRECIO\": 7500\n  },\n  {\n    \"CANTIDAD\": 5,\n    \"PRODUCTO\": \"[SEGUNDO_PRODUCTO_REAL_DEL_MENSAJE]\",\n    \"UNIDAD_MEDIDA\": \"cajas\",\n    \"PRECIO\": 180000\n  }\n]\nManejo de Casos Especiales\n\nCombos: Siempre generar DOS entradas separadas con la cantidad dividida proporcionalmente\nMensajes ambiguos: Usa la interpretación más lógica basada en el contexto\nMúltiples productos: Procesa TODOS los productos mencionados\nErrores tipográficos: Usa coincidencia aproximada con el catálogo\nInformación faltante:\n\nCantidad faltante → 1\nUnidad faltante → \"unidades\"\nPrecio faltante → 0\n\n\n\nMensaje a Procesar:\n{{ $json.final_message }}\n\nRECORDATORIO CRÍTICO:\n\nResponde ÚNICAMENTE con el JSON válido, sin explicaciones adicionales\nPara combos, siempre devolver un array con dos objetos\nPara múltiples productos, devolver un array con todos los productos\nDevuelve las variables del JSON en MAYÚSCULAS\nLos productos de los ejemplos (como \"Gaseosas 350ml\") son FICTICIOS y SOLO ilustran la estructura\nÚNICAMENTE extrae y usa los productos mencionados en {{ $json.final_message }}\nNO inventes productos ni uses los de los ejemplos en tu respuesta"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1472,288],"id":"76070d96-3c55-44a3-a863-20cf73c5e3db","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1088,320],"id":"329d6c31-9240-402a-b6e6-b8ac42a1c180","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Capturamos la respuesta de Gemini y limpiamos\nlet respuestaGemini = String($input.first().json.output || '').trim();\nrespuestaGemini = respuestaGemini.replace(/```json\\n?/g, '').replace(/\\n?```/g, '').trim();\n\n// Parseamos el JSON\nlet datosExtraidos;\ntry {\n  datosExtraidos = JSON.parse(respuestaGemini);\n} catch (error) {\n  return [{ json: { error: \"No se pudo procesar la respuesta de Gemini\", respuesta_original: respuestaGemini } }];\n}\n\n// ======= NUEVA LÓGICA: PROCESAR TODOS LOS PRODUCTOS =======\nlet productosAProcesar = [];\n\n// Verificamos si es un array o un objeto único\nif (Array.isArray(datosExtraidos)) {\n  // Es un array, procesar todos los elementos\n  productosAProcesar = datosExtraidos;\n  console.log(`📦 Procesando ${datosExtraidos.length} productos del array`);\n} else {\n  // Es un objeto único, convertir a array\n  productosAProcesar = [datosExtraidos];\n  console.log(`📦 Procesando 1 producto único`);\n}\n\n// Array para almacenar todos los resultados\nconst resultados = [];\n\n// Procesar cada producto individualmente\nproductosAProcesar.forEach((itemData, index) => {\n  console.log(`🔍 Procesando producto ${index + 1}: ${itemData.producto || itemData.PRODUCTO}`);\n  \n  // Preparamos los datos y validamos (ACEPTANDO MINÚSCULAS Y MAYÚSCULAS)\n  const fila = {\n    producto: itemData.producto || itemData.PRODUCTO || \"\",\n    unidad_medida: itemData.unidad_medida || itemData.UNIDAD_MEDIDA || \"\",\n    cantidad: parseFloat(itemData.cantidad || itemData.CANTIDAD || 0),\n    precio: parseFloat(itemData.precio || itemData.PRECIO || 0),\n    fecha: new Date().toLocaleString('es-CO', { timeZone: 'America/Bogota' }),\n    errores: []\n  };\n  \n  // Validaciones específicas para cada producto\n  if (!fila.producto || fila.producto === \"\" || fila.producto === \"null\") {\n    fila.errores.push(\"❌ No se pudo identificar el PRODUCTO\");\n  }\n  if (!fila.cantidad || fila.cantidad <= 0 || isNaN(fila.cantidad)) {\n    fila.errores.push(\"❌ La CANTIDAD debe ser mayor a 0\");\n  }\n  \n  // Agregar este producto al array de resultados\n  resultados.push({ json: fila });\n  \n  // Log del resultado\n  if (fila.errores.length === 0) {\n    console.log(`✅ Producto ${index + 1} procesado: ${fila.producto} - ${fila.cantidad} ${fila.unidad_medida}`);\n  } else {\n    console.log(`❌ Producto ${index + 1} con errores: ${fila.errores.join(', ')}`);\n  }\n});\n\n// Log final\nconsole.log(`📊 Resumen: ${resultados.length} productos procesados`);\n\n// Retornar TODOS los productos procesados\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,288],"id":"91c74ae7-a9eb-4a3a-a12d-3ad817b0bf10","name":"Code4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"52ba995c-4cc3-4773-a7d4-ed5791a2feb6","leftValue":"={{ $json.errores }}","rightValue":0,"operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-688,288],"id":"1c68654e-2412-4a71-9333-b2c8a60aaa87","name":"Procesar_compra"},{"parameters":{"jsCode":"try {\n  // ======= OBTENER DATOS DE MÚLTIPLES COMPRAS =======\n  const comprasData = $(\"Procesar_compra\").all();\n  console.log(`📦 Procesando ${comprasData.length} compras`);\n  \n  // Validación inicial\n  if (!comprasData || comprasData.length === 0) {\n    throw new Error(\"No hay datos de compras para procesar\");\n  }\n  \n  // ======= OBTENER INVENTARIO ACTUAL =======\n  const inventarioItems = $input.all(); // Todos los items del inventario\n  console.log(`📊 Items de inventario disponibles: ${inventarioItems.length}`);\n  \n  // Crear un mapa del inventario por producto para búsqueda rápida\n  const inventarioMap = {};\n  inventarioItems.forEach(item => {\n    if (item.json && item.json.producto) {\n      const producto = item.json.producto.trim();\n      inventarioMap[producto] = item.json;\n    }\n  });\n  \n  console.log(`📋 Productos en inventario:`, Object.keys(inventarioMap));\n  \n  // ======= PROCESAR CADA COMPRA INDIVIDUALMENTE =======\n  const resultados = [];\n  \n  comprasData.forEach((compraItem, index) => {\n    try {\n      const compra = compraItem.json;\n      console.log(`\\n🔍 Procesando compra ${index + 1}: ${compra.producto}`);\n      \n      // Validación de datos de compra\n      if (!compra || !compra.producto) {\n        throw new Error(`Compra ${index + 1}: Datos inválidos - falta información del producto`);\n      }\n      \n      // Buscar este producto específico en el inventario\n      const producto = compra.producto.trim();\n      const inventario = inventarioMap[producto];\n      \n      console.log(`   📋 Producto: ${producto}`);\n      \n      // VALIDACIÓN ESTRICTA: El producto DEBE existir en el inventario\n      if (!inventario || !inventario.producto) {\n        throw new Error(`${producto}: No existe en el inventario. Use el nombre exacto del inventario.`);\n      }\n      \n      console.log(`   📍 Producto encontrado en inventario: ✅`);\n      \n      // Procesar datos del producto\n      const cantidadCompra = Number(compra.cantidad) || 0;\n      const precioCompra = Number(compra.precio) || 0;\n      \n      // Validaciones adicionales\n      if (cantidadCompra <= 0) {\n        throw new Error(`${producto}: La cantidad debe ser mayor a 0`);\n      }\n      \n      if (precioCompra < 0) {\n        throw new Error(`${producto}: El precio no puede ser negativo`);\n      }\n      \n      // Validar que el producto tenga factor definido\n      if (!inventario.factor_unidades || inventario.factor_unidades <= 0) {\n        throw new Error(`${producto}: No tiene factor_unidades definido en el inventario`);\n      }\n      \n      // Stock actual\n      const stockActual = Number(inventario.stock_actual_unidades) || 0;\n      \n      // Calcular unidades ingresadas\n      const unidadesIngresadas = cantidadCompra * inventario.factor_unidades;\n      \n      // Calcular nuevo stock\n      const nuevoStock = stockActual + unidadesIngresadas;\n      \n      // Fecha actual en zona horaria de Colombia\n      const fechaActual = new Date().toLocaleString('es-CO', { \n        timeZone: 'America/Bogota',\n        year: 'numeric',\n        month: '2-digit',\n        day: '2-digit',\n        hour: '2-digit',\n        minute: '2-digit',\n        second: '2-digit'\n      });\n      \n      // Log del procesamiento\n      console.log(`   📊 Stock: ${stockActual} → ${nuevoStock} (+${unidadesIngresadas})`);\n      console.log(`   🔧 Factor: ${inventario.factor_unidades} | Acción: actualizar`);\n      \n      // Crear resultado para este producto\n      const resultado = {\n        json: {\n          producto: producto,\n          unidad_medida: compra.unidad_medida || \"cajas\",\n          factor_unidades: inventario.factor_unidades,\n          cantidad: cantidadCompra,\n          stock_actual_unidades: nuevoStock,\n          precio_ultima_compra: precioCompra,\n          fecha_ultima_compra: fechaActual,\n          unidades_ingresadas: unidadesIngresadas,\n          stock_anterior: stockActual,\n          accion: \"actualizar\",\n          // Campos adicionales para tracking\n          row_number: inventario.row_number || null,\n          procesado_en_lote: true,\n          indice_compra: index + 1\n        }\n      };\n      \n      resultados.push(resultado);\n      console.log(`   ✅ Producto procesado exitosamente`);\n      \n    } catch (error) {\n      console.error(`   ❌ Error procesando compra ${index + 1}:`, error.message);\n      \n      // Agregar resultado de error para este producto específico\n      resultados.push({\n        json: {\n          error: true,\n          mensaje: error.message,\n          producto_con_error: compraItem.json?.producto || 'Desconocido',\n          indice_compra: index + 1,\n          timestamp: new Date().toISOString()\n        }\n      });\n    }\n  });\n  \n  // ======= RESUMEN FINAL =======\n  const exitosos = resultados.filter(r => !r.json.error).length;\n  const conError = resultados.filter(r => r.json.error).length;\n  \n  console.log(`\\n📊 RESUMEN FINAL:`);\n  console.log(`   Total compras: ${comprasData.length}`);\n  console.log(`   Procesadas exitosamente: ${exitosos}`);\n  console.log(`   Con errores: ${conError}`);\n  \n  // Retornar TODOS los resultados\n  return resultados;\n  \n} catch (error) {\n  console.error(\"❌ Error general procesando compras:\", error.message);\n  \n  // Retornar error estructurado general\n  return [{\n    json: {\n      error: true,\n      mensaje: `Error general: ${error.message}`,\n      tipo_error: \"error_general\",\n      timestamp: new Date().toISOString()\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,272],"id":"5a6ef18d-c1cb-402d-b028-6dcff58e5b6a","name":"Calcular_Stock","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a43847d7-9c88-495e-b01a-9dc87dac721e","name":"final_message","value":"={{ $json.mensaje }}","type":"string"},{"id":"2655e097-412c-4299-9410-7ca616088ba0","name":"sessionid","value":"={{ $json.wa_id }}","type":"string"},{"id":"f29ed700-e3b7-42c0-a963-78aa19163346","name":"datetime","value":"={{ $json.fecha }}","type":"string"},{"id":"e22e1768-594d-4730-9043-0fb05ad7caae","name":"instancia","value":"={{ $json.instancia }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,288],"id":"983db8b8-5a97-4963-855f-887e506dec2d","name":"Edit Fields3"},{"parameters":{"jsCode":"// Código para generar mensaje de confirmación de inventario\n// USAR DATOS DE CALCULAR_STOCK (que están completos)\nconst inputData = $('Calcular_Stock').all();\n\n// Función para formatear números con separadores de miles\nfunction formatearNumero(numero) {\n  return new Intl.NumberFormat('es-CO').format(numero);\n}\n\n// Función para formatear precios\nfunction formatearPrecio(precio) {\n  if (precio === 0 || precio === null || precio === undefined) {\n    return \"No registrado\";\n  }\n  return \"$\" + formatearNumero(precio);\n}\n\n// Función para manejar singular/plural de unidades de medida\nfunction pluralizar(cantidad, unidad) {\n  const cantidadNum = parseInt(cantidad);\n  \n  if (cantidadNum === 1) {\n    // Convertir a singular\n    if (unidad === \"cajas\") return \"caja\";\n    if (unidad === \"pacas\") return \"paca\";\n    if (unidad === \"unidades\") return \"unidad\";\n    if (unidad === \"botellas\") return \"botella\";\n    if (unidad === \"litros\") return \"litro\";\n    return unidad; // Si no coincide, devolver original\n  }\n  \n  return unidad; // Plural (original)\n}\n\n// Procesar los datos\nconst productos = [];\nlet totalProductosActualizados = 0;\nlet totalUnidadesIngresadas = 0;\n\ninputData.forEach((item, index) => {\n  // Los datos vienen directamente en item.json desde Calcular_Stock\n  const data = item.json;\n  \n  // Verificar si hay errores\n  if (data.error) {\n    productos.push({\n      nombre: data.producto_con_error || \"Producto desconocido\",\n      error: data.mensaje,\n      esError: true\n    });\n    return;\n  }\n  \n  // Extraer valores (ahora directamente, ya que sabemos que están disponibles)\n  const cantidad = parseInt(data.cantidad);\n  const stockAnterior = parseInt(data.stock_anterior);\n  const stockNuevo = parseInt(data.stock_actual_unidades);\n  const unidadesIngresadas = parseInt(data.unidades_ingresadas);\n  const precio = parseFloat(data.precio_ultima_compra) || 0;\n  const producto = data.producto;\n  const unidadMedida = data.unidad_medida;\n  \n  // Procesar producto exitoso\n  const unidadFormateada = pluralizar(cantidad, unidadMedida);\n  \n  productos.push({\n    nombre: producto,\n    cantidad: cantidad,\n    unidad: unidadFormateada,\n    stockAnterior: stockAnterior,\n    stockNuevo: stockNuevo,\n    unidadesIngresadas: unidadesIngresadas,\n    factor: parseInt(data.factor_unidades),\n    precio: precio,\n    accion: data.accion,\n    esError: false\n  });\n  \n  totalProductosActualizados++;\n  totalUnidadesIngresadas += unidadesIngresadas;\n});\n\n// Generar mensaje de confirmación\nlet mensaje = \"\";\n\n// --- INICIO DE LOS CAMBIOS ---\n// Mensaje para cuando no hay productos que procesar\nif (productos.length === 0) {\n  mensaje = \"⚠️ El inventario no tiene productos para procesar.\";\n} else {\n  // Encabezado con nuevo formato\n  mensaje += \"✅ *Informe de actualización de inventario*\\n\";\n  mensaje += `📅 ${new Date().toLocaleDateString('es-CO', { \n    timeZone: 'America/Bogota',\n    weekday: 'long',\n    year: 'numeric', \n    month: 'long', \n    day: 'numeric',\n    hour: '2-digit',\n    minute: '2-digit'\n  })}`.replace(/^\\w/, c => c.toUpperCase()) + \"\\n\\n\";\n  \n  // Listar productos en formato más detallado\n  mensaje += \"*Detalles de los productos procesados:*\\n\\n\";\n  \n  productos.forEach((producto, index) => {\n    if (producto.esError) {\n      mensaje += `❌ *${producto.nombre}* - Error: ${producto.error}\\n`;\n    } else {\n      mensaje += `📦 *${producto.nombre}*:\\n`;\n      mensaje += `- Cantidad: ${producto.cantidad} ${producto.unidad}\\n`;\n      mensaje += `- Nuevo stock: ${formatearNumero(producto.stockNuevo)} unidades\\n\\n`;\n    }\n  });\n}\n// --- FIN DE LOS CAMBIOS ---\n\n// Crear versión de texto plano (sin markdown)\nlet mensajeTextoPlano = mensaje\n  .replace(/\\*/g, \"\") // Quitar asteriscos de markdown\n  .replace(/━/g, \"-\"); // Reemplazar caracteres especiales\n\n// Retornar resultado\nconst resultado = {\n  json: {\n    mensaje_html: mensaje, // Con formato markdown para Telegram\n    mensaje_texto: mensajeTextoPlano, // Texto plano\n    parse_mode: \"Markdown\", // Para Telegram\n    total_productos: productos.length,\n    productos_exitosos: totalProductosActualizados,\n    productos_con_error: productos.filter(p => p.esError).length,\n    total_unidades_ingresadas: totalUnidadesIngresadas,\n    fecha_procesamiento: new Date().toISOString(),\n    resumen_productos: productos,\n    tipo_operacion: \"actualizacion_inventario\"\n  }\n};\n\nconsole.log(`📊 Mensaje de confirmación generado:`);\nconsole.log(`   - Productos procesados: ${productos.length}`);\nconsole.log(`   - Productos exitosos: ${totalProductosActualizados}`);\nconsole.log(`   - Total unidades: ${totalUnidadesIngresadas}`);\n\nreturn [resultado];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[704,288],"id":"1e22ca67-fad4-4aa3-ab91-a6a269b2686d","name":"Code"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields3').first().json.instancia }}","remoteJid":"={{ $('Edit Fields3').first().json.sessionid }}","messageText":"={{ $json.mensaje_texto }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1040,288],"id":"c1ed25e2-8f33-4b1a-baab-c9a5a6e5c0fd","name":"Enviar texto3","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"wa_id"},{"name":"instancia"},{"name":"fecha"}]}},"id":"73425a14-c933-4d6e-9578-2e9d127d8a40","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1904,288]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3933eeb3-38f1-45ab-a719-1abbd34b8430","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,272],"id":"eaf49c7b-aab8-4938-a5f1-d723f70a00c0","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"3d3a0c8b-59f7-4c35-aa97-b04184a65374","name":"mensaje","value":"={{ $json.mensaje }} Verifica aqui en la lista de PRODUCTOS","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,96],"id":"bccac399-ea9e-4d64-ae7a-a2f43a003e36","name":"Edit Fields"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields3').item.json.instancia }}","remoteJid":"={{ $('Edit Fields3').item.json.sessionid }}","messageText":"error al agregar productos al inventario","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-496,448],"id":"d9e2a37f-4f0c-43e1-819a-1ab5f713d6a2","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-384,272],"id":"df422032-cca3-4407-81d9-f05e8f320321","name":"obetener_inventario","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"columns":{"mappingMode":"defineBelow","value":{"producto":"={{ $json.producto }}","stock_actual_unidades":"={{ $json.stock_actual_unidades }}","updated_at":"2025-10-07T16:16:32"},"matchingColumns":["producto"],"schema":[{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unidad_medida","displayName":"unidad_medida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"factor_unidades","displayName":"factor_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"stock_actual_unidades","displayName":"stock_actual_unidades","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"precio_ultima_compra","displayName":"precio_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_ultima_compra","displayName":"fecha_ultima_compra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,288],"id":"aef8de2c-8ee3-495b-a55a-edf0bd79ce71","name":"actualizar inventario","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"registro_entrada_inventario","mode":"list","cachedResultName":"registro_entrada_inventario"},"columns":{"mappingMode":"defineBelow","value":{"cantidad":"={{ $json.cantidad }}","producto":"={{ $json.producto }}","unidad_medida":"={{ $json.unidad_medida }}","fecha":"2025-10-07T16:13:01"},"matchingColumns":["producto"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cantidad","displayName":"cantidad","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"unidad_medida","displayName":"unidad_medida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"producto","displayName":"producto","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,496],"id":"e5789b11-4773-448f-9ba3-9ef0bf65db7c","name":"registro de compras","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}}],"connections":{"AI Agent1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Code4":{"main":[[{"node":"Procesar_compra","type":"main","index":0}]]},"Procesar_compra":{"main":[[{"node":"obetener_inventario","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Calcular_Stock":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"registro de compras","type":"main","index":0},{"node":"actualizar inventario","type":"main","index":0}]]},"obetener_inventario":{"main":[[{"node":"Calcular_Stock","type":"main","index":0}]]},"Code":{"main":[[{"node":"Enviar texto3","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"actualizar inventario":{"main":[[{"node":"Code","type":"main","index":0}]]},"registro de compras":{"main":[[]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"compre 2 cajas de Gaseosa 350ml","wa_id":"573103015865@s.whatsapp.net","instancia":"pepe cadena","fecha":"07/10/2025"}}]},"versionId":"bd2cca49-f37d-49d9-90cb-5c91ae39b2bf","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:18:58.477Z","updatedAt":"2025-10-06T05:18:58.477Z","role":"workflow:owner","workflowId":"Wg6zh3EFPjY6VqYI","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}