obtener_inventario-Ejg0iou6XLtlYPmi.json
{"createdAt":"2025-10-06T05:17:57.695Z","updatedAt":"2025-10-21T05:28:34.000Z","id":"Ejg0iou6XLtlYPmi","name":"obtener_inventario","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// La variable 'items' contiene los datos del nodo anterior.\nif (!Array.isArray(items) || items.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock para generar el informe.\"\n        }\n    }];\n}\n\n// Productos que deben ser excluidos del informe\nconst productosExcluidos = [\n    'arepas de queso',\n    'chorizos',\n    'arepa burguer'\n];\n\n// Función para verificar si un producto debe ser excluido\nconst debeExcluirProducto = (producto) => {\n    const productoLower = producto.toLowerCase().trim();\n    return productosExcluidos.some(excluido => \n        productoLower.includes(excluido) || excluido.includes(productoLower)\n    );\n};\n\n// Filtra solo los productos con stock disponible y excluye los productos especificados.\nconst productosConStock = items.filter(item => {\n    if (!item.json || typeof item.json.stock_actual_unidades !== 'number' || item.json.stock_actual_unidades <= 0) {\n        return false;\n    }\n    \n    // Excluir productos específicos\n    if (!item.json.producto || debeExcluirProducto(item.json.producto)) {\n        return false;\n    }\n    \n    return true;\n});\n\n// Si no hay productos con stock después del filtro, devuelve un mensaje.\nif (productosConStock.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock disponibles.\"\n        }\n    }];\n}\n\n// Construye el mensaje con el formato deseado.\nlet informe = \"📋 INVENTARIO COMPLETO:\\n\\n\";\ninforme += \"✅ **Productos con stock disponible:**\\n\\n\";\n\nproductosConStock.forEach(item => {\n    const producto = item.json;\n    informe += `• ${producto.producto}: ${producto.stock_actual_unidades} und\\n`;\n});\n\n// Devuelve un solo ítem con el informe en la propiedad 'json'.\nreturn [{\n    json: {\n        informe: informe.trim()\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,64],"id":"f5bcfb5c-74ae-4f7b-a3d2-5ee123b1339a","name":"Code9"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').first().json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').first().json.telefono }}","messageText":"={{ $json.informe }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[272,64],"id":"29d4201c-aa8c-492b-81fb-5fc54695dd61","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"user_id"},{"name":"permisos"},{"name":"rol"},{"name":"nombre_usuario"},{"name":"mensaje"},{"name":"numero_telefono"},{"name":"date_time"},{"name":"instancia"},{"name":"autorizado"}]}},"id":"9706fdd2-9f64-4370-828f-0e762568a8d4","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1120,64]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.permisos.inventario.ver }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-416,64],"id":"898a9800-95f8-4d81-afdd-c002e7e36047","name":"Permiso Ver Inventario"},{"parameters":{"jsCode":"return {\n  mensaje: `❌ ${$json.nombre_usuario || 'Usuario'}, no tienes permiso para consultar inventario.`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"a05c439c-a702-40af-a1d6-0d67acdee8fb","name":"sin permiso"},{"parameters":{"jsCode":"let datos;\n\nif ($json.pre_validado === true) {\n  datos = $json;\n} else {\n  datos = $json;\n}\n\nreturn {\n  tenant_id: datos.tenant_id,\n  user_id: datos.user_id,\n  permisos: datos.permisos,\n  rol: datos.rol,\n  nombre_usuario: datos.nombre_usuario\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,48],"id":"95059ec0-8978-4ad3-888a-35eccad3571f","name":"Guardar tenant"},{"parameters":{"jsCode":"// Obtener los datos de entrada\nconst datos = $input.first().json;\n\n// Parsear permisos si vienen como string\nlet permisos = datos.permisos;\nif (typeof permisos === 'string') {\n  permisos = JSON.parse(permisos);\n}\n\nreturn {\n  tenant_id: datos.tenant_id,\n  user_id: datos.user_id,\n  rol: datos.rol,\n  nombre_usuario: datos.nombre_usuario,\n  permisos: permisos // Ahora es un objeto JSON\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,48],"id":"d90cb7bd-8ae1-45ea-b524-5fb052b73b55","name":"Parsea permisos"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  producto,\n  cantidad as stock_actual_unidades,\n  unidad as unidad_medida\nFROM inventario\nWHERE tenant_id = '{{ $('Guardar tenant').item.json.tenant_id }}'\nORDER BY producto;\n\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-176,48],"id":"0be2404e-eb7d-47f9-b78b-fa0916c66d00","name":"inventario","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}}],"connections":{"Code9":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Guardar tenant","type":"main","index":0}]]},"Permiso Ver Inventario":{"main":[[{"node":"inventario","type":"main","index":0}],[{"node":"sin permiso","type":"main","index":0}]]},"Guardar tenant":{"main":[[{"node":"Parsea permisos","type":"main","index":0}]]},"Parsea permisos":{"main":[[{"node":"Permiso Ver Inventario","type":"main","index":0}]]},"inventario":{"main":[[{"node":"Code9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"tenant_id":"eb4a0fe3-0914-4255-805f-75c06df5c422","user_id":"2e698d4e-74f7-4268-a8e7-17a372a0baa9","permisos":"{\"ventas\":{\"ver\":true,\"crear\":true,\"editar\":true,\"eliminar\":true},\"informes\":{\"ver\":true,\"exportar\":true},\"productos\":{\"ver\":true,\"crear\":true,\"editar\":true,\"eliminar\":true},\"inventario\":{\"ver\":true,\"modificar\":true}}","rol":"dueno","nombre_usuario":"Admin Test","mensaje":"inventario","numero_telefono":"573103015865@s.whatsapp.net","date_time":"2025-10-21T04:34:58.308Z","instancia":"pepe cadena","autorizado":"true"}}]},"versionId":"45e944ac-885f-4e2a-aa22-009384d2067b","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:17:57.700Z","updatedAt":"2025-10-06T05:17:57.700Z","role":"workflow:owner","workflowId":"Ejg0iou6XLtlYPmi","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}