obtener_inventario-Ejg0iou6XLtlYPmi.json
{"createdAt":"2025-10-06T05:17:57.695Z","updatedAt":"2025-10-18T17:09:10.000Z","id":"Ejg0iou6XLtlYPmi","name":"obtener_inventario","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// La variable 'items' contiene los datos del nodo anterior.\nif (!Array.isArray(items) || items.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock para generar el informe.\"\n        }\n    }];\n}\n\n// Productos que deben ser excluidos del informe\nconst productosExcluidos = [\n    'arepas de queso',\n    'chorizos',\n    'arepa burguer'\n];\n\n// Función para verificar si un producto debe ser excluido\nconst debeExcluirProducto = (producto) => {\n    const productoLower = producto.toLowerCase().trim();\n    return productosExcluidos.some(excluido => \n        productoLower.includes(excluido) || excluido.includes(productoLower)\n    );\n};\n\n// Filtra solo los productos con stock disponible y excluye los productos especificados.\nconst productosConStock = items.filter(item => {\n    if (!item.json || typeof item.json.stock_actual_unidades !== 'number' || item.json.stock_actual_unidades <= 0) {\n        return false;\n    }\n    \n    // Excluir productos específicos\n    if (!item.json.producto || debeExcluirProducto(item.json.producto)) {\n        return false;\n    }\n    \n    return true;\n});\n\n// Si no hay productos con stock después del filtro, devuelve un mensaje.\nif (productosConStock.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock disponibles.\"\n        }\n    }];\n}\n\n// Construye el mensaje con el formato deseado.\nlet informe = \"📋 INVENTARIO COMPLETO:\\n\\n\";\ninforme += \"✅ **Productos con stock disponible:**\\n\\n\";\n\nproductosConStock.forEach(item => {\n    const producto = item.json;\n    informe += `• ${producto.producto}: ${producto.stock_actual_unidades} und\\n`;\n});\n\n// Devuelve un solo ítem con el informe en la propiedad 'json'.\nreturn [{\n    json: {\n        informe: informe.trim()\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,16],"id":"f5bcfb5c-74ae-4f7b-a3d2-5ee123b1339a","name":"Code9"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').first().json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').first().json.telefono }}","messageText":"={{ $json.informe }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[256,16],"id":"29d4201c-aa8c-492b-81fb-5fc54695dd61","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,16],"id":"0be2404e-eb7d-47f9-b78b-fa0916c66d00","name":"Select rows from a table","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"tenant_id"},{"name":"user_id"},{"name":"permisos"},{"name":"rol"},{"name":"nombre_usuario"},{"name":"mensaje"},{"name":"numero_telefono"},{"name":"date_time"},{"name":"instancia"},{"name":"autorizado"}]}},"id":"9706fdd2-9f64-4370-828f-0e762568a8d4","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1312,48]},{"parameters":{"jsCode":"// Verificar si viene pre-autorizado desde gerson_ventas\nif ($json.autorizado === true && $json.tenant_id) {\n  // Parsear permisos si vienen como string\n  let permisos = $json.permisos;\n  if (typeof permisos === 'string') {\n    permisos = JSON.parse(permisos);\n  }\n  \n  return {\n    tenant_id: $json.tenant_id,\n    user_id: $json.user_id,\n    rol: $json.rol,\n    permisos: permisos,\n    nombre_usuario: $json.nombre_usuario,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia,\n    pre_validado: true\n  };\n} else {\n  // Llamada directa (testing sin gerson_ventas)\n  return {\n    necesita_validacion: true,\n    mensaje: $json.mensaje,\n    numero_telefono: $json.numero_telefono,\n    date_time: $json.date_time,\n    instancia: $json.instancia\n  };\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,48],"id":"73a707ec-f7ba-44df-93e3-20323e3c0d27","name":"Verificar Autorización"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.necesita_validacion }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,48],"id":"8e6b757e-f69d-4dab-a417-78bf8a2ca22b","name":"Necesita Validación?"},{"parameters":{"workflowId":{"__rl":true,"value":"niw7nbWmuCLHmO5F","mode":"list","cachedResultUrl":"/workflow/niw7nbWmuCLHmO5F","cachedResultName":"identificar_tenant"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-720,-160],"id":"fc49bba6-f364-479a-81c2-ae37a636e8eb","name":"Call 'identificar_tenant'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"64263bb7-218a-4965-94ae-f56eba7a053d","leftValue":"={{ $json.permisos.inventario.ver }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,48],"id":"898a9800-95f8-4d81-afdd-c002e7e36047","name":"Permiso Ver Inventario"},{"parameters":{"jsCode":"return {\n  mensaje: `❌ ${$json.nombre_usuario || 'Usuario'}, no tienes permiso para consultar inventario.`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,288],"id":"a05c439c-a702-40af-a1d6-0d67acdee8fb","name":"sin permiso"}],"connections":{"Select rows from a table":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Verificar Autorización","type":"main","index":0}]]},"Verificar Autorización":{"main":[[{"node":"Necesita Validación?","type":"main","index":0}]]},"Necesita Validación?":{"main":[[{"node":"Call 'identificar_tenant'","type":"main","index":0}],[{"node":"Permiso Ver Inventario","type":"main","index":0}]]},"Permiso Ver Inventario":{"main":[[{"node":"Select rows from a table","type":"main","index":0}],[{"node":"sin permiso","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"1 \"Coca Cola 350ml\"\n","numero_telefono":"573103015865@s.whatsapp.net","date_time":"11/10/2025","instancia":"pepe cadena"}}]},"versionId":"14ceb487-cbd6-45a0-9003-236aa6b185cc","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:17:57.700Z","updatedAt":"2025-10-06T05:17:57.700Z","role":"workflow:owner","workflowId":"Ejg0iou6XLtlYPmi","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}