obtener_inventario-Ejg0iou6XLtlYPmi.json"

{"createdAt":"2025-10-06T05:17:57.695Z","updatedAt":"2025-10-12T03:58:33.000Z","id":"Ejg0iou6XLtlYPmi","name":"obtener_inventario","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"mensaje"},{"name":"telefono"},{"name":"fecha"},{"name":"instancia"}]}},"id":"34f33d6a-da15-4619-8945-eea43234a5ca","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-784,16]},{"parameters":{"jsCode":"// La variable 'items' contiene los datos del nodo anterior.\nif (!Array.isArray(items) || items.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock para generar el informe.\"\n        }\n    }];\n}\n\n// Productos que deben ser excluidos del informe\nconst productosExcluidos = [\n    'arepas de queso',\n    'chorizos',\n    'arepa burguer'\n];\n\n// Función para verificar si un producto debe ser excluido\nconst debeExcluirProducto = (producto) => {\n    const productoLower = producto.toLowerCase().trim();\n    return productosExcluidos.some(excluido => \n        productoLower.includes(excluido) || excluido.includes(productoLower)\n    );\n};\n\n// Filtra solo los productos con stock disponible y excluye los productos especificados.\nconst productosConStock = items.filter(item => {\n    if (!item.json || typeof item.json.stock_actual_unidades !== 'number' || item.json.stock_actual_unidades <= 0) {\n        return false;\n    }\n    \n    // Excluir productos específicos\n    if (!item.json.producto || debeExcluirProducto(item.json.producto)) {\n        return false;\n    }\n    \n    return true;\n});\n\n// Si no hay productos con stock después del filtro, devuelve un mensaje.\nif (productosConStock.length === 0) {\n    return [{\n        json: {\n            informe: \"No hay productos en stock disponibles.\"\n        }\n    }];\n}\n\n// Construye el mensaje con el formato deseado.\nlet informe = \"📋 INVENTARIO COMPLETO:\\n\\n\";\ninforme += \"✅ **Productos con stock disponible:**\\n\\n\";\n\nproductosConStock.forEach(item => {\n    const producto = item.json;\n    informe += `• ${producto.producto}: ${producto.stock_actual_unidades} und\\n`;\n});\n\n// Devuelve un solo ítem con el informe en la propiedad 'json'.\nreturn [{\n    json: {\n        informe: informe.trim()\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,16],"id":"f5bcfb5c-74ae-4f7b-a3d2-5ee123b1339a","name":"Code9"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('When Executed by Another Workflow').first().json.instancia }}","remoteJid":"={{ $('When Executed by Another Workflow').first().json.telefono }}","messageText":"={{ $json.informe }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-64,16],"id":"29d4201c-aa8c-492b-81fb-5fc54695dd61","name":"Enviar texto2","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"cache_inventario","mode":"list","cachedResultName":"cache_inventario"},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-576,16],"id":"0be2404e-eb7d-47f9-b78b-fa0916c66d00","name":"Select rows from a table","executeOnce":true,"credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Code9","type":"main","index":0}]]},"Code9":{"main":[[{"node":"Enviar texto2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","executionTimeout":15,"availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"mensaje":"inventario","telefono":"573103015865@s.whatsapp.net","fecha":"07/10/2025","instancia":"pepe cadena"}}]},"versionId":"5c1dae8c-7c14-4985-bd8a-4ad038bee019","triggerCount":0,"shared":[{"createdAt":"2025-10-06T05:17:57.700Z","updatedAt":"2025-10-06T05:17:57.700Z","role":"workflow:owner","workflowId":"Ejg0iou6XLtlYPmi","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}