validar-contraseña-i7PajkEzRQlorqPO.json
{"createdAt":"2025-10-12T21:53:00.910Z","updatedAt":"2025-10-17T04:08:46.000Z","id":"i7PajkEzRQlorqPO","name":"Login/validar contraseña","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"/login","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"129b9f11-0422-43f1-a392-0959e7d3ed6e","name":"Webhook","webhookId":"56f8d788-e17a-47c0-81be-6f58a0decb2b"},{"parameters":{"operation":"executeQuery","query":"SELECT id, telefono, nombre, password_hash \nFROM usuarios_autorizados \nWHERE telefono = '{{ $json.body.telefono }}' \nAND activo = true\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-112],"id":"3e661558-fc40-4665-b5f4-dc9328a407a5","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  id, \n  nombre, \n  telefono,\n  activo,\n  CASE \n    WHEN password_hash = crypt('{{ $('Webhook').item.json.body.password }}', password_hash) \n    THEN true \n    ELSE false \n  END as password_correcto\nFROM usuarios_autorizados\nWHERE telefono = '{{ $json.telefono }}'\nAND activo = true;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,-240],"id":"c0ced9ce-333e-453a-8b2a-8731a77f842e","name":"Execute a SQL query1","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"06e16a1d-985a-4e7c-9f97-150bd2a7b139","name":"exito","value":true,"type":"boolean"},{"id":"a1a211c9-58f8-46e0-b2c8-4df7ec1151f9","name":"mensaje","value":"Login exitoso","type":"string"},{"id":"e2ad8e24-edb7-4b87-a33c-df039005747c","name":"usuario_id","value":"={{ $json.usuario_id }}","type":"number"},{"id":"62faa9be-fb74-4918-91e4-fa23ad8cb0c5","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"a0d3b515-5ed6-4cf5-bf8f-7f5f252a0f0f","name":"telefono","value":"={{ $json.telefono }}","type":"string"},{"id":"6442a928-2f14-48e1-acd2-cfa95979ce1b","name":"activo","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,-256],"id":"34ffcf04-04dc-4482-9bc5-46fd31eb3eb8","name":"login exitoso"},{"parameters":{"assignments":{"assignments":[{"id":"ad6c3aa5-7fe2-4987-824e-7ce74a2e5676","name":"exito","value":false,"type":"boolean"},{"id":"4b9567d6-a156-4a7c-90e2-1ce29459ae90","name":"mensaje ","value":"Credenciales inválidas","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,-32],"id":"6895c1b9-ddde-4ec5-907a-cdb84cbdea95","name":"login fallido"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72b58667-857b-4f4a-8db6-ceca65513993","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-112],"id":"516e3f34-7509-42b4-9a5e-d57220cbff17","name":"Usuario existe?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c434d393-7149-4d42-b884-bc684e4c2e10","leftValue":"={{ $json.password_correcto }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-240],"id":"a29eb354-8bac-4780-bfc1-acfb1b50dfbc","name":"If"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Usuario existe?","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"If","type":"main","index":0}]]},"login fallido":{"main":[[]]},"login exitoso":{"main":[[]]},"Usuario existe?":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[]]},"If":{"main":[[{"node":"login exitoso","type":"main","index":0}],[{"node":"login fallido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.aa7tej.easypanel.host","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36","content-length":"48","accept":"*/*","accept-encoding":"gzip, deflate, br, zstd","accept-language":"es-ES,es;q=0.7","content-type":"application/json","origin":"https://preview--bite-biz-hub.lovable.app","priority":"u=1, i","referer":"https://preview--bite-biz-hub.lovable.app/","sec-ch-ua":"\"Brave\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","sec-gpc":"1","x-forwarded-for":"191.107.188.232","x-forwarded-host":"n8n-n8n.aa7tej.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4473dde1486f","x-real-ip":"191.107.188.232"},"params":{},"query":{},"body":{"telefono":"+573103015865","password":"123456"},"webhookUrl":"https://n8n-n8n.aa7tej.easypanel.host/webhook/login","executionMode":"production"}}]},"versionId":"52ceeaa6-8767-4f7f-b8bb-242cf601d3e3","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:53:00.915Z","updatedAt":"2025-10-12T21:53:00.915Z","role":"workflow:owner","workflowId":"i7PajkEzRQlorqPO","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}