validar-contraseña-i7PajkEzRQlorqPO.json
{"createdAt":"2025-10-12T21:53:00.910Z","updatedAt":"2025-10-12T22:48:17.000Z","id":"i7PajkEzRQlorqPO","name":"Login/validar contraseña","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"/login","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,-112],"id":"129b9f11-0422-43f1-a392-0959e7d3ed6e","name":"Webhook","webhookId":"56f8d788-e17a-47c0-81be-6f58a0decb2b"},{"parameters":{"operation":"executeQuery","query":"SELECT id, telefono, nombre, password_hash \nFROM usuarios_autorizados \nWHERE telefono = '{{ $json.body.telefono }}' \nAND activo = true\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-112],"id":"3e661558-fc40-4665-b5f4-dc9328a407a5","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"const bcrypt = require('bcrypt');\nconst inputPassword = $input.item.json.body.password;\nconst storedHash = $input.item.json.password_hash;\n\nif (!storedHash) {\n  return {\n    json: {\n      valido: false,\n      mensaje: \"Usuario debe crear contraseña primero\"\n    }\n  };\n}\n\nconst isValid = await bcrypt.compare(inputPassword, storedHash);\n\nreturn {\n  json: {\n    valido: isValid,\n    usuario_id: $input.item.json.id,\n    telefono: $input.item.json.telefono,\n    nombre: $input.item.json.nombre\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,-144],"id":"03d7dc80-7596-412c-a13b-0bc31c9b41f4","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a554a3df-1e69-4e58-a4d2-2e4f1193eb23","leftValue":"={{ $json.valido }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-112],"id":"b41480e3-3492-40a6-8d63-28752c952cae","name":"If1"},{"parameters":{"operation":"executeQuery","query":"UPDATE usuarios_autorizados \nSET ultima_sesion = CURRENT_TIMESTAMP \nWHERE id = {{ $json.usuario_id }}\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,-208],"id":"c0ced9ce-333e-453a-8b2a-8731a77f842e","name":"Execute a SQL query1","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"assignments":{"assignments":[{"id":"06e16a1d-985a-4e7c-9f97-150bd2a7b139","name":"exito","value":"true","type":"string"},{"id":"e2ad8e24-edb7-4b87-a33c-df039005747c","name":"usuario_id","value":"={{ $json.usuario_id }}","type":"string"},{"id":"62faa9be-fb74-4918-91e4-fa23ad8cb0c5","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"a0d3b515-5ed6-4cf5-bf8f-7f5f252a0f0f","name":"telefono","value":"={{ $json.telefono }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,-208],"id":"34ffcf04-04dc-4482-9bc5-46fd31eb3eb8","name":"login exitoso"},{"parameters":{"assignments":{"assignments":[{"id":"ad6c3aa5-7fe2-4987-824e-7ce74a2e5676","name":"exito","value":"false","type":"string"},{"id":"4b9567d6-a156-4a7c-90e2-1ce29459ae90","name":"mensaje ","value":"Credenciales inválidas","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-16],"id":"6895c1b9-ddde-4ec5-907a-cdb84cbdea95","name":"login fallido"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1504,0],"id":"66570ea1-3c7c-4b2b-886a-c869827bb906","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1728,-208],"id":"4d5d39e7-c0cf-4c52-b0dd-dc2b16f362f3","name":"Respond to Webhook1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72b58667-857b-4f4a-8db6-ceca65513993","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,-112],"id":"516e3f34-7509-42b4-9a5e-d57220cbff17","name":"Usuario existe?"},{"parameters":{"assignments":{"assignments":[{"id":"f821466f-4095-4a3c-8752-968d3e3fa3e6","name":"headers","value":"=\"Access-Control-Allow-Origin\": \"*\",   \"Access-Control-Allow-Methods\": \"POST, OPTIONS\",   \"Access-Control-Allow-Headers\": \"Content-Type\",   \"Content-Type\": \"application/json\" }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1536,-208],"id":"3af5d9c3-a7c8-44c7-b6d0-6e3c2ab60c02","name":"set"},{"parameters":{"assignments":{"assignments":[{"id":"f821466f-4095-4a3c-8752-968d3e3fa3e6","name":"headers","value":"=\"Access-Control-Allow-Origin\": \"*\",   \"Access-Control-Allow-Methods\": \"POST, OPTIONS\",   \"Access-Control-Allow-Headers\": \"Content-Type\",   \"Content-Type\": \"application/json\" }","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,0],"id":"007b631b-273c-4cf9-ab11-4c1e402f7da1","name":"set1"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Usuario existe?","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}],[{"node":"login fallido","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"login exitoso","type":"main","index":0}]]},"login fallido":{"main":[[{"node":"set1","type":"main","index":0}]]},"login exitoso":{"main":[[{"node":"set","type":"main","index":0}]]},"Usuario existe?":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"set":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"set1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed231bb4-f18c-4c54-aeac-d2e155e63484","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:53:00.915Z","updatedAt":"2025-10-12T21:53:00.915Z","role":"workflow:owner","workflowId":"i7PajkEzRQlorqPO","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}