webhook_obtener_dashboard-hNjrJM3DZ61mdlLH.json
{"createdAt":"2025-10-12T22:03:37.965Z","updatedAt":"2025-10-12T22:22:13.000Z","id":"hNjrJM3DZ61mdlLH","name":"webhook_obtener_dashboard","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"obtener-dashboard","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,240],"id":"7434caea-194c-4ad6-97eb-e62fee1e600a","name":"Webhook","webhookId":"46e8d89e-b33e-41ed-aae9-0ee653315912"},{"parameters":{"jsCode":"const fechaInicio = $input.item.json.body.fecha_inicio || new Date().toISOString().split('T')[0];\nconst fechaFin = $input.item.json.body.fecha_fin || fechaInicio;\n\nreturn {\n  fecha_inicio: fechaInicio,\n  fecha_fin: fechaFin\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,240],"id":"95ea84bc-1b41-412e-827f-3b85057a36c7","name":"Code in JavaScript"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  producto,\n  SUM(cantidad) as cantidad_total,\n  SUM(valor_total) as valor_total,\n  MAX(valor_unitario) as precio_unitario\nFROM ventas\nWHERE fecha::date BETWEEN '{{ $json.fecha_inicio }}' AND '{{ $json.fecha_fin }}'\nGROUP BY producto\nORDER BY valor_total DESC\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,-208],"id":"21def570-afed-4180-9ffa-6de2d9092af6","name":"primer consulta - ventas","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  producto,\n  SUM(cantidad) as cantidad_total,\n  SUM(precio * cantidad) as valor_total\nFROM consumos_personales\nWHERE fecha BETWEEN '{{ $json.fecha_inicio }}' AND '{{ $json.fecha_fin }}'\nGROUP BY producto\nORDER BY cantidad_total DESC\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,32],"id":"175ba1e7-6ff9-4006-bcef-035f17f8ea3c","name":"segunda consulta - consumos","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  producto,\n  SUM(cantidad) as cantidad_total,\n  unidad_medida\nFROM registro_entrada_inventario\nWHERE fecha BETWEEN '{{ $json.fecha_inicio }}' AND '{{ $json.fecha_fin }}'\nGROUP BY producto, unidad_medida\nORDER BY cantidad_total DESC\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,256],"id":"a9e4585d-96f5-4e8c-892c-f0bfd1a4261b","name":"tercera consulta - entradas","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  producto,\n  stock_actual_unidades as stock,\n  unidad_medida,\n  precio_ultima_compra as precio\nFROM cache_inventario\nORDER BY producto\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[576,480],"id":"2d0bca67-c540-4b48-a67d-2e687a1dbff0","name":"cuarta consulta - inventario actual","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COALESCE(SUM(valor_total), 0) as total_ventas,\n  COUNT(*) as numero_transacciones\nFROM ventas\nWHERE fecha::date BETWEEN '{{ $json.fecha_inicio }}' AND '{{ $json.fecha_fin }}'\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,736],"id":"ef5da905-76fd-450e-8158-d6ec119865ba","name":"TOTAL VENTAS","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"// Obtener todos los resultados de los nodos anteriores\nconst allItems = $input.all();\n\n// Identificar cada resultado por su posición\n// [0] = fechas del primer Code\n// [1] = ventas\n// [2] = consumos  \n// [3] = entradas\n// [4] = inventario\n// [5] = total ventas\n\nconst ventas = allItems.filter(item => item.json.cantidad_total !== undefined && item.json.valor_total !== undefined && item.json.precio_unitario !== undefined);\nconst consumos = allItems.filter(item => item.json.cantidad_total !== undefined && item.json.valor_total !== undefined && item.json.precio_unitario === undefined && item.json.unidad_medida === undefined);\nconst entradas = allItems.filter(item => item.json.cantidad_total !== undefined && item.json.unidad_medida !== undefined);\nconst inventario = allItems.filter(item => item.json.stock !== undefined);\nconst totales = allItems.filter(item => item.json.total_ventas !== undefined);\n\nreturn {\n  fecha_consulta: new Date().toISOString(),\n  ventas: ventas.map(v => v.json),\n  consumos: consumos.map(c => c.json),\n  entradas: entradas.map(e => e.json),\n  inventario: inventario.map(i => i.json),\n  resumen: totales[0]?.json || { total_ventas: 0, numero_transacciones: 0 }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,240],"id":"e4e14b4e-ada1-45f8-af0f-b0ccc5c32584","name":"Code in JavaScript1"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1344,240],"id":"fd81021b-bd85-43bf-8674-387f8fe773c6","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"primer consulta - ventas","type":"main","index":0},{"node":"segunda consulta - consumos","type":"main","index":0},{"node":"tercera consulta - entradas","type":"main","index":0},{"node":"cuarta consulta - inventario actual","type":"main","index":0},{"node":"TOTAL VENTAS","type":"main","index":0}]]},"tercera consulta - entradas":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"segunda consulta - consumos":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"primer consulta - ventas":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"cuarta consulta - inventario actual":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"TOTAL VENTAS":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c302cb7b-8c7a-4c99-a518-3621a8f585b3","triggerCount":1,"shared":[{"createdAt":"2025-10-12T22:03:37.968Z","updatedAt":"2025-10-12T22:03:37.968Z","role":"workflow:owner","workflowId":"hNjrJM3DZ61mdlLH","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}