webhook_validar_usuario-t0EWs8Xv6wKiP8aB.json
{"createdAt":"2025-10-12T21:20:06.668Z","updatedAt":"2025-10-12T22:53:49.000Z","id":"t0EWs8Xv6wKiP8aB","name":"webhook_validar_usuario","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"validar-usuario","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"f3402de4-6621-4f29-929e-daf9d3fdc680","name":"Validar Usuario Autorizado","webhookId":"fcf901b5-599f-4904-9b5a-736195dfdcc2"},{"parameters":{"operation":"executeQuery","query":"SELECT id, telefono, nombre, activo, password_hash \nFROM usuarios_autorizados \nWHERE telefono = '{{ $json.body.telefono }}' \nAND activo = true\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[208,0],"id":"d2ffb11c-64d9-49e4-89e1-6276557d5d82","name":"Execute a SQL query","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e72bf69e-a8d6-4ba2-a0d6-e6b0b9b8f420","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"b425444d-7349-4a1e-a326-2a87edfc2b81","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"9c3bf6cd-66fc-403e-8470-6549994460f6","name":"autorizado","value":"true","type":"string"},{"id":"f2ddba8e-29f5-44f5-953b-bf0410203f77","name":"usuario_id","value":"={{ $json.id }}","type":"string"},{"id":"c3f1c320-f4ea-43be-83d8-0214f05208cc","name":"tiene_password","value":"={{ $json.password_hash ? true : false }}","type":"string"},{"id":"f519ce93-fb10-4d52-8d24-f5f6e1f9db02","name":"nombre","value":"={{ $json.nombre }}","type":"string"},{"id":"4055edc3-77e8-4697-aed1-cacce8eb8c78","name":"headers","value":"={\n  \"Access-Control-Allow-Origin\": \"*\",\n  \"Access-Control-Allow-Methods\": \"POST, OPTIONS\",\n  \"Access-Control-Allow-Headers\": \"Content-Type\",\n  \"Content-Type\": \"application/json\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-96],"id":"d8af6a66-83af-4cfb-8bdc-676086478279","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"d2abfe8d-fb61-41dc-9e2b-dd776729509e","name":"autorizado","value":"false","type":"string"},{"id":"a396f2fc-2091-4d24-93d7-a8f0fe9d85ad","name":"mensaje","value":"Número no autorizado","type":"string"},{"id":"b9c9e0e7-25cf-495d-ae19-9b85d0a3f2dd","name":"headers","value":"={\n  \"Access-Control-Allow-Origin\": \"*\",\n  \"Access-Control-Allow-Methods\": \"POST, OPTIONS\",\n  \"Access-Control-Allow-Headers\": \"Content-Type\",\n  \"Content-Type\": \"application/json\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,96],"id":"8991ad21-d0ac-4c0c-93fd-f4435ebb8f63","name":"Edit Fields1"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[880,-96],"id":"806bd5e1-37e5-466e-81b7-32811455f28a","name":"Respond to Webhook"},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[864,96],"id":"a885a9a3-b87a-4c7d-9e0e-f8f166cfa9ba","name":"Respond to Webhook1"}],"connections":{"Validar Usuario Autorizado":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8fae49c-0ff2-4125-bf06-7f3367c2aab8","triggerCount":1,"shared":[{"createdAt":"2025-10-12T21:20:06.672Z","updatedAt":"2025-10-12T21:20:06.672Z","role":"workflow:owner","workflowId":"t0EWs8Xv6wKiP8aB","projectId":"5qz94e5MiZbyOPrk"}],"tags":[]}