whatsapp_router-nXXVsGr895OEIu0Q.json
{"createdAt":"2025-10-06T05:11:25.657Z","updatedAt":"2025-10-19T06:28:44.000Z","id":"nXXVsGr895OEIu0Q","name":"whatsapp_router","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"inputType":"binary","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-6816,608],"id":"11a270ca-5c27-4496-9150-26dad1bae86b","name":"Transcribe a recording1","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n  \"cien\": \"100\",\n  \"ciento\": \"100\",\n  \"mil\": \"1000\",\n  \"punto\": \".\"\n};\n\n// Convertir solo las palabras que están en el diccionario\nlet resultado = texto;\n\n// Reemplazar cada palabra del diccionario con su número correspondiente\nfor (let palabra in numeros) {\n  let regex = new RegExp('\\\\b' + palabra + '\\\\b', 'gi');\n  resultado = resultado.replace(regex, numeros[palabra]);\n}\n\n// Eliminar todas las comas\nresultado = resultado.replace(/,/g, '');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6592,608],"id":"99dab97d-4567-4f4c-8efe-483863402f07","name":"Code5"},{"parameters":{"assignments":{"assignments":[{"id":"b65575a3-b476-4c0f-8ce4-a7f93531b7f0","name":"final_message","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"bf8845d4-5e4e-4596-b9d9-ec7940739e0c","name":"sessionid","value":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"d1aea00f-74e0-4acd-bf3d-5984b8eade6c","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6368,608],"id":"bc1d61f5-e73b-439e-a265-e2e2d3f5a54a","name":"Final_message_audio"},{"parameters":{"assignments":{"assignments":[{"id":"aa4f659e-93fd-458f-8cb0-d6b2bd655160","name":"sessionid","value":"={{ $('Switch2').first().json.sessionid }}","type":"string"},{"id":"949a3645-b12e-4e5d-829d-d1584f34f507","name":"final_message","value":"={{ $json.texto_convertido }}","type":"string"},{"id":"24d4ebcf-1ef4-4bc1-abe8-04419ac1cf23","name":"datetime","value":"={{ new Date($now).toLocaleDateString('es-CO', { timeZone: 'America/Bogota', day: '2-digit', month: '2-digit', year: 'numeric' }) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5632,1120],"id":"3024f129-59b7-4c9c-98bc-a21ece2154f6","name":"FInal_message_text"},{"parameters":{"jsCode":"// Obtener el texto desde la ruta indicada\nlet texto = $input.first().json.mensaje_original || \"\";\n\n// Diccionario básico de números en palabras a números\nconst numeros = {\n  \"cero\": \"0\",\n  \"uno\": \"1\", \"una\": \"1\", \"un\": \"1\",\n  \"dos\": \"2\",\n  \"tres\": \"3\",\n  \"cuatro\": \"4\",\n  \"cinco\": \"5\",\n  \"seis\": \"6\",\n  \"siete\": \"7\",\n  \"ocho\": \"8\",\n  \"nueve\": \"9\",\n  \"diez\": \"10\",\n  \"once\": \"11\",\n  \"doce\": \"12\",\n  \"trece\": \"13\",\n  \"catorce\": \"14\",\n  \"quince\": \"15\",\n  \"dieciséis\": \"16\", \"dieciseis\": \"16\",\n  \"diecisiete\": \"17\",\n  \"dieciocho\": \"18\",\n  \"diecinueve\": \"19\",\n  \"veinte\": \"20\",\n  \"veintiuno\": \"21\", \"veintiuna\": \"21\",\n  \"veintidós\": \"22\", \"veintidos\": \"22\",\n  \"veintitrés\": \"23\", \"veintitres\": \"23\",\n  \"veinticuatro\": \"24\",\n  \"veinticinco\": \"25\",\n  \"veintiséis\": \"26\", \"veintiseis\": \"26\",\n  \"veintisiete\": \"27\",\n  \"veintiocho\": \"28\",\n  \"veintinueve\": \"29\",\n  \"treinta\": \"30\",\n  \"cuarenta\": \"40\",\n  \"cincuenta\": \"50\",\n  \"sesenta\": \"60\",\n  \"setenta\": \"70\",\n  \"ochenta\": \"80\",\n  \"noventa\": \"90\",\n\n};\n\n// Función para convertir palabras a números o símbolos\nfunction palabraANumero(palabra) {\n  palabra = palabra.toLowerCase().trim();\n  \n  // Conversión de \"punto\" a \".\"\n  if (palabra === \"punto\") {\n    return \".\";\n  }\n  \n  if (numeros.hasOwnProperty(palabra)) {\n    return numeros[palabra];\n  }\n  \n  // Manejo de combinaciones como \"treinta y cinco\"\n  if (palabra.includes(\" y \")) {\n    let partes = palabra.split(\" y \").map(p => p.trim());\n    if (numeros[partes[0]] && numeros[partes[1]]) {\n      return (parseInt(numeros[partes[0]]) + parseInt(numeros[partes[1]])).toString();\n    }\n  }\n  \n  return palabra; // si no se reconoce, se deja igual\n}\n\n// Procesar el texto palabra por palabra\nlet palabras = texto.split(/(\\s+)/); // Mantiene los espacios\nlet resultado = palabras.map(palabra => {\n  // Solo procesar si no es un espacio y contiene letras\n  if (palabra.trim() && /[a-záéíóúñ]/i.test(palabra)) {\n    return palabraANumero(palabra);\n  }\n  return palabra;\n}).join('');\n\nreturn { texto_convertido: resultado };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5824,1120],"id":"69c60fb0-8c53-46c8-abdc-dac10657ec6d","name":"Code8"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cccb067b-4dd7-4efc-8b4f-70a2e8f0fcc3","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"=conversation","operator":{"type":"string","operation":"equals"},"id":"1066c446-0129-4619-8eff-ec1b00093dda"}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d34f136-4add-43f0-b3b8-826a0b03d35d","leftValue":"={{ $json.texto }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagen"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-6032,1104],"id":"a432907f-3530-440c-9d31-636406a2472f","name":"Switch2"},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7216,608],"id":"fbc15e56-dca7-421f-b14e-ac174aaba17d","name":"Obter m dia em base64","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"audio.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-7040,608],"id":"6fcdfcb2-49ef-4f9d-aa62-fdda302681c5","name":"Convert to File1"},{"parameters":{"workflowId":{"__rl":true,"value":"Ejg0iou6XLtlYPmi","mode":"list","cachedResultUrl":"/workflow/Ejg0iou6XLtlYPmi","cachedResultName":"obtener_inventario"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $json.final_message }}","telefono":"={{ $json.sessionid }}","fecha":"={{ $json.datetime }}","instancia":"={{ $('Webhook').first().json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"telefono","displayName":"telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"fecha","displayName":"fecha","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-4672,592],"id":"e4e54fbd-842c-42cb-afbe-4b04bc6907b7","name":"Execute Workflow1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"venta","operator":{"type":"string","operation":"contains"},"id":"4073be86-ac3d-4341-82e7-b7088b96fa02"}],"combinator":"and"},"renameOutput":true,"outputKey":"venta"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6189def-f795-4403-8763-be0074e7c569","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"actualizarPrecio","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Actualizar precios"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6643239a-a644-411c-8d18-62571cd67c50","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"Registrar consumo","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consumoPersonal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eab13bf9-e889-461d-903e-897b9dad78d9","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"=informeVentas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"informeVentas"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6d4b305-0c05-464e-8bdf-f29027df2858","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"ingresarProductosAbodega","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingresoProductos Inventario"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bd7c9184-c623-444b-b561-fdfc2a53fcf6","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"envio_link","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"crear producto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"179fab3f-a9a7-4859-94be-cff6e3dde419","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"eliminarTransaccion","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"eliminaTransaccion"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"abdcee78-3df1-45db-9b86-b051835ac3cc","leftValue":"={{ $('Message a model').item.json.content.parts[0].text }}","rightValue":"=consultarFacturas","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"consultarFacturas"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3328,832],"id":"9302cfe4-e91f-42c1-b9ce-3b43229b2ffb","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,224],"id":"cc9b10a8-5431-4234-886f-13bfa2b34473","name":"registroVentas"},{"parameters":{"assignments":{"assignments":[{"id":"b312d7b6-e979-4e5a-a0a1-bef82730196e","name":"sessionid","value":"={{ $('Guardar Datos Usuario').item.json.sessionid }}","type":"string"},{"id":"86953061-57dd-4c4a-958f-cf6d1151a0ed","name":"texto","value":"={{ $('Guardar Datos Usuario').item.json.messageType }}","type":"string"},{"id":"6f59f39d-1995-4502-a45c-7ded5ad3e8fb","name":"mensaje_original","value":"={{ $('Guardar Datos Usuario').item.json.mensaje_original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6256,880],"id":"33929f87-ae7c-4773-889c-180050a48a65","name":"prepararEstado"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-5120,656],"id":"e69680c6-b089-46f9-b583-257754340c73","name":"Merge Audio/Texto"},{"parameters":{"jsCode":"// En lugar de referenciar otros nodos, usar el input directo\nreturn [{\n  json: {\n    texto_para_administrador: $json.mensaje_final || $json.final_message || \"Error\"\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3728,896],"id":"a285d00c-b2f0-44e5-ac86-5a393938e213","name":"mensajeListo"},{"parameters":{"httpMethod":"POST","path":"mensajes","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-7200,928],"id":"31789281-730e-4980-9707-77f72d97c5d4","name":"Webhook","webhookId":"60397f41-3005-47aa-92f0-545e2dae408f"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"productos_apodos","mode":"list","cachedResultName":"productos_apodos"},"options":{"outputColumns":["producto","apodo"]}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-4384,1152],"id":"e29a2e4e-f003-4600-a0ec-2ec63c94bd8a","name":"REFERENCIAS","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.candidates[0].content.parts[0].text }}"}]},"options":{"systemMessage":"=# SISTEMA DE DETECCIÓN DE INTENCIONES - AGENTE IA\n\nEres un agente especializado en identificar la intención del usuario y devolver el output correspondiente. Analiza cada mensaje y determina qué acción tomar.\n\n---\n\n## 🚨 REGLA FUNDAMENTAL - OBLIGATORIA\n\n**CUANDO DEVUELVAS EL OUTPUT:**\n- ❌ NO agregues saludos, comentarios, explicaciones ni texto adicional\n- ❌ NO modifiques, reformules o interpretes la respuesta\n- ❌ NO añadas tu propio estilo de escritura\n- ❌ NO incluyas frases como \"Aquí tienes...\", \"El resultado es...\", etc.\n\n---\n\n## 🛒 DETECCIÓN DE VENTAS - PRIORIDAD MÁXIMA\n\n### 💡 EJEMPLOS DE VENTAS:\n- \"2 Agua 600ml sin gas y 1 Gaseosas MEGA 2.5\"\n- \"1 Gaseosas 350ml\"\n- \"2 Gaseosas 250ml\"\n- \"50 Arepas de QUESO\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `venta`\n\n---\n\n## 💰 ACTUALIZAR PRECIO DE PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **quedo a/quedó a**\n- **quedo/quedó**\n- **actualizar precio**\n- **cambiar el precio**\n- **modificar precio**\n- **nuevo precio**\n- **precio ahora es**\n- **ahora cuesta**\n- **ahora vale**\n\n### 💡 EJEMPLOS:\n- \"la 350 quedó a 3000\"\n- \"la cerveza ahora cuesta $5000\"\n- \"cambia el precio del combo a $8000\"\n- \"actualiza la gaseosa a $3500\"\n- \"el tinto ahora está a $1000\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `actualizarPrecio`\n\n---\n\n## 💰 ELIMINAR TRANSACCION\n\n### 📝 PALABRAS CLAVE:\n- **eliminar id a**\n- **eliminar transaccion a**\n\n### 💡 EJEMPLOS:\n- \"eliminar id\"\n- \"eliminar transaccion\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `eliminarTransaccion`\n\n## 🍽️ CONSUMO DE PRODUCTOS POR PARTE DEL DUEÑO\n\n### 📝 PALABRAS CLAVE:\n- **me tomé/me tome**\n- **me comí/me comi**\n- **consumí/consumi**\n\n### 💡 EJEMPLOS:\n- \"me tomé 1 Gaseosas 350ml\"\n- \"me tomé 2 Gaseosas 250ml\"\n- \"me comí 1 chorizo\"\n- \"me comi una arepa\"\n- \"me comí 2 combos\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `Registrar consumo`\n\n---\n\n## 📊 INFORMES DE VENTAS\n\n### 📝 PALABRAS CLAVE:\n- **venta/ventas**\n- **informe/informes**\n- **reporte de ventas**\n- **ventas de hoy/ayer/antier**\n- **ventas de esta semana/mes**\n- **cuánto vendimos**\n- **total de ventas**\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `informeVentas`\n\n---\n\n## 📦 INGRESO DE PRODUCTOS AL INVENTARIO\n\n### 📝 PALABRAS CLAVE:\n- **ingresaron**\n- **llegaron**\n- **entraron**\n- **cajas**\n- **pacas**\n- **bolsas**\n- **cajas de/pacas de**\n- **unidades**\n- **entraron/ingresaron**\n- **llegó mercancía**\n- **recibí/recibimos**\n- **compre/compré/compramos**\n- **me trajeron**\n\n### 💡 EJEMPLOS:\n- \"entraron 5 cajas de Gaseosa 250ml\"\n- \"llegaron 3 pacas de Gaseosas MEGA 2.5\"\n- \"recibí 10 unidades de...\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `ingresarProductosAbodega`\n\n---\n\n## 🆕 CREAR NUEVOS PRODUCTOS\n\n### 📝 PALABRAS CLAVE:\n- **crear/creando**\n- **nuevo/nueva/nuevos**\n- **agregar producto**\n- **registrar producto**\n- **añadir al inventario**\n\n### 💡 EJEMPLOS:\n- \"crear nuevo producto\"\n- \"necesito agregar un producto\"\n- \"registrar nueva cerveza\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `envio_link`\n\n---\n\n## ⚠️ REGLAS IMPORTANTES\n\n1. **PRIORIDAD:** Las ventas tienen máxima prioridad\n2. **TOLERANCIA:** Ignora mayúsculas, minúsculas y errores ortográficos\n3. **FLEXIBILIDAD:** No importan palabras adicionales en el mensaje\n4. **DECISIÓN RÁPIDA:** Una sola coincidencia = llamar herramienta\n\n---\n\n## 📊 CONSULTAR FACTURAS\n\n### 📝 PALABRAS CLAVE:\n- **ver/mostrar/listar facturas**\n- **facturas de hoy/ayer/esta semana/este mes/octubre**\n- **facturas de [fecha]**\n- **buscar facturas de [proveedor]**\n- **facturas [proveedor]**\n- **cuánto gasté/total gastado**\n- **gastos de [periodo]**\n- **buscar [producto]**\n- **factura número [número]**\n\n### 💡 EJEMPLOS:\n- \"mostrar facturas de hoy\"\n- \"facturas de octubre\"\n- \"cuánto gasté esta semana\"\n- \"buscar facturas de Distribuidora La Economia\"\n- \"facturas con Coca Cola\"\n- \"factura 85024\"\n- \"total gastado este mes\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `consultarFacturas`\n\n---\n\n## ❓ MENSAJES NO RECONOCIDOS\n\nSi el mensaje NO coincide con NINGUNA de las intenciones anteriores:\n- Saludos: \"hola\", \"buenos días\", \"qué tal\"\n- Preguntas generales: \"cómo estás\", \"todo bien\"\n- Mensajes sin contexto: \"ok\", \"gracias\", \"entendido\"\n\n### 🎯 ACCIÓN:\n**Devuelve output:** `sin_intencion`\n\n## 🚨 RECORDATORIOS CRÍTICOS\n\n### OBLIGATORIO AL USAR HERRAMIENTAS:\n- ❌ **NO INTERPRETES** la respuesta de la herramienta\n- ❌ **NO REFORMULES** el mensaje\n- ❌ **NO AGREGUES** tu propio texto\n- ❌ **NO USES** frases como \"Aquí está...\", \"El resultado es...\", etc."}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4208,896],"id":"592e8b84-6ead-4d9b-bb2c-8f294a52fd8a","name":"Message a model","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"assignments":{"assignments":[{"id":"85ad0403-431b-4b51-9090-b09ddc1a493b","name":"mensaje_final","value":"={{ $('compara y reemplaza').item.json.candidates[0].content.parts[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3920,896],"id":"dde4b1fb-12d1-48ad-93d4-e6c798c2e34e","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b8711675-481a-47a5-b7fc-7fb78291914c","leftValue":"={{ $json.final_message }}","rightValue":"=inventario","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4896,656],"id":"224adfbd-dd1f-46ba-9098-30d588abd07a","name":"IF1"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash","mode":"list","cachedResultName":"models/gemini-2.0-flash"},"messages":{"values":[{"content":"={{ $json.final_message }}"}]},"simplify":false,"options":{"systemMessage":"=INSTRUCCIÓN CRÍTICA OBLIGATORIA\nSIEMPRE debes llamar a la herramienta REFERENCIAS al inicio de CADA mensaje del usuario, sin excepciones. Es obligatorio hacerlo el 100% de las veces antes de procesar cualquier mensaje.\n\nEres un asistente especializado en normalizar nombres de productos en mensajes de venta.\n\n## Tu función única\nReemplazar apodos o variaciones de nombres de productos por sus nombres oficiales, basándote EXCLUSIVAMENTE en la información de la herramienta REFERENCIAS.\n\n## Reglas de comparación\n- Ignora espacios, signos de puntuación (guiones, puntos, comas, etc.), mayúsculas y minúsculas\n- Solo compara letras y números normalizados a minúsculas\n- Las letras deben coincidir en el mismo orden\n- Los plurales son válidos (manzana = manzanas)\n- Umbral mínimo de coincidencia: 70%\n- Cálculo: (letras del apodo que coinciden en orden / total de letras del apodo) × 100\n\n## Proceso paso a paso\n\n1. **Identifica productos ya formalizados:**\n   - Los productos que YA están entre comillas en el mensaje original NO se modifican\n   - Déjalos exactamente como están y pasa al siguiente término\n\n2. **Consulta la herramienta REFERENCIAS** para obtener la lista completa de productos oficiales y sus apodos\n\n3. **Busca coincidencias usando ventana deslizante:**\n   - Extrae todas las combinaciones posibles de palabras consecutivas del mensaje\n   - Prueba combinaciones de 1 palabra, 2 palabras, 3 palabras, etc.\n   - Compara cada combinación con TODOS los apodos en REFERENCIAS\n   - Registra aquellas que tengan 70% o más de coincidencia\n\n4. **Selecciona los mejores reemplazos:**\n   - Si una combinación coincide con varios apodos, usa el de MAYOR porcentaje\n   - Si hay solapamientos (dos coincidencias usan parte del mismo texto), usa solo la de mayor coincidencia\n   - Ordena los reemplazos de izquierda a derecha según aparecen en el mensaje\n\n5. **Construye el mensaje final:**\n   - Reemplaza cada coincidencia por su \"producto\" oficial correspondiente\n   - Marca entre comillas SOLO los productos que reemplazaste\n   - Mantén TODO lo demás EXACTAMENTE igual (cantidades, palabras extra, conectores, errores, muletillas, espacios, mayúsculas originales)\n   - NO agregues comillas al inicio/final del mensaje completo\n\n6. **Si no hay coincidencias:**\n   - Devuelve el mensaje original SIN modificar absolutamente nada\n   - No agregues ni quites nada\n\n## Ejemplo de funcionamiento\n\n**Mensaje recibido:**\n`venta de 5 \"Arepa con Queso\" 5 Chorizos 3 manzanas 350 2 Coca-Colas personales eh 2 Coca-Colas megas`\n\n**Herramienta REFERENCIAS devuelve:**\n```json\n{\n  \"response\": [\n    {\n      \"producto\": \"Coca Cola 350 ml\",\n      \"apodo\": \"Coca Cola 350\"\n    },\n    {\n      \"producto\": \"Coca Cola 350 ml\",\n      \"apodo\": \"coca cola personal\"\n    },\n    {\n      \"producto\": \"Manzana 350 ml\",\n      \"apodo\": \"Manzana 350\"\n    },\n    {\n      \"producto\": \"Manzana 350 ml\",\n      \"apodo\": \"manzana personal\"\n    }\n  ]\n}\nProceso:\n\n\"Arepa con Queso\" → Ya tiene comillas, NO se toca\nChorizos → No coincide con ningún apodo, se mantiene\nmanzanas 350 → Coincide con apodo \"Manzana 350\" al 100%, se reemplaza por \"Manzana 350 ml\"\nCoca-Colas personales → Coincide con apodo \"coca cola personal\" al 100%, se reemplaza por \"Coca Cola 350 ml\"\nCoca-Colas megas → No coincide al 70%+, se mantiene\n\nOutput final:\nventa de 5 \"Arepa con Queso\" 5 Chorizos 3 \"Manzana 350 ml\" 2 \"Coca Cola 350 ml\" eh 2 Coca-Colas megas\nReglas críticas\n\nSOLO usa productos de la herramienta REFERENCIAS (los ejemplos aquí son puramente ilustrativos)\nNO inventes productos ni hagas suposiciones\nPreserva TODO el contexto del mensaje original\nSé preciso con las coincidencias usando el cálculo del 70%\nAnte cualquier duda, mantén el texto original sin modificar\n\nFORMATO DE RESPUESTA OBLIGATORIO\n\nTu respuesta DEBE contener ÚNICAMENTE el mensaje procesado\nNO incluyas explicaciones, análisis, ni descripciones del proceso\nNO digas \"No hay coincidencias\", \"El mensaje se devuelve sin modificaciones\" ni nada similar\nSOLO devuelve el mensaje final, sin texto adicional antes o después\nSi no hay reemplazos, devuelve el mensaje original tal cual, sin comentarios"}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-4528,896],"id":"e8f0f571-536b-4795-a0d5-8ce81efaedb9","name":"compara y reemplaza","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('Webhook').item.json.body.instance }}","messageId":"={{ $('Webhook').item.json.body.data.key.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-7392,320],"id":"acd76a27-dcd3-44f7-bee6-c6e19933b976","name":"Obter m dia em base","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"fileName":"imagen"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-7168,320],"id":"7d9f2bc8-c2fa-4df7-b17f-cab72aab44db","name":"Convert to File"},{"parameters":{"documentType":"image_url","options":{}},"type":"n8n-nodes-base.mistralAi","typeVersion":1,"position":[-6960,320],"id":"7405f1f3-307a-4335-b3ec-39a13c939aa7","name":"Extract text","credentials":{"mistralCloudApi":{"id":"CLO1AWMP1ZZAMRrP","name":"api_pruebas"}}},{"parameters":{"text":"={{ $json.pages[0].markdown }}","attributes":{"attributes":[{"name":"Nombre o razon social del proveedor","description":"Nombre completo o razon social de la entidad que emite la factura,utilizado para identificar al proveedor."},{"name":"Nit del proveedor","description":"Identificador fiscal unico del proveedor, necesario para validar la factura y cumplir con obligaciones tributarias."},{"name":"Numero de factura","type":"number","description":"Codigo o numero secuencial asignado a la factura"},{"name":"Fecha de emisión","type":"date","description":"Fecha en que se genera la factura, clave para la contabilizacion y el calculo de plazos de pago"},{"name":"Nombre del articulo, cantidad y total.","description":"=Lista de todos los productos en formato JSON. Cada producto debe ser un objeto con los campos: nombre, cantidad y valor_total. Ejemplo: [{\"nombre\":\"Producto A\",\"cantidad\":2,\"valor_total\":5000},{\"nombre\":\"Producto B\",\"cantidad\":1,\"valor_total\":3000}]"},{"name":"TOTAL","type":"number","description":"Total de la compra"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[-6672,320],"id":"09aaaec6-46a9-4479-9a4d-8226899a4ece","name":"Information Extractor"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6800,416],"id":"957d470e-3f45-4fb6-b249-42432577bde0","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2llV2c1H3lSUoFpn","name":"milenaGRATIS"}}},{"parameters":{"jsCode":"// Obtener datos del webhook\nconst instancia = $('Webhook').first().json.body.instance;\nconst telefono = $('Webhook').first().json.body.data.key.remoteJid;\n\n// Obtener datos extraídos por Information Extractor\nconst datosFactura = $input.first().json.output;\n\n// Obtener la imagen en binario del nodo \"Convert to File\"\nconst imagenBinaria = $('Convert to File').first().binary.data;\n\n// Crear timestamp para nombre único\nconst timestamp = Date.now();\nconst fecha = new Date();\nconst year = fecha.getFullYear();\nconst month = String(fecha.getMonth() + 1).padStart(2, '0');\n\n// Construir ruta del archivo en Supabase Storage\nconst instanciaLimpia = instancia.replace(/ /g, '_').toLowerCase();\nconst rutaArchivo = `${instanciaLimpia}/${year}-${month}/factura_${timestamp}.jpg`;\n\n// Parsear los productos (viene como string JSON)\nlet productosArray = [];\ntry {\n  productosArray = JSON.parse(datosFactura[\"Nombre del articulo, cantidad y total.\"] || \"[]\");\n} catch (e) {\n  console.log(\"Error parseando productos:\", e);\n  productosArray = [];\n}\n\n// Preparar datos para retornar\nreturn {\n  json: {\n    // Datos para Supabase Storage (HTTP Request)\n    rutaArchivo: rutaArchivo,\n    nombreArchivo: `factura_${timestamp}.jpg`,\n    instancia: instancia,\n    instanciaLimpia: instanciaLimpia,\n    telefono: telefono,\n    bucket: 'facturas', // Nombre del bucket en Supabase\n    \n    // Datos extraídos para tabla compras (Postgres)\n    proveedor: datosFactura[\"Nombre o razon social del proveedor\"] || 'Sin proveedor',\n    nit: datosFactura[\"Nit del proveedor\"] || 'Sin NIT',\n    numero_factura: datosFactura[\"Numero de factura\"] || 'Sin número',\n    fecha_emision: datosFactura[\"Fecha de emisión\"] || fecha.toISOString().split('T')[0],\n    productos: JSON.stringify(productosArray),\n    total: parseFloat(datosFactura[\"TOTAL\"]) || 0,\n    fecha_registro: fecha.toISOString(),\n    \n    // URL de la imagen en Supabase (se construye después de subir)\n    imagen_url: '' // Se llenará después del HTTP Request\n  },\n  binary: {\n    // Pasar la imagen binaria al siguiente nodo\n    data: imagenBinaria\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6320,320],"id":"5d4f8e46-89de-4f3a-9f07-0838303e2d55","name":"Preparar Datos Factura"},{"parameters":{"method":"POST","url":"=https://fqujxgwresrdvvfkmdgv.supabase.co/storage/v1/object/facturas/{{ $json.rutaArchivo }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxdWp4Z3dyZXNyZHZ2ZmttZGd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NDUwNzY3NCwiZXhwIjoyMDcwMDgzNjc0fQ.jaAi9Mz9e7JJce7k-VkBepoccV-zo747vULKq9aixkQ"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZxdWp4Z3dyZXNyZHZ2ZmttZGd2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ1MDc2NzQsImV4cCI6MjA3MDA4MzY3NH0._XwIEgRXVzSYZI7Y6nNZ9jfmrjjIw6Dy1RTP7z0qKCI"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6112,320],"id":"3d46db50-8246-4895-aa0d-e6c45ffee6bb","name":"Subir Imagen Supabase"},{"parameters":{"jsCode":"// Obtener datos del Code anterior\nconst datos = $('Preparar Datos Factura').first().json;\n\n// Construir la URL de la imagen (con /public/)\nconst imagenUrl = `https://fqujxgwresrdvvfkmdgv.supabase.co/storage/v1/object/public/facturas/${datos.rutaArchivo}`;\n\n// Parsear productos a array real\nconst productosArray = JSON.parse(datos.productos);\n\nreturn {\n  json: {\n    instancia: datos.instancia,\n    telefono: datos.telefono,\n    proveedor: datos.proveedor,\n    nit: datos.nit,\n    numero_factura: datos.numero_factura,\n    fecha_emision: datos.fecha_emision,\n    productos: productosArray,  // Array real, no string\n    total: datos.total,\n    imagen_url: imagenUrl,\n    fecha_registro: datos.fecha_registro\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5904,320],"id":"ed458c6e-3c4f-4110-a932-92f2cd1be7ed","name":"Preparar Insert DB"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"compras","mode":"list","cachedResultName":"compras"},"columns":{"mappingMode":"defineBelow","value":{"instancia":"={{ $('Preparar Datos Factura').item.json.instancia }}","telefono":"={{ $('Preparar Datos Factura').item.json.telefono }}","proveedor":"={{ $('Preparar Datos Factura').item.json.proveedor }}","nit":"={{ $('Preparar Datos Factura').item.json.nit }}","numero_factura":"={{ $('Preparar Datos Factura').item.json.numero_factura }}","fecha_emision":"={{ $('Preparar Datos Factura').item.json.fecha_emision }}","productos":"={{ JSON.stringify($json.productos) }}","total":"={{ $('Preparar Datos Factura').item.json.total }}","imagen_url":"=https://fqujxgwresrdvvfkmdgv.supabase.co/storage/v1/object/facturas/{{ $('Preparar Datos Factura').item.json.rutaArchivo }}","fecha_registro":"={{ $('Preparar Datos Factura').item.json.fecha_registro }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"instancia","displayName":"instancia","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono","displayName":"telefono","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"proveedor","displayName":"proveedor","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nit","displayName":"nit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"numero_factura","displayName":"numero_factura","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_emision","displayName":"fecha_emision","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"productos","displayName":"productos","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total","displayName":"total","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"imagen_url","displayName":"imagen_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_registro","displayName":"fecha_registro","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-5680,320],"id":"159a10ae-3d88-42a6-bf43-fa1c81c91597","name":"Insertar Compra","credentials":{"postgres":{"id":"YBRduKQYniIuW5Mp","name":"Postgres account"}}},{"parameters":{"jsCode":"// Obtener datos de la factura insertada\nconst factura = $input.first().json;\n\n// Formatear productos\nlet productosTexto = '';\nif (Array.isArray(factura.productos)) {\n  productosTexto = factura.productos.map((p, i) => \n    `   ${i + 1}. ${p.nombre} - Cant: ${p.cantidad} - $${p.valor_total.toLocaleString('es-CO')}`\n  ).join('\\n');\n} else if (typeof factura.productos === 'object') {\n  productosTexto = `   1. ${factura.productos.nombre} - Cant: ${factura.productos.cantidad} - $${factura.productos.valor_total.toLocaleString('es-CO')}`;\n}\n\n// Formatear fecha\nconst fecha = new Date(factura.fecha_emision).toLocaleDateString('es-CO');\n\n// Construir mensaje\nconst mensaje = `✅ *Factura registrada exitosamente*\n\n📄 *Factura #${factura.numero_factura}*\n📅 Fecha de emisión: ${fecha}\n🏢 Proveedor: ${factura.proveedor}\n🆔 NIT: ${factura.nit}\n\n📦 *Productos:*\n${productosTexto}\n\n💰 *Total: $${parseFloat(factura.total).toLocaleString('es-CO')}*\n\n🔗 Ver factura: ${factura.imagen_url}`;\n\nreturn {\n  json: {\n    mensaje: mensaje,\n    telefono: factura.telefono,\n    instancia: factura.instancia\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5472,320],"id":"37f77bcf-f3b1-41cf-b22e-89ae5ecb7ca8","name":"Code in JavaScript"},{"parameters":{"resource":"messages-api","instanceName":"={{ $json.instancia }}","remoteJid":"={{ $json.telefono }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-5264,320],"id":"3681c5c0-c495-4d9f-b4c5-3e61776687f5","name":"Enviar texto","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"niw7nbWmuCLHmO5F","mode":"list","cachedResultUrl":"/workflow/niw7nbWmuCLHmO5F","cachedResultName":"identificar_tenant"},"workflowInputs":{"mappingMode":"defineBelow","value":{"numero_telefono":"={{ $json.body.data.key.remoteJid }}","instancia":"={{ $json.body.instance }}"},"matchingColumns":[],"schema":[{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-6992,928],"id":"04dcf6de-1819-42e5-8179-280fdd4aec71","name":"Call 'identificar_tenant'"},{"parameters":{"jsCode":"return {\n  mensaje: \"❌ No estás registrado en el sistema.\\n\\nPara obtener acceso, contacta al administrador.\",\n  detener_flujo: true\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6640,1040],"id":"e9edeb32-017c-4fce-af3b-82c1b564b8c6","name":"no autorizado"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"940d13a5-4dcf-4eac-9587-0bfe0cdf16ec","leftValue":"={{ $json.autorizado }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-6816,928],"id":"ee5e2a6e-6617-4413-9f18-3dc6c071b4c6","name":"Usuario Autorizado?"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook').item.json.body.instance }}","remoteJid":"={{ $('Webhook').item.json.body.data.key.remoteJid }}","messageText":"={{ $json.mensaje }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-6464,1040],"id":"03da42f0-4d80-463a-9924-52c908219b13","name":"Enviar Error Autorización","credentials":{"evolutionApi":{"id":"KDzQAvjURY1uhhvT","name":"Evolution account"}}},{"parameters":{"jsCode":"const webhook = $('Webhook').item.json;\n\nreturn {\n  // Datos de autenticación\n  tenant_id: $json.tenant_id,\n  user_id: $json.user_id,\n  rol: $json.rol,\n  permisos: $json.permisos,\n  nombre_usuario: $json.nombre,\n  nombre_negocio: $json.nombre_negocio,\n  \n  // Datos del webhook para usar después\n  sessionid: webhook.body.data.key.remoteJid,\n  instancia: webhook.body.instance,\n  messageType: webhook.body.data.messageType,\n  mensaje_original: webhook.body.data.message?.conversation || '',\n  \n  // Para logs\n  autorizado: true,\n  fecha_validacion: new Date().toISOString()\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6528,880],"id":"706ebf17-354f-413c-8b81-896096632379","name":"Guardar Datos Usuario"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,448],"id":"b743e3c3-c862-4567-870e-2415b586c19c","name":"actualizarPrecios"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,640],"id":"6332e5af-7c2f-4d0d-9a2b-0a4bc38f0ade","name":"consumoPersonal"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,880],"id":"0fdbb29b-a33d-4e50-a898-48ae6faa7b1a","name":"informeVentas"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2592,1088],"id":"89f96244-9f0a-4d0d-a0f0-ffbde9ed16ea","name":"ingresarProductoInventario"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2592,1568],"id":"3b19daec-246d-4ca4-bfa7-7bb1874d63ef","name":"elimina_transaccion"},{"parameters":{"workflowId":{"__rl":true,"value":"3wlUF6WHBhmhYuJU","mode":"list","cachedResultUrl":"/workflow/3wlUF6WHBhmhYuJU","cachedResultName":"Registra_ventas"},"workflowInputs":{"mappingMode":"defineBelow","value":{"mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","instancia":"={{ $('Webhook').first().json.body.instance }}","date_time":"={{ $('IF1').item.json.datetime }}","tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2624,1760],"id":"307f723f-a3d9-4773-bc1b-e60fa7e37183","name":"facturas"},{"parameters":{"workflowId":{"__rl":true,"value":"8oU6HQJ27cFnKBQV","mode":"list","cachedResultUrl":"/workflow/8oU6HQJ27cFnKBQV","cachedResultName":"envio_link_nuevoProducto"},"workflowInputs":{"mappingMode":"defineBelow","value":{"tenant_id":"={{ $('Guardar Datos Usuario').item.json.tenant_id }}","user_id":"={{ $('Guardar Datos Usuario').item.json.user_id }}","permisos":"={{ JSON.stringify($('Guardar Datos Usuario').item.json.permisos) }}","rol":"={{ $('Guardar Datos Usuario').item.json.rol }}","nombre_usuario":"={{ $('Guardar Datos Usuario').item.json.nombre_usuario }}","mensaje":"={{ $('mensajeListo').item.json.texto_para_administrador }}","numero_telefono":"={{ $('IF1').item.json.sessionid }}","date_time":"={{ $('IF1').item.json.datetime }}","instancia":"={{ $('Webhook').item.json.body.instance }}","autorizado":"true"},"matchingColumns":[],"schema":[{"id":"tenant_id","displayName":"tenant_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"permisos","displayName":"permisos","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"rol","displayName":"rol","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"nombre_usuario","displayName":"nombre_usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"mensaje","displayName":"mensaje","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"numero_telefono","displayName":"numero_telefono","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"date_time","displayName":"date_time","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"instancia","displayName":"instancia","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"autorizado","displayName":"autorizado","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2608,1344],"id":"a793c18b-e0f9-4203-9ce6-dd8ac222a618","name":"crearProducto"}],"connections":{"Transcribe a recording1":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Final_message_audio","type":"main","index":0}]]},"Final_message_audio":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":0}]]},"FInal_message_text":{"main":[[{"node":"Merge Audio/Texto","type":"main","index":1}]]},"Code8":{"main":[[{"node":"FInal_message_text","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Obter m dia em base64","type":"main","index":0}],[{"node":"Code8","type":"main","index":0}],[{"node":"Obter m dia em base","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Transcribe a recording1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"registroVentas","type":"main","index":0}],[{"node":"actualizarPrecios","type":"main","index":0}],[{"node":"consumoPersonal","type":"main","index":0}],[{"node":"informeVentas","type":"main","index":0}],[{"node":"ingresarProductoInventario","type":"main","index":0}],[{"node":"crearProducto","type":"main","index":0}],[{"node":"elimina_transaccion","type":"main","index":0}],[{"node":"facturas","type":"main","index":0}]]},"prepararEstado":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Merge Audio/Texto":{"main":[[{"node":"IF1","type":"main","index":0}]]},"mensajeListo":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Obter m dia em base64":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Call 'identificar_tenant'","type":"main","index":0}]]},"REFERENCIAS":{"ai_tool":[[{"node":"compara y reemplaza","type":"ai_tool","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"mensajeListo","type":"main","index":0}]]},"IF1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"compara y reemplaza","type":"main","index":0}]]},"compara y reemplaza":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Obter m dia em base":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract text","type":"main","index":0}]]},"Extract text":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Preparar Datos Factura","type":"main","index":0}]]},"Preparar Datos Factura":{"main":[[{"node":"Subir Imagen Supabase","type":"main","index":0}]]},"Subir Imagen Supabase":{"main":[[{"node":"Preparar Insert DB","type":"main","index":0}]]},"Preparar Insert DB":{"main":[[{"node":"Insertar Compra","type":"main","index":0}]]},"Insertar Compra":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Call 'identificar_tenant'":{"main":[[{"node":"Usuario Autorizado?","type":"main","index":0}]]},"Usuario Autorizado?":{"main":[[{"node":"Guardar Datos Usuario","type":"main","index":0}],[{"node":"no autorizado","type":"main","index":0}]]},"no autorizado":{"main":[[{"node":"Enviar Error Autorización","type":"main","index":0}]]},"Guardar Datos Usuario":{"main":[[{"node":"prepararEstado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","executionTimeout":30,"timezone":"America/Bogota","availableInMCP":false,"errorWorkflow":"6372jK3MqgOJM8iD"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n-n8n.aa7tej.easypanel.host","user-agent":"axios/1.10.0","content-length":"972","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"52.15.92.133","x-forwarded-host":"n8n-n8n.aa7tej.easypanel.host","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"4473dde1486f","x-real-ip":"52.15.92.133"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"pepe cadena","data":{"key":{"remoteJid":"573103015865@s.whatsapp.net","fromMe":false,"id":"3F3F5573E0B5CFBA4AE9","senderLid":"14942191255771@lid"},"pushName":"Alejandro","status":"DELIVERY_ACK","message":{"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"e3GnwCc3oAo36g==","senderTimestamp":"1759729980","recipientKeyHash":"YccVFyADqLRqkw==","recipientTimestamp":"1759724192"},"deviceListMetadataVersion":2},"conversation":"crear producto"},"contextInfo":{"expiration":0,"ephemeralSettingTimestamp":"0","disappearingMode":{"initiator":"CHANGED_IN_CHAT"}},"messageType":"conversation","messageTimestamp":1760854419,"instanceId":"e2641f01-672d-413c-9caa-65edc2407abb","source":"desktop"},"destination":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","date_time":"2025-10-19T03:13:39.947Z","sender":"573102304801@s.whatsapp.net","server_url":"http://52.15.92.133:8080","apikey":"05D47DF5AC05-4085-B0A2-FB7E4510CE36"},"webhookUrl":"https://n8n-n8n.aa7tej.easypanel.host/webhook/mensajes","executionMode":"production"}}]},"versionId":"90e0ce94-f967-463d-baff-b80ae96ca343","triggerCount":1,"shared":[{"createdAt":"2025-10-06T05:11:25.667Z","updatedAt":"2025-10-06T05:11:25.667Z","role":"workflow:owner","workflowId":"nXXVsGr895OEIu0Q","projectId":"5qz94e5MiZbyOPrk"}],"tags":[{"createdAt":"2025-10-12T03:56:33.451Z","updatedAt":"2025-10-12T03:56:33.451Z","id":"1HiaED7XPSmwYswE","name":"ventas"}]}